[2017-04-10 09:58] jlink opened #1 "Allow injection of fixture objects as method parameters"
## Testing Problem

Very often an example (or maybe also a property) requires one or several objects in a given state.

## Suggested Solution

Allow to make those "Givens" explicit by having them injected into an example as a parameter, e.g.

    @Example
    void aStackWithElementsWillReturnLastElementOnPop(Stack aStackWithSingleElementA) {
        assertThat(aStackWithSingleElementA.pop()).isEqu

[2017-06-05 10:39] gtrefs opened #5 "Add todo method to fail parts which need to be done"
## Testing Problem

The problem is actually not specific to the test engine itself. The idea is to have some utility to indicate that some part of the application still needs some work. For example:

[code]
In this way one is able to compile the code while still failing the parts which need refurbishment.

## Suggested Solution
[code]

## Discussion

The advantages I have in mind are the following

[2017-06-05 10:52] gtrefs opened #6 "Enhance documentation and accessibility with code examples explaining the rationale"
## Testing Problem

Currently a lot of code is written with a specific mindset about testing. For example, there are specifications, examples and property based tests. It would be nice to have some code examples which explain the rationale.

## Suggested Solution

Create an own source set or project which contains examples showcasing each feature.
For example, in case of property based tests, the

[2017-06-05 11:07] gtrefs commented on #6
Nevermind, just found the examples in test. It was confused that there is an `example` source set and an `examples` package in test.

[2017-06-05 18:37] jlink commented on #6
You're right that documentation needs a lot of improvement. The examples package is a beginning at best. My plan is to invest into documentation over summer. You're welcome to help of course :)

Von meinem iPad gesendet

[2017-06-05 18:40] jlink commented on #6
Add a few pages to document the common features. Maybe the classes in examples package should be extracted into source set of its own.

[2017-06-05 18:43] gtrefs commented on #6
Maybe it would also make sense to open a gitter channel? Would be nice to have discussion ground beneath the github issue tracker.

[2017-06-07 05:52] jlink commented on #5
What's the drawback of just throwing the exception?

[2017-06-07 08:57] gtrefs commented on #5
`todo` has less code and a well defined semantics: An operation is unsupported because it still needs to be done.

[2017-06-07 15:27] jlink commented on #5
The semantics could be tackled by an appropriate exception message.

So the questions to ponder are:
- Is the saved code worth an additional dependency - and an additional artefact?
- Does the todo-method fit the purpose of a test engine?

I'm currently leaning towards no for both but that's just my gut speaking.

Von meinem iPad gesendet

[2017-06-08 12:07] gtrefs commented on #5
You are right. It does not really fit the purpose of a test engine. I just found the idea quite appealing, because `vavr`, Scala and Kotlin have such a method. But of course, in the environment of a test engine this is unfitting.

[2017-06-10 07:30] jlink commented on #5
Ok. Since we agree I close it.

[2017-06-10 07:30] #5 closed

[2017-11-06 14:50] jlink commented on #6
Can you have a look at the current documentation and tell me if it covers your needs?

http://jqwik.net/user-guide.html

[2017-11-12 21:12] DennisRippinger commented on #6
I have problems comprehending the section about [combining arbitraries](http://jqwik.net/user-guide.html#combining-arbitraries), the example is not using a combiner at all.

[2017-11-12 21:57] jlink commented on #6
Thanks for the catch. Looks like I messed up the documentation examples.
Will fix it.

2017-11-12 22:12 GMT+01:00 Dennis Rippinger <notifications@github.com>:

[2017-11-13 15:14] jlink commented on #6
@DennisRippinger I fixed it. Have a look!

[2017-11-13 17:35] DennisRippinger commented on #6
Much better, thanks

[2017-11-13 20:21] gtrefs commented on #6
Looks pretty solid to me. However, in [`How to use`](http://jqwik.net/user-guide.html#how-to-use) you say that the engine can be used with other engines. Can you provide an example for this? A quick glance into the JUnit 5 docs did not reveal to me how I can run two engines on the same codebase.

Maybe a little [migration guide](http://junit.org/junit5/docs/current/user-guide/#migrating-from-junit

[2017-11-16 19:23] jlink commented on #6
@gtrefs Added a little bit in user guide about combining with other engines.
Migration guide would be an involved endeavour and thus require a new issue...

Closing this issue. Please create a new one for specific ideas about documentation.

[2017-11-16 19:23] #6 closed

[2017-12-13 09:11] 3nigm4 opened #7 "Tutorial on programming your own generators"
## Program your own Generators and Arbitraries

Hello Johannes Link, I find myself checking the site everyday to see whether there is already a tutorial on how to program your own generators. I also wonder whether there could be synergy with a project like https://github.com/benas/random-beans ? Thanks for this exciting project!

[2017-12-13 13:29] jlink commented on #7
Does http://jqwik.net/user-guide.html#combining-arbitraries suit your needs? It's not really a tutorial but gives an example for a domain-specific arbitrary.

What type of generators are you thinking of?

As for the synergy with random-beans: For generators to fit into jqwik they must provide the appropriate shrinking behaviour which an 3rd party could only do if it is build on top of jqwik.
Which

[2017-12-13 15:12] 3nigm4 commented on #7
Hello thanks for your quick reply! [quick confession: junior java dev and also never really used tdd/pbt, but eager to learn]
## Thinking of:
I just want to be able to generate RandomObjects for testing purposes (they are a little bit more involved like a "Person" class with e.g.  "List<Contacts>" ... ).
## Goal:
My idea was to have a tdd workflow where I always implement jqwik generator for class

[2018-01-08 13:46] #7 closed

[2018-02-20 17:11] rkraneis opened #9 "Tuple4 is not public despite being part of the API"
## Testing Problem
To circumvent the limitation of only being able to combine 4 arbitraries, I'd like to group them into tuples, but Tuple4 is not public.

## Suggested Solution

Make Tuple4 public.

## Discussion

Ideally, there would also be some kind of ArbitraryBuilder, as writing them from scratch is quite cumbersome and using my workaround is also not great:
[code]

[2018-02-20 18:27] jlink commented on #9
Tuple4 should definitely be public. I’ll fix it.

As for your original reason: How many arbitraries would you like to combine?

[2018-02-20 19:23] rkraneis commented on #9
I guess there should be a middle ground between Scalas 22 and the current 4. Vavr opts for 8, as does functionaljava. I think for everything larger a workaround like mine is probably OK-ish. It can even be written somewhat shorter if there are small lambdas for the initial combinators.

[2018-02-22 07:08] jlink commented on #9
Made Tuple4 public in https://github.com/jlink/jqwik/commit/1fb691695ee2aedb8e57ef9fd2661ce2094cb1c2

[2018-02-22 08:38] jlink commented on #9
Added possibility to combine up to 8 arbitraries in https://github.com/jlink/jqwik/commit/d8dd9eef19944637fd5196984788aed01a1ec8ab

[2018-02-22 08:39] jlink commented on #9
Available in 0.8.4-SNAPSHOT. Will be released in version 0.8.4.

[2018-02-22 08:39] #9 closed

[2018-02-28 14:13] rkraneis opened #10 "Poor numeric domain coverage when using default arbitraries"
## Testing Problem

Poor numeric domain coverage when using default arbitraries. The property `evenNumbersAreEvenAndSmall` is not falsified by Jqwik 0.8.4 using the default `jqwik.poperties` in the tests below:

[code]

[code]

The other tested frameworks (JunitQuickCheck, QuickTheories, VavrTest) are able to falsify this using default settings but have unusable or no shrinking.

Manually setting

[2018-02-28 14:34] jlink commented on #10
Documenting the range in which random values are generated is surely necessary. I'll put that on top of my todo list.

There is one fundamental question, though, for which I haven't found a good answer yet: How do you determine a good domain range for numeric types? There are a two opposing forces:
- Making the range small leads to higher coverage in the (supposedly more common) area of smaller nu

[2018-02-28 14:56] rkraneis commented on #10
Yes, I fully agree that this is not an easy topic (which is why I also proposed _just_ documenting it). Naïvely I would think that a logarithmic coverage and explicitly including <number>.MIN_VALUE, -1, 0, 1 and <number>.MAX_VALUE _might_ give better all purpose coverage. But you are right, the other (I looked at VavrTest, JunitQuickcheck, QuickTheories and scalacheck) frameworks use a linear dist

[2018-02-28 15:07] jlink commented on #10
FWIW: Integral numbers already include 0, 1, -1, MIN, MAX explicitly. Decimal/floating point numbers also a few more. You don't see them in your example b/c you filter them out.

A logarithmic coverage wouldn't have succeeded in falsifying your case either, would it?

[2018-02-28 15:24] rkraneis commented on #10
Good catch, I did not follow the code completely through :-). The drop off of the logarithmic distribution is actually already much to high. A linear (uniform) distribution would have caught it, as shown in the initial question.

[2018-02-28 15:36] rkraneis commented on #10
And I have to correct myself regarding scalacheck, as this [actually seems to be biased](https://stackoverflow.com/questions/35420016/scalacheck-choose-an-integer-with-custom-probability-distribution).

[2018-03-01 14:04] jlink commented on #10
I chose a different path. Random number generation now uses the whole domain between allowed min and max values. However, the full domain is divided into several partitions so that lower numbers are generated with a higher probability. The cut off point is determined by `Math.max(tries / 2, 10)`.

@rkraneis I tried with your original example and `evenNumbersAreEvenAndSmall` is now successfully fal

[2018-03-01 14:05] jlink commented on #10
Change available in version 0.8.5-SNAPSHOT

[2018-03-01 14:05] #10 closed

[2018-04-07 22:17] brianm opened #12 "Running single parameterized property in IDEA fails to find the property (test)"
## Testing Problem

Running individual jqwik test fails in IDEA with the error:

[code]

This occurs for any parameterized test annotated with `@Property` when you attempt to run a single test. Running an entire test class works fine. Running `@Example` non-parameterized tests works fine.

## Suggested Solution

Fix the test runner?

## Discussion

It is useful to be able to narrow in on a single

[2018-04-07 22:33] brianm commented on #12
Debugging into this, it looks like the discovery request for (byte[], byte[]) param types comes in as `[byte,[byte` which explodicates. I cannot find docs for the protocol for passing in method param type descriptors, and the [javadocs on MethodSelector](https://junit.org/junit5/docs/current/api/org/junit/platform/engine/discovery/MethodSelector.html#getMethodParameterTypes--) are... not awesome.

[2018-04-07 22:46] brianm commented on #12
Confirmed, it happens on arrays but not single objects.

[2018-04-08 09:33] jlink commented on #12
Checked it. Here's what I found...

## Overview

The problem seems to occur only with primitive array types. And it does not occure withing the jqwik part of the execution chain. Which sounds like a good thing for me - because I don't have to fix it - but it's also a bad thing for me - because I CANNOT fix it :-(

## Details

The selector (an instance of class `MethodSelector`) that jqwik gets fro

[2018-04-08 20:09] sormuras opened #14 "Build fails on JDK 10"
## Testing Problem

- Mockito needs an update
- Test classes with `private` constructors are not (no longer?) supported?!
- Gradle 4.7-rc-1 supports "JDK-11-ea" partly...

Log snippets:
[code]

[2018-04-09 09:27] sormuras commented on #12
![image](https://user-images.githubusercontent.com/2319838/38490179-ae5e9784-3be8-11e8-9b6a-a08ac8fe90e9.png)

Looks like a bug in IDEA. The IDE should feed `[B` as the parameter type, @akozlova -- am I right?

[2018-04-09 10:37] akozlova commented on #12
Please see https://github.com/junit-team/junit5/issues/815. IDEA never passes VM names, only source names.

[2018-04-09 11:12] sormuras commented on #12
I remember that one. Wasn't the solution to send `byte[]` instead of a mesh-up like `[byte`?

[2018-04-09 11:32] akozlova commented on #12
I don't remember exactly, but `[Ljava.lang.String;` is similar to `[byte` to me.

[2018-04-09 11:34] sormuras commented on #12
We should take the discussion over to https://github.com/junit-team/junit5/issues/815

@brianm a possible work-around is to use `java.nio.ByteBuffer` for now. Replace `byte[] data` with `ByteBuffer data` in your test method and wrap the bytes with `ByteBuffer.wrap(...)`.

[2018-04-09 12:06] sbrannen commented on #12
This is a bug in IntelliJ.

The supported syntax is clearly documented here:

https://junit.org/junit5/docs/current/api/org/junit/platform/engine/discovery/DiscoverySelectors.html#selectMethod-java.lang.String-

[2018-04-09 12:07] sbrannen commented on #12
`[byte` is neither valid in source code nor in binary.

[2018-04-09 12:36] sbrannen commented on #12
@brianm,

Good point.

I introduced cross referencing in [this commit](https://github.com/junit-team/junit5/commit/d9ae3286d7c59fd4129c8bd29aaf0601aa3d3667).

[2018-04-09 12:45] akozlova commented on #12
This will teach me again to do nothing before I actually can check it. I had a test data for [int array which I thought would be supported. Here is the IDEA issue: https://youtrack.jetbrains.com/issue/IDEA-189846

[2018-04-09 12:49] jlink commented on #14
I cannot reproduce the failing tests with any JDK on my Mac. Tried several versions from several "vendors".

Could it be a Windows-only problem?

[2018-04-09 12:55] sbrannen commented on #12
@akozlova, no worries... We are all quite confident that you will fix it blazingly fast (as always)! 😉

[2018-04-09 16:10] sormuras commented on #14
It was due to the out-dated Mockito version, I guess. Closing this issue as the current build matrix looks good: https://travis-ci.org/jlink/jqwik
The reason JDK 11 fails is not related jqwik - it's a well-know Gradle limitation: https://github.com/gradle/gradle/pull/4976 Target Milestone 4.8-RC-1

[2018-04-09 16:10] #14 closed

[2018-04-11 06:53] CppCoderGermany opened #17 "Discussion FizzBuzz Example #1 in README - Bad Pattern?"
## Question - Not a Testing Problem

What is the different between the #1 example code from [README.md](https://github.com/jlink/jqwik/blob/master/docs/README.md) and this lines of code here?
From README:
[code]
My Code:
[code]
First my code here is very ugly and i will never use some code like that in my projects/at work.
Because assertions inside Loops are an bad pattern.

I don't want to start

[2018-04-11 07:14] rkraneis commented on #17
To chime in from the side, @CppCoderGermany, please care to read what [Property-Based Testing](http://jqwik.net/property-based-testing.html) (the link is from the _Home_ area of the main web site) is all about. TL;DR: You want to test general properties of your code that should hold, e.g. if you append two Strings then the length of the resulting String is alway the sum of the lengths of the two i

[2018-04-11 08:58] CppCoderGermany commented on #17
Thanks to @rkraneis for your comment.

I will give it a try.

[2018-04-25 08:54] Danny02 opened #23 "Do not use ascii as default String character range"
The `DefaultStringArbitrary` class uses `Arbitraries.chars().ascii()` as default character arbitrary.

I think this is very supprising in the least and also makes the method `ascii()` method in `DefaultStringArbitrary` superfluous.

I would recommend to change the default to `Arbitraries.chars().all()`.

At the moment it is not an easy feat to test unicode Strings.

[2018-04-26 10:53] jlink commented on #23
You are right.

Fixed in https://github.com/jlink/jqwik/commit/20b353f8df9ea64c4c6f2e7220abf7e279a4daa1

[2018-04-26 10:53] #23 closed

[2018-05-22 16:36] SashGraf opened #25 "jqwik with JMockit"
Hi,

I tried to use jqwik with JMockit. In this way:

[code]

The `object `is mocked for the JUnit5 test but `null` for jqwik test. Any idea? Is it possible to use any mock frameworks with jqwik?

Thanks
Sash

[2018-05-22 18:40] jlink commented on #25
OK. I eventually found the current documentation:
http://jmockit.github.io/tutorial/Introduction.html#runningTests

I guess the javaagent approach could work with jqwik. Let me know if you try it (successfully or unsuccessfully).

[2018-05-26 15:02] jlink commented on #25
I didn't succeed in making it work either. So you'd probably have to ask the author of @jmockit if there is a programmable way of invoking all the necessary mocking harness. Looking at https://github.com/jmockit/jmockit1/blob/master/main/src/mockit/integration/junit5/JMockitExtension.java shows that there is quite a lot going on...

But maybe there is a more straightforward way to solve the testin

[2018-05-26 15:02] #25 closed

[2018-05-26 15:12] jlink commented on #17
BTW, one of the next main features I will tackle is exhaustive generation of parameters, so that when you specify something like:

`@ForAll @IntRange(min = 1, max = 100) int`

all parameters (or combinations thereof) will be generated - up to a certain limit. That would functionally be equivalent to your code in `fizzBuzz_startsWithFizzEach3thItem_shallBeTrue`.

[2018-05-26 15:12] #17 closed

[2018-05-26 15:13] jlink commented on #12
@akozlova Any news on this front?

[2018-05-28 08:29] akozlova commented on #12
I've created issue in IDEA's tracker (IDEA-189846) and resolved it in the same day. I am not aware of anything else I should do here.

[2018-05-29 14:56] jlink commented on #12
Has been fixed in in IntelliJ: https://youtrack.jetbrains.com/issue/IDEA-189846

Available probably in version 2018.2

[2018-05-29 14:56] #12 closed

[2018-05-29 14:56] jlink commented on #12
@akozlova Thanks, the fix somehow slipped my mind.

[2018-06-19 08:41] tmohme opened #26 "Documentation problem: Broken example"
## Documentation Problem

If I'm not mistaken, the User Guide is wrong in one place. The paragraph "Constraining parameterized types" provides the following example:

[code]

## Suggested Solution

The example should be:

[code]

## Discussion

Btw.: Thanks for this great piece of software & documentation :)

[2018-06-19 09:04] jlink commented on #26
Thanks for the catch!

Fixed in https://github.com/jlink/jqwik/commit/af8a24ccfcff8e7b0124ad4034ce467c3f8e8945

[2018-06-19 09:04] #26 closed

[2018-07-04 08:25] tmohme opened #27 "WARNING: Class 'x.y.z' could not be resolved"
## Test Execution Problem
Under certain circumstances we get the following warning

WARNUNG: Class 'x.y.z' could not be resolved

without understanding why we get it. All tests seemingly were executed successfully.
This happens only with a very specific configuration of maven-surefire, implicating that the root cause probably lies on their ground.
I created a demo project with which the warning ca

[2018-07-06 07:44] jlink commented on #27
## TLDR

It's just a warning that the classes `IdentifierEqualsContract` and `IdentifierLiteralContract` are being tried as test containers but they are not. The warning can be ignored.

## Longer Explanation

The maven option "-Dtest=org.example.*.java" instructs maven to consider all types (classes and interfaces) that match the pattern as potential test containers. That's why maven sends a "res

[2018-07-06 08:36] tmohme commented on #27
Thank you for the explanation.
For me, what you wrote in the "TLDR" section of your comment would be sufficient.
Something like `jqwik was instructed to try class 'x.y.z' as a test container, but it is not (a test container on its own)`.
The current message `Class 'x.y.z' could not be resolved` creates the fear that the tests might not be executed as expected and thus leave you uncovered.
Also the

[2018-07-06 08:46] stse-zuehlke-com commented on #27
Also from me thank you for your explanation.

I would like to suggest that nothing is logged at all in such cases, because nobody would expect that such interfaces/classes are treated as tests or is the message logged by maven or surefire?

[2018-07-06 09:58] stse-zuehlke-com commented on #27
I think the question is: Should the classes which contain only a contract and not an executable test be treated as test containers?. I have forked @tmohme's example (see https://github.com/stse-zuehlke-com/jqwik-warning) and migrated it to plain junit 5 in order to check how jupiter handles such contract interfaces in this case. When I execute "mvn clean test -Dtest=org.example.*.java" then jupite

[2018-07-06 10:07] jlink commented on #27
Did you enable logging for log level DEBUG when you called maven?

[2018-07-06 10:45] stse-zuehlke-com commented on #27
Good question. Nope. But also if I execute "mvn clean test -Dtest=org.example.*.java" with "-X" there are not any debug messages regarding these classes.

[2018-07-06 12:16] jlink commented on #27
Jupiter is doing logging through some additional redirection for reasons not obvious to me.

Anyway, what I will do is change the log level to INFO and adapt the message to something hopefully more understandable like:

`request to resolve class 'x.y.z' as a test container, but it is not a container or does not contain tests`

[2018-07-06 13:10] jlink commented on #27
Hopefully resolved in https://github.com/jlink/jqwik/commit/87d31846eccd11c7b5535d78496fffde6565068e

[2018-07-06 13:10] #27 closed

[2018-07-06 13:13] jlink commented on #27
You might want to try it in 0.8.13-SNAPSHOT

[2018-07-09 09:29] tmohme commented on #27
Confirm that 0.8.13 produces a more helpful message (on INFO level).

[2018-07-20 10:19] annam002 opened #29 "More convenience for String Arbritraries"
## Testing Problem
I often end up writing code like this.

## Suggested Solution

It would be nice if there would be more convenience besides alpha(), ascii() and numeric(), so also something like whitespace() or punctuation().
It would also be nice if the withChars() method would take varags, just like the withSamples() method, to get rid of the overhead of creating a char array.

[2018-07-20 10:40] jlink commented on #29
`withChars` with varargs is easy. I'll do that.

Could you define which chars you would consider to belong to `whitespace()` and `punctuation()`?

BTW, are you aware that you can easily define your own annotations so that you might not need manual code at all in an example like yours above? Here's the section from the user guide:
http://jqwik.net/user-guide.html#self-made-annotations

[2018-07-20 19:36] annam002 commented on #29
Cool, looking forward to the varargs functionality. :)
Defining the chars for whitespace could be tricky, since the question is wether to include newlines or not. Other than that I would check which characters are whitespace in Java and use them. For punctuation, I would suggest the usual characters occuring in written language.
Yes, I am aware that I can write my own annotations, but I think that

[2018-07-21 09:42] jlink commented on #29
Implemented `withChars(char... chars)` in https://github.com/jlink/jqwik/commit/4c36f1c6593b6b368d869d84bdf2acc3afaabf03

Change is available from maven ('https://oss.sonatype.org/content/repositories/snapshots') in version 0.8.15-SNAPSHOT

[2018-07-21 10:39] jlink commented on #29
Implemented `StringArbitrary.whitespace()` in https://github.com/jlink/jqwik/commit/d96b0a5233ca4cf2c12fb181aa4932c4f58bd086

Change is available from maven ('https://oss.sonatype.org/content/repositories/snapshots') in version 0.8.15-SNAPSHOT

[2018-07-21 10:50] jlink commented on #29
Punctuation is a different beast since there is no standard way in Java to determine what a punctuation character is (comparable to `Character.isWhitespace(char)`.

Using all unicode chars allowed according to https://en.wikipedia.org/wiki/General_Punctuation would probably generate characters most people wouldn't expect. Writing your own convenience method like

[code]

seems not too much of a ha

[2018-07-23 09:59] annam002 commented on #29
Ok. Thanks for the quick reaction!

[2018-07-23 10:01] jlink commented on #29
Fixed. Will be publicly available in release 0.8.15

[2018-07-23 10:01] #29 closed

[2018-07-26 09:55] piefel opened #31 "Do not depend on junit-platform-engine for the API"
jqwik comes with a dependency on junit-platform-engine:

    compile("org.junit.platform:junit-platform-engine:${junitPlatformVersion}")

A little surprsingly, this may cause trouble. I have a Maven project that also uses JUnit Jupiter tests and only has the dependency on `junit-jupiter-engine` in the Surefire configuration (Jupiter, in contrast to jqwik, comes with two dependencies, one for the A

[2018-07-26 10:00] jlink commented on #31
Thanks for pointing that out. I'll have a look at it...

[2018-07-26 13:00] jlink commented on #31
If I understand you correctly, it's basically an IntelliJ bug - maybe you can paste in the youtrack ID from youtrack.jetbrains.com so that I can follow the progress.

Creating two artefacts would be
1) quite a big change to the way I currently do releases
2) an additional burden for those users that don't run into your problem

Your second suggestion does also not feel right, because it would lie

[2018-07-27 07:58] piefel commented on #31
It is an IntelliJ problem, that’s correct. There is no YouTrack ticket, only my support ticket which is not public. I don’t see why test discovery should be affected by things on the classpath, but there it is. The IntelliJ test support may depend too much on the structure that JUnit 5 uses itself (separated API and engine).

I don’t know what transparent dependencies are, but assuming you mean tr

[2018-07-27 09:00] jlink commented on #31
"transparent" should be "transitive" of course :-)

Leaving the issue open for the time being sounds like a good suggestion. I will add the related Gradle code in another comment.

[2018-07-27 09:05] jlink commented on #31
@piefel Can you point to an example where I can see the IntelliJ bug or the issue tracker ID for it? I could not reproduce your problem in my experiments.

[2018-07-30 11:05] piefel commented on #31
I can create a small Git repo and share the link.

[2018-08-01 07:00] jlink commented on #12
The fix is included in IntelliJ 2018.2. Everything works as expected :-)

[2018-08-14 05:27] karsaroth opened #32 "Strings include non-character specials"
## Testing Problem

(Version 0.8.14)
A `@ForAll String` currently generates a wide range of characters, defined by Unicode, however, it can also include the characters in the special code block for Non-characters (e.g: U+FFFF). Although technically part of the spec, these characters should never appear in a (valid) Unicode string. I suspect being able to generate an always valid Unicode string is

[2018-08-14 06:33] jlink commented on #32
Thanks for the suggestion. I’ll have a look at it when back from vacation end of August.

[2018-08-28 10:51] jlink commented on #32
I did some research, mainly reading through http://www.unicode.org/faq/private_use.html

Not being a Unicode expert I was wondering if private characters should also be excluded by default?

[2018-08-29 08:46] karsaroth commented on #32
Hmm, I'm no expert either. Since the use case for private characters is when code points are prearanged, I'd assume that anyone wishing to use any of them in a test would want to specifiy explicitly which to use. On the other hand, I believe they do count as assigned characters, so they technically shouldn't cause problems for any standard libraries.

[2018-08-31 12:15] jlink commented on #32
With https://github.com/jlink/jqwik/commit/15058076594199252cd0f704d2b195b57067c576 string generation will not use Unicode noncharacters or private use characters unless explicitly stated.

You might want to test this in version 0.8.15-SNAPSHOT and reopen the issue if you find any problems.

[2018-08-31 12:15] #32 closed

[2018-10-08 06:59] gayatrihimthani opened #34 "Exception while shrinking a BigDecimal within set of values"
Hello,
I am using jqwik and have written a test that generates a BigDecimal Arbitrary; upon failure, when the data shrinks, there's an exception thrown "Number x outside the allowed range <range>". I understood that its happening because precision becomes 1 for the value while it runs shrinking logic. I have attached some screenshots for reference.

![bigdecimal_notshrinking_exception](https://use

[2018-10-08 11:02] jlink commented on #34
Thanks for the catch! Can you attach code with which I can reproduce the bug? This would help me tremendously since I can then debug myself.

[2018-10-08 13:38] gayatrihimthani commented on #34
Actual test case is quite big, below is a smaller simulation of it:

[code]

[2018-10-08 15:40] jlink commented on #34
Thanks. I’ll have a look at it probably later this week.

[2018-10-10 17:39] jlink commented on #34
Just checked your sample property with the latest versions of jqwik (0.8.15 and 0.9.0-SNAPSHOT). Both seem to shrink the value correctly to `3.0` without throwing a JqwikException.

Which version of jqwik are you using? I loosely remember to have fixed a float related shrinking bug in an earlier version...

[2018-10-13 15:07] gayatrihimthani commented on #34
Thank you so much for your reply :)
I was using 0.8.12 version earlier; tested with 0.8.15 now and it worked fine. Just a query here, shouldn't the shrunk value be '2.4' as its the min value from the set that doesn't pass the test?

[2018-10-13 16:35] jlink commented on #34
I was wondering about the best shrunk value in that case myself. The distance function I use will value less decimal places as "closer" to the best possible value. If you have a compellting argument why 2.4 is the better value and how to calculate a general distance function for decimal numbers that will lead to this result I'd be happy to see that raised in a new issue.

[2018-10-13 16:35] #34 closed

[2018-11-07 06:06] 3nigm4 opened #36 "setup test selection by means of tagging with gradle / intellij"
Please help me setup test selection through tagging. I use intellij community 2018.2.5 and gradle 4.8. The jqwik user guide directs me to gradle/junit5 and intellij sites, but none of these solutions work for me.

I have a basic build.gradle:
[code]
and I want to create a "skip" tag like this:
[code]
Adding a test {} block to gradle did not work and also the menue entry shown in the intellij link

[2018-11-07 07:56] jlink commented on #36
Thanks for pointing that out. I forgot to update this section in the user guide.
Have a look at the updated version:
https://jqwik.net/user-guide.html#using-gradles-built-in-support

Most important point: Don't use the old plugin anymore but use Gradle's built-in support.
You'll probably also change to the latest Gradle version (10.2).

Another trap you might fall into: The `@Tag` you'll have to u

[2018-11-12 17:09] jlink opened #37 "Split API and Implementation in two Artifacts"
## Testing Problem

Dependency surface could be smaller if API and implementation would be split in two.

Disadvantage: You have to specify two dependencies in Gradle/maven. Unless https://github.com/junit-team/junit5/issues/1669 will be realized.

## Problems

`net.jqwik.api.Arbitraries` has many static methods that delegate to implementation classes. Resolving that without using Java's module sy

[2018-11-25 13:14] jpotecki opened #39 "Same erasure when expanding @Odd annotation"
## Testing Problem

I followed the documentation for the implementation for `@Odd` but quickly ran into an issue when I wanted to add a `configure` method for `BigInteger`.
[code]

## Suggested Solution

It would be great the documentation could give some more instructions how to create such an overloaded `configure` method.

[2018-11-25 14:06] jpotecki commented on #39
good idea for the workaround! Will do that for now :)

[2018-11-25 16:50] jlink commented on #39
Commit https://github.com/jlink/jqwik/commit/06512504871b8cd4bc4904703b297fb80f839129 adds a possibility to accept only certain target types.

See reworked user-guide: https://jqwik.net/user-guide.html#arbitrary-configuration-example-odd

Will be available in 0.9.3. Already available in 0.9.3-SNAPSHOT.

[2018-11-25 16:51] jlink commented on #39
Feel free to reopen the issue if solution does not fit your problem.

[2018-11-25 16:51] #39 closed

[2018-11-27 19:26] jpotecki opened #40 "Combinator with more than eight arbitraries"
## Creation of a combinator with more than eight arbitraries

In the doc it says, that I should create an issue, once I need more than eight arbitraries, so here I am :)
Unfortunately all those arbitraries have different types, so I cannot use `Combinators.ListCombinator<T> ` as input.
An hacky way to create Objects with more than 8 fields might be to use the `@interface` and then pass those to ea

[2018-11-28 11:35] jlink commented on #40
I have two answers for you, a simple one and a right one.

## Simple Answer

You can always combine arbitraries in several steps, e.g.

[code]

I haven compiled the code but you get the idea.

## Right Answer

With so many individual parts there are most certainly domain concepts hidden somewhere. Those domain concepts should be domain classes and then get their own arbitrary providers. In this ca

[2018-12-04 14:28] purpleP opened #41 "Support property testing with Spring and SpringBoot"
## Testing Problem

Right now I can't use jqwick with Spring because without `@Test` annotation nothing is autowired by spring. But with `@Test` annotation `jqwik` doesn't work.

My suggestion is to give ability to use properties inside normal junit tests.

[2018-12-04 14:38] jlink commented on #41
Many thanks for the comment. To be frank I've been waiting for such a suggestion :-) I'd love to see a concrete example of how you want to use properties in a Spring context. Under the hood jqwik already has something similar to Jupiter's extension model, so it wouldn't be too hard to write a Spring extension.

What I won't do is implementing jqwik as a Jupiter extension so that it can work with o

[2018-12-04 14:53] purpleP commented on #41
@jlink Unfortunately I don't have any clue of how Spring and Jupiter work in tests (coming from using Hypothesis in python with pytest and QuickCheck in haskell it seems over-complicated to me), so I don't have any clue about implementation details. What I do know is that there's lot of Spring code out there and it would benefit from property based testing.

[2018-12-04 17:17] jlink commented on #41
OK. I'll change the title of the issue to "Support property testing with Spring and SpringBoot" and take it as a driving use case for enhancing jqwik's extension model. Might take a while, though, until it gets on the top of the feature list.

[2018-12-06 17:54] jpotecki commented on #40
Hi,
thanks for the provided information. Indeed `Tuple3` would solve my issue.
Regarding the `Right Answer`:
Let us stick to the case, where we want to create a `Customer`
I understand that creating a AddressArbitraryProvider` and e.g. a `BirthdayInformationArbitratryProvider` would be the preferred way to handle these cases. It would be nice to be able to combine these providers if necessary.

[2018-12-07 10:41] jlink commented on #40
So you want to combine arbitraries that are already handled by registered arbitrary providers?
You can do this:

[code]

[2018-12-19 19:49] jlink commented on #31
Has hopefully been resolved with https://github.com/jlink/jqwik/issues/37

[2018-12-19 19:49] #31 closed

[2018-12-19 19:50] jlink commented on #36
Clarification seems to have been sufficient.

[2018-12-19 19:50] #36 closed

[2018-12-19 19:51] jlink commented on #40
I'd like to close the issue. Any more problems with that or further questions?

[2018-12-28 12:40] jlink commented on #36
No worries.

[2018-12-30 15:08] #40 closed

[2019-01-07 12:51] Sir4ur0n opened #43 "Why the need for @ForAll"
Surprisingly I could not find any issue that tracks this need, while the documentation states:

I think this is verbose to put `@ForAll` on every single parameter, and I think we all agree that it's the default need for everyone to inject random parameters.

Is it a technical limitation?

[2019-01-07 13:11] Sir4ur0n opened #44 "Generate random beans"
I guess a lot of developers using Property Based Testing are also keen on functional programming (where PBT originated), and thus have immutable dumb POJOs to store data. Building generators for these is annoying in Jqwik because I have to build a random value for each field and then invoke the constructor or setters.
This issue was already slightly discussed in #7 (with Random Beans) but unfortun

[2019-01-07 15:33] Sir4ur0n commented on #43
I don't think the intent is that much of a deal. When one wrote `@Property` I think it's quite explicit they're trying to write a property holding for all inputs, it's the default for property tests.
Since it's probably the 80% or the 95% of use cases, I'd rather make it implicit and by default, and instead have an annotation to disable automatic injection for the 5% or 20%. Ideally, a meta annota

[2019-01-07 17:57] jlink commented on #44
I did a short dive into junit-quickcheck's complex types examples. I hope that there's a solution with fewer API methods.

Would something like
[code]
fit the scenarios you're thinking of? Parameter `constructor` can be optional if there's only one constructor available. The straightforward implementation I have in mind would only work if all ctor parameters can be provided out of the box or by re

[2019-01-07 22:47] Sir4ur0n commented on #44
In my experience, we often have rich POJOs made out of smaller POJOs. Those rich POJOs definitely need some additional constraints on some fields (e.g. a price cannot be negative), however many other fields accept all their type space (POJO, enums, Strings, UUID, collections...).
Writing by hand manual generators for each sub-POJO is already a PITA, having to craft everything manually for each sin

[2019-01-08 07:30] jlink commented on #44
A propos Haskell: Algebraic types allow stricter domain modelling than Java's type system does. Thereby the percentage of total functions (a function that is valid for all possible inputs) can be much higher if you use this capability to restrict types to allow only what the domain does. In that case you don't need additional constraints for value generation in properties since the type already ha

[2019-01-08 13:53] Sir4ur0n commented on #44
I'm actually skeptical, because imagine you have 2 constructors: an empty one (mandatory for some stuff) and one with all fields.
Obviously you don't want an arbitrary that doesn't fill any field, so you need every time to get a reference to the full constructor:
[code]
Which, again, seems unnecessarily verbose.

I just took a look at the `fieldsOf()` reflection mechanism of junit-quickcheck and i

[2019-01-08 14:05] jlink commented on #44
The fieldsOf approach won't consider any constraints applied in the constructor.

What I could do: Use all non-private constructors that have parameters and choose randomly between them.

[2019-01-08 18:17] jbduncan commented on #41
I believe this issue will be easier to implement if or when https://github.com/junit-team/junit5/issues/1722 is implemented.

[2019-01-16 20:23] j0rd1smit commented on #41
Yeah this would be awesome

[2019-01-19 19:33] pholser commented on #43
When I started junit-quickcheck, the way you wrote property-based tests with it was to use the `Theories` runner and mark the randomized parameters with the annotation `@ForAll`. This was to leverage the `ParameterSupplier` capability of the `Theories` runner -- that is how the runner was told what values to invoke your PBT with. When junit-quickcheck began supplying its own runner (`JUnitQuickche

[2019-01-20 03:12] behrangsa opened #45 "Add support for parallel execution of tests"
## Testing Problem

Let's pretend we have the following test case:

[code]

When we run this test on a computer that has [4/8, 8/16, 16/32, or 32/64 cores/threads](https://en.wikipedia.org/wiki/Ryzen#Desktop), splitting the test space into 8, 16, 32, or 64 partitions each running in a different thread can significantly decrease the run time of the test.

## Suggested Solution

Add an attribute to

[2019-01-21 07:30] jlink commented on #45
This feature makes sense considering that Junit 5 Jupiter already has it: https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution

There are, however, at least two axes that can be used to parallelize:
1. Run different properties/tests in parallel
2. Run different parameter sets of same property in parallel

Option 1 is easier because the potential for concurrency proble

[2019-01-23 11:51] jlink commented on #43
The case for making `@ForAll` optional does not look very strong in my opinion. Going bach from optional to required, however, will be a breaking change.

I'll leave this issue open for the time being and wait for more feedback and opinions.

[2019-01-24 11:57] behrangsa commented on #45
Hi @jlink,

Yes, I was looking for the 2nd option, but I think parallelizing on both axes would be even better.

As a first step, we can limit this issue to the easier option. Then later we can implement parallelization in the other axis too.

Another nice to have option, especially when tests are run in CI/CD environments with dozens of agents, is to have a master/worker architecture that distrib

[2019-01-24 13:09] jlink commented on #45
So parallelism is in my backlog. I cannot promise anything about when I'll tackle it, though.

As for a master/worker architecture: Without having thought about it too deeply, my guess is that it must be solved on the JUnit platform level since that is how build tools - and thereby CI tools - talk to jqwik and other engines. So you might want to open an issue on https://github.com/junit-team/junit

[2019-01-30 07:10] jlink commented on #44
Started to work on it. Hold your breath...

[2019-02-01 15:55] jlink commented on #44
I like the current solution. Below is the relevant part from the user guide. Please comment!

## Generation from a Type's Interface

Some domain classes are mostly data holders. They come with constructors
or factory methods to create them and you might want to create different
instances by "just" filling the constructors' parameters with values
that are themselves generated. Using the building bl

[2019-02-14 23:19] jdmarble opened #46 "Add fluent combinator API"
## Testing Problem

I have some classes with many fields that are created using the [builder pattern](https://en.wikipedia.org/wiki/Builder_pattern). When the number of fields is less than 9, I can create arbitraries easily enough:

[code]
There's some extra boilerplate, but it's not a big problem.

When there are many fields, I've been using this pattern:

[code]

I've further reduced boilerplate

[2019-02-15 08:34] blairdye opened #47 "FloatRange for narrow range leads to exception due to implicit conversion"
## Testing Problem

Running this test will lead to the following error after a few iterations

	boolean scaledFloats(@ForAll @FloatRange(min = 2.01f, max = 2.03f) float value) {
		return value >= 2.01f && value <= 2.03f;
	}`

	at net.jqwik.engine.properties.shrinking.ShrinkableBigDecimal.determineTarget(ShrinkableBigDecimal.java:49)
	at net.jqwik.engine.properties.shrinking.ShrinkableBigDecimal.<i

[2019-02-15 14:56] jlink commented on #47
@blairdye Thank for the catch. I'm happy to take a pull request. I'd suggest a slightly different solution, though:

[code]
It's functionally the same, just a bit more obvious for my taste.

[2019-02-16 10:16] jlink commented on #46
I like the idea. Just playing with potential APIs.

Consider those domain classes

[code]

The test could look like this:

[code]

What do you think?

There's a potential problem with the builder instance being reused but one can solve that with lazy generation.

[2019-02-19 17:13] 3nigm4 opened #49 "Usability with failed Tests"
## Problem

I like Jqwik a lot. One thing that bugs when using it, is scrolling through a lot of text before finding the assertion and thus the important information when a test fails.

even if I give the test reporter two thirds of the screen, I can not see the assertion ...

## Suggested Solution

maybe report the assertion in the beginning so that it is immediatly visible !?

<img width="944" a

[2019-02-19 17:28] jlink commented on #49
I'm not quite sure what you mean with "in the beginning". Do you mean before "tries" et al. is reported? In that case it's the IDE that decides when and where reported values are displayed. I'm just using the JUnit platform reporting mechanism.

What I could do is to _redundantly_ report the assertion error's message text (without stack trace) first thing before anything else is reported. Would th

[2019-02-20 11:51] 3nigm4 commented on #49
I think we mean the same thing. Just to be sure.

This is a typical intellij output:
(1)
"C:\Program Files\Java\jdk1.8.0_181\bin\java.exe" ...

(2)
timestamp = 2019-02-20T12:38:40.490
    tries = 10
    checks = 10
    generation-mode = RANDOMIZED
    after-failure = PREVIOUS_SEED
    seed = -8932427284849257286
    original-sample = [-2147483648]
    sample = [-2147483648]

(3)
 .................

[2019-02-20 13:39] jlink commented on #49
I'm still a bit puzzled why (2) and (3) is duplicated.

When I click a single failing test in IntelliJ I only see (4), (5) and (6) depending on the exception and type of failure.

[2019-02-20 15:34] jdmarble commented on #46
That would work well for my use case. I'm slightly turned off by the separated `use`/`in` methods and the implications that has for the implementation, but I could live with it. :)

I was feeling pretty proud of myself with how general my original proposal was. Hypothetically, it could be useful for things other than working with builders. But, it's hard to synthesize another good use case for cha

[2019-02-20 16:13] jlink commented on #46
@jdmarble Could you elaborate the negative implications of use/in?

I introduced use/in because it reads a bit more fluent (for my taste) and it's a bit closer to 'Combinators.combine(...).as(...)'. And  the generality that was in your approach is still preserved.

[2019-02-22 17:06] jdmarble commented on #46
Yes, I can elaborate. Consider the return type of `BuilderCombinator.use`?
* If it is `BuilderCombinator` then the argument to `use` must be stored as state for future calls. In my opinion, superfluous state is at least a small negative. How do we enforce that `in` is called after `use` and only one `in` is called before a `use` and the argument to `use` has a type that matches the argument of `us

[2019-02-23 10:15] jlink commented on #46
@jdmarble Thanks for the valuable feedback.

A statically typed split between use and in requires an additional class indeed. This is a bit more complex to implement. The reason I prefer this API is the symmetry to `Combinators.combine(..).as(..)` which works the same way. I've come to prefer this style of fluent API in recent years since reasonable line breaking is a bit more obvious than breakin

[2019-02-23 12:03] jlink commented on #46
@jdmarble Thanks for the valuable feedback.

A statically typed split between use and in requires an additional class indeed. This is a bit more complex to implement. The reason I prefer this API is the symmetry to `Combinators.combine(..).as(..)` which works the same way. I've come to prefer this style of fluent API in recent years since reasonable line breaking is a bit more obvious than breakin

[2019-02-23 12:21] 3nigm4 commented on #49
You are right, it is that way when you click the failing test. I was reporting the total view of "TestResults" (see picture).

I 'd still prefer if the assertion came before the seed ... and if everything were a bit more grouped and formatted. I can think of a proposal beginning next week ...

[2019-02-23 14:17] jlink commented on #49
Ok. I'm awaiting your ideas...

[2019-02-26 07:21] 3nigm4 commented on #49
Hi there,

after going through a couple of ideas, I realized that most of the things I want to change are not in control of jqwik and I have to admit I do not understand the extent of the proposed change.
Anyway here is my proposal:

--------------- Assumptions ---------------
a) you can not easily change the format of errors reported by third party assertion librarys such as e.g. assertJ
b) becau

[2019-02-26 07:26] 3nigm4 commented on #49
Here is the file used in the pic:

https://github.com/3nigm4/JqwikReportProposal/blob/master/ExampleTestReportHappyPath

As I have also written in the repo, I accept the Jqwik contributors agreement (should this become a contribution).

[2019-02-26 07:50] jlink commented on #49
@3nigm4 Thanks for the carefully thought out suggestion. I will think about ways to realize it and come up with a first attempt in 2 to 3 weeks (due to vacation).

[2019-02-27 11:32] jlink commented on #49
@3nigm4 I attempted a first shot in https://github.com/jlink/jqwik/commit/b1231844a9165e1adbdc62a722a70daaf8fd6b9d

It's available in "1.1.1-SNAPSHOT". Please give it a try and tell me what you think.

[code]

[2019-02-28 09:48] jlink commented on #47
Fixed in https://github.com/jlink/jqwik/pull/48

[2019-02-28 09:48] #47 closed

[2019-02-28 09:49] jlink commented on #49
The latest snapshot also allows to configure that only failures will be reported.

`properties.jqwik`:
`reportOnlyFailures=true`

[2019-03-01 08:52] jlink commented on #46
For the moment, I'll go with `Combinators.withBuilder(...).use(...).in(...).build(...)`.

Implemented in https://github.com/jlink/jqwik/commit/a5348f2404ac635e66ce18d17cdbdcadd91c618b

Available in latest 1.1.1-SNAPSHOT

[2019-03-15 09:03] jlink commented on #49
Will be available in 1.1.1 (deployment ongoing). Feel free to reopen if something should be improved.

[2019-03-15 09:03] #49 closed

[2019-03-15 09:03] jlink commented on #46
Will be available in 1.1.1 (deployment ongoing). Feel free to reopen if something should be improved.

[2019-03-15 09:03] #46 closed

[2019-03-16 10:38] jlink commented on #44
Covered for now. Feel free to reopen or create a new issue for enhancements.

[2019-03-16 10:38] #44 closed

[2019-03-19 10:12] michaelmosmann opened #50 "empty test produces number out of range error"
Version testet: 1.1.1
Java: Oracle Java 8
Kotlin: 1.3.11

## Testing Problem

following kotlin test code ...

[code]

produces following error:

[code]

following code

[code]

works fine:)

## Suggested Solution

should not fail

[2019-03-19 12:19] 3nigm4 commented on #49
Thank you ! I haven't had the opportunity to test it yet, because of a serious family illness. I will get back to you as soon as I can get back to and catch up with work. Thanks for your openness !

[2019-03-19 13:58] jlink commented on #50
Thanks for the catch. I’ll have a look at it.

[2019-03-19 18:22] jlink commented on #50
The generation bug should be fixed in https://github.com/jlink/jqwik/commit/f6dc8c468e258b846fab498e285327765e3bd282 and is available in 1.1.2-SNAPSHOT.

However, what you probably want to do in your property is set the scale (number of interesting decimal places) to 3, so that values between 0.001 and 0.200 will be generated:

[code]

[2019-03-20 02:34] thyming opened #51 "Support for ad hoc usage"
## Testing Problem
Hi, I'm wondering if there's a straightforward way to use jqwik in an ad-hoc manner. By this I mean being able to use its random data generation utilities without having to use the jqwik junit engine to run tests. The specific use case I have is running integration tests in Spring while wanting to reuse the domain-specific arbitrary providers I've written.

## Suggested Solution

[2019-03-20 02:36] thyming commented on #51
Sorry, this is probably a duplicate of #41, feel free to close if you think so.

[2019-03-20 03:51] jlink commented on #51
I think what you want can be done using arbitrary.generator(1000).stream(new Random())

Would that work for your purpose()?

[2019-03-20 05:44] michaelmosmann commented on #50
thanks:)

but we wanted something like @DoubleRange(minExcluding=0.0 ...) so we tried (because we were lazy) min=0.0000001 and then the test failed.. :)

[2019-03-20 07:13] jlink commented on #50
Are you certaing you're using version 1.1.2-SNAPSHOT? I tried to replicate and did not get a failure.
If you still get a failure please provide the exact code.

BTW, you can exclude the borders by using `Assume`:

@Property
fun `what`(@ForAll @DoubleRange(min = 0.001, max = 0.2) @Scale(3) grow: Double) {
   net.jqwik.api.Assume.that(grow != 0.0); // Might not be valid Kotlin code but you get the p

[2019-03-20 07:47] michaelmosmann commented on #50
we can not test with 1.1.2-SNAPSHOT.. but i am sure that the bug is gone:)

and 'Assume.that(grow != 0.0);' is valid kotlin code (you dont need the ';' but it is ok) and worked as expected.. thanks:)

[2019-03-20 07:47] #50 closed

[2019-03-20 14:52] thyming commented on #51
oh yeah, that'll do it i think, thank you!

[2019-03-20 14:52] #51 closed

[2019-03-26 08:20] tmohme opened #52 "Kotlin interoperability"
## Testing Problem

In Kotlin we want to express something like this:
[code]

which is (almost) the equivalent to the following Java code:
[code]

What looks easy and works out of the box with Java produces a `net.jqwik.api.CannotFindArbitraryException: Cannot find an Arbitrary for Parameter of type [@net.jqwik.api.ForAll(value=) List<? extends BigDecimal>]` with Kotlin.
The difference is obviousl

[2019-03-26 14:27] jlink commented on #52
There’s indeed some inconsistency about how built-in arbitrary providers match types. I‘ll have a look at it.

[2019-03-26 14:50] jlink commented on #52
Fixed in https://github.com/jlink/jqwik/commit/22af6555b71dfa2715618e7f96538900f75e5219

Available in 1.1.2-SNAPSHOT

[2019-03-26 14:53] jlink commented on #52
@tmohme Your approach with registering your own provider should also work. `@BigRange` should be applicable as long as your own provider will create instanced of type `BigDecimalArbitrary` or `BigIntegerArbitrary` respectively. If you want I can have a look at that code to see what the problem is.

[2019-03-26 15:03] jlink commented on #52
I'm wondering in what situations Kotlin produces the generic subtype, though. Might lead to quite a few type matching problems in various situations...

[2019-03-27 20:23] tmohme commented on #52
Thx for the super fast reaction :)

Thx for the hint and your offer. As I already wrote, we were probably missing some knowledge (and persistence) here.
Next time we stumble upon some problems, we'll delve a bit deeper into the subject.
No need for you to invest _your_ time when we are just too lazy to do our homework ;)

I'll play a bit with IntelliJ's Kolin byte-code viewer tomorrow . . . maybe

[2019-04-02 15:39] tmohme commented on #52
Just found out that you can use `@JvmSuppressWildcards(suppress = true)` on the test method to avoid this problem.
With this annotation in place the described problem does not exist.

[2019-04-02 15:57] jlink commented on #52
The change is more consistent anyway, And already deployed in 1.1.2. But good to know a workaround exists for future problems.

[2019-04-08 13:30] michaelmosmann opened #54 "jqwik should fail property test instead of ignoring it"
## Testing Problem

following kotlin test

[code]

should fail, but is ignored (guess: name is not annotated but other is).

## Suggested Solution

jqwik should fail such a test.

[2019-04-08 13:48] jlink commented on #54
Well, the test will be marked as ignored together with an ignore message "All parameters must have @ForAll annotation". Depending on your IDE / build tool configuration this can be as obvious as a test failure. What additional information would a test failure provide?

[2019-04-09 11:47] michaelmosmann commented on #54
For me it would be ok to fail this test with this message. AFAIK gradle reports an skipped test (if reporting) is enabled. But if i want gradle to fail the build i must distinguish between this case and a disabled junit test.

For me this is some kind of configuration error.. like @ForAll for a type without an known Arbitrary. It should fail, because i would not expect, that the test will be skipp

[2019-04-11 07:37] michaelmosmann commented on #54
Thanks a lot:)

[2019-04-11 18:40] tmohme opened #55 "JRE dependent "whitespace" generation"
## Testing Problem

Unfortunately what is considered as whitespace character (`Character.isWhitespace(...)`) has changed between Java 8 (OpenJDK) and Java 11 (OpenJDK):
In particular the U+180E ([Mongolian Vovel Separator](https://unicode.org/cldr/utility/character.jsp?a=180e&B1=Show)) counts in Java 8 as whitespace, while it does not in Java 11.

This causes problems because when generating white

[2019-04-13 16:08] jlink commented on #1
Closing for now since a feature very far in the future.

[2019-04-13 16:08] #1 closed

[2019-04-14 11:36] jlink commented on #54
Fixed in https://github.com/jlink/jqwik/commit/d1f899cb18ba2757190443152172397bf74e59f1

[2019-04-14 11:36] jlink commented on #54
Available in 1.1.3-SNAPSHOT

[2019-04-14 11:36] #54 closed

[2019-04-16 16:38] jlink commented on #55
Implemented with https://github.com/jlink/jqwik/commit/64cfac057e0df2cd6be82c65878825a71c4c5c30

[2019-04-16 16:38] jlink commented on #55
Available in 1.1.3-SNAPSHOT

[2019-04-16 16:38] #55 closed

[2019-04-27 08:25] jlink commented on #55
Released in 1.1.3

[2019-04-27 08:25] jlink commented on #54
Released in 1.1.3

[2019-05-15 14:47] jcornaz commented on #43
I agree with @Sir4ur0n.

As soon as one writes `@Property` the intent is clearly to write a property holding for all input. The `@ForAll` is only boilerplate. And I think avoiding the need for boilerplate is always good.

[2019-05-29 11:53] obecker opened #57 "withSamples() broken?"
## Testing Problem

We want to generate a sequence of BigDecimals, however since we encountered already a problem with 0.00 we would like to add this value as a special case to all our property based tests.

From the documentation we thought that using samples is the way to go:

    @Provide
    Arbitrary<BigDecimal> decimals() {
        return Arbitraries.bigDecimals().withSamples(new BigDecimal(

[2019-05-29 11:59] jlink commented on #57
I’ll later check if there’s a bug in withSamples(). However, 0 will be generated anyway as one of the first examples if it is in the range of allowed numbers.

[2019-05-29 13:04] jlink commented on #57
I can replicate the problem. Thanks for catching it.

[2019-05-29 15:17] michailgames opened #58 "Tests with failed setup do not fail gradle build"
## Testing Problem

Given test like this:
[code]
When running jqwik tests with gradle from command line: `gradle test -i`,
the error is printed out:

[code]

but **the test is not reported as failed** and gradle build is finished as successful. This behavior seems to occur since version 1.0.0 (tested on 1.0.0, 1.1.2 and 1.1.4).

When using jqwik version <= 0.9.3 (tested on 0.9.3, 0.9.0 and 0.8.6),

[2019-05-30 10:04] jlink commented on #57
After rethinking the problem I've come to the conclusion that - as strange as it might sound at first - it works as designed. Bear with me, I'll explain why and what you can do to cover your intention...

## Why it works as designed

The declarative way to combine, constrain and modify Arbitrary instances is supposed to specify value generators. And, that's the crucial part, generators are created

[2019-05-30 10:04] #57 closed

[2019-05-30 10:05] jlink commented on #58
Thanks for pointing that out. I'll have a look.

[2019-05-30 10:54] jlink commented on #58
Fixed in https://github.com/jlink/jqwik/commit/67bd680322426bebb8c71d71a56a32ffa9ce6e90

Available in version 1.1.5-SNAPSHOT

[2019-05-30 10:54] #58 closed

[2019-05-30 12:45] michailgames commented on #58
Thanks for the fix! Is there any planned date for 1.1.5 release?

[2019-05-31 08:02] jlink commented on #58
I guess I’ll have time next weekend.

Von meinem iPad gesendet

[2019-06-01 09:47] jlink commented on #58
1.1.5 is available on maven central

[2019-06-06 22:10] sormuras opened #59 "JqwikStringSupport accesses ClassUtils illegally"
### Description

JUnit 5.5 RC1 ships with compiled Java module descriptors hiding internal packages, such as `org.junit.platform.commons.util`.

### Stacktrace
[code]

### Work-around
Pass the following option at test runtime:
`--add-opens org.junit.platform.commons/org.junit.platform.commons.util=net.jqwik.engine`

[2019-06-07 05:26] jlink commented on #59
Thanks for the heads up. Which Java version produces the exception?

Your suggested workaround would require that everybody using jqwik will add the runtime option, right?

[2019-06-07 06:36] sormuras commented on #59
I ran Java 11, iirc. But all Java 9+ runtimes are affected.

Yes. But only when running (tests) on the module path. Thus, almost(!) nobody as of today.

[2019-06-07 06:44] marcphilipp commented on #59
Which `ClassUtils` methods are used?

[2019-06-07 06:46] sormuras commented on #59
https://github.com/jlink/jqwik/blob/master/engine/src/main/java/net/jqwik/engine/support/JqwikStringSupport.java#L10

`ClassUtils.nullSafeToString(Class<?>...)`

[2019-06-07 06:46] marcphilipp commented on #59
Looks like it's just `nullSafeToString` which is available as a public API via `ClassSupport` since JUnit Platform 1.1.

[2019-06-07 06:54] jlink commented on #59
I just removed all dependencies on ClassUtils and StringUtils - and hopefully all other junit internal classes.

[2019-06-07 06:54] jlink commented on #59
Will be available in 1.1.6

[2019-06-07 06:54] #59 closed

[2019-06-09 06:56] Polish-Civil commented on #41
It would be really useful

[2019-06-13 16:37] emmmile opened #61 "Support for Lifecycle Hooks"
## Testing Problem

Probably two issues in one, but I would like to use [JUnit 5 extensions](https://junit.org/junit5/docs/current/user-guide/#extensions) and normal lifecycle annotations like `@BeforeEach`, `@BeforeAll` etc.

I also noticed the warning:
```WARNING: [class ...] has annotation [@org.junit.jupiter.api.extension.Extensions(value={@org.junit.jupiter.api.extension.ExtendWith(value={...

[2019-06-13 17:44] jlink commented on #61
jqwik is not a Jupiter extension but a test engine of its own. As a consequence jqwik has its own lifecycle which differs in large parts from how Jupiter works. That's why Jupiter extensions won't be supported.

I have plans, though, to make the already existing lifecycle public and extensible. Some stuff, like `@Before|AfterEach|All` can be implemented - but I'll definitely use different annotati

[2019-06-13 18:26] emmmile commented on #61
In theory it would be nice to be able to support all of these:

* BeforeEachCallback
* AfterEachCallback
* BeforeAllCallback
* AfterAllCallback
* ParameterResolver

Or at least the last 3. I can give a sketch of what ideally I would like to have, it's not urgent in any way though. It would just be an improvement of how I've written my tests right now.

[code]

[2019-06-14 07:06] jlink commented on #61
Since the lifecycle of jqwik is different, there will probably be hooks for

- Before/After engine
- Before/After container
- Before/After property
- Before/After try

As for parameter injection I'm not sure yet. Given that `@ForAll` parameters require special handling it's not obvious how to tackle that in a consisten way. Easiest is probably to require an explicit annotation like `@Inject` for e

[2019-06-14 07:20] jlink commented on #41
Depends on at least partial implementation of #61

[2019-07-05 08:59] michaelmosmann opened #64 "exclude chars from uD800 to uDEFF in DefaultCharacterArbitrary"
see https://en.wikipedia.org/wiki/UTF-16#U+D800_to_U+DFFF

## Testing Problem

If a String generated by jqwik is serialized as byte stream and read back (f.I. persist to database) encoding errors will lead to different string value.

## Suggested Solution

change method in DefaultCharacterArbitrary:
[code]

[2019-07-05 10:35] jlink commented on #64
I applied the suggested change.

Is available in 1.2.0-SNAPSHOT release.

[2019-07-05 11:23] michaelmosmann commented on #64
thanks. :)

[2019-07-13 17:03] asm0dey commented on #52
Just got following on 1.1.6:

[code]

when signature is as following:
[code]

[2019-07-13 19:57] jlink commented on #52
@asm0dey Looking at the stack trace it should work, so
Since I'm not a Kotlin user: Can you point me to the simplest startup project (Gradle preferred) with which I can test it? And did you try @JvmSuppressWildcards(suppress = true) mentioned earlier in this thread?

[2019-07-13 21:59] asm0dey commented on #52
I have maven only and I'll try to narrow it down to minimum reproducible example .
And yes, I've tried to add annotation, no luck

[2019-07-14 08:01] tmohme commented on #52
For me, the following slightly modified snippet runs flawlessly with Kolin 1.3.41, jqwik 1.1.6, Gradle 5.5.1:
[code]

I guess a complete example-project is required to investigate this.

[2019-07-14 16:42] jlink commented on #52
Just a wild guess: Could it be that Kotlin's nullable type feature leads to a type mismatch with Java's standard types?

[2019-07-14 17:05] asm0dey commented on #52
It could! I had to say that my code under test is written in Java. Does it change anything?

[2019-07-14 17:16] jlink commented on #52
If I only knew. Actually I'll need a repo in order to debug the live running code and see what's going on.

[2019-07-14 17:50] asm0dey commented on #52
And I'm absolutely unable to create simple example :(

[2019-07-14 18:17] jlink commented on #52
Start with giving the full code including class declaration and all imports. Maybe we can work from there.

[2019-07-14 18:28] asm0dey commented on #52
It all starts here: https://github.com/php-coder/mystamps/blob/712c62384be3decb641e8993a8223f01b30d2f29/src/main/java/ru/mystamps/web/util/CatalogUtils.java#L72
I've tried to add tests written in kotlin with jqwik to this method

[2019-07-15 06:49] jlink commented on #52
@asm0dey I cannot find the tests in the repository which are probably the crucial part for tracking the problem.

My current inkling is that your project setup is not correct. If, for example, module `jqwik-engine` is not correctly inserted into the classpath the default arbitrary providers won't be loaded through Java's service loading mechanism which would materialize in the error you observed.

[2019-07-15 09:02] asm0dey commented on #52
Yeah, I didn't commit tests because they didn't work  :) Anyways, I'll recheck everything again and will back to you if won't able to fix. Thank you!

[2019-07-16 10:37] michailgames opened #65 "jqwik hangs during generation of small Sets"
## Testing Problem

The following Set provider:

[code]

seems to hang forever when trying to generate the sets.
But, when ` Arbitraries.of(allowed).set().ofMaxSize(3)` is used, everything is fine.

## Suggested Solution

Probably max set size should be set automatically when generating set from constant number of elements.

[2019-07-16 10:54] jlink commented on #65
Thanks for the catch!
The list jqwik should do is not trying to generate values endlessly.

I'll have to figure out if the automatic setting of maxSize is possible (in a generic way).

[2019-07-16 15:13] jlink commented on #65
Fixed.

Available in 1.2.0-SNAPSHOT

[2019-07-16 15:13] #65 closed

[2019-07-25 07:24] Serranya opened #67 "[Support] Running jqwik with pitest"
Im using [pitest](http://pitest.org/) for mutation testing, this causes spam like this on stderr

[code]

Im not sure that the problem here is. Maybe it's just a configuration issue on my side or an problem with pitest.

But maybe you can shed some light on what these messages mean.

The `No Jqwik properties file [jqwik.properties] found.` log message is clear, but the messages regarding `resolveU

[2019-07-25 07:30] jlink commented on #67
So you know how to get rid of "No Jqwik properties file": Just add the file. Or reconfigure your logger to not print out INFORMATION level entries.

As for the WARNING level logs: In principal id's starting with `[engine:junit-jupiter]` shouldn't be forwarded to other engines besides Jupiter. I'll do some research and get back to you.

[2019-07-25 08:15] Serranya commented on #67
@jlink Some more information:

The tests mentioned in the WARNING messsages are normal jupiter tests. The jqwik tests are defined in classes called `*PropertiesTest`

[2019-07-25 09:14] jlink commented on #67
@Serranya How do you run pitest? Through IDE, Gradle, Maven?

[2019-07-25 09:36] Serranya commented on #67
Im running pitest through maven with the pitest-junit5 plugin

[2019-07-25 09:45] jlink commented on #67
I had a look at pitest's junit 5 plugin. That's where the "problem" is located if you will. Pitest will refer each and every test method by its unique id. This will in the end lead to the warning from the jqwik test engine.

Since I'm going to reconsider jqwik's discovery mechanism for version 1.2.0 anyway, the warnings might go away or become DEBUG level logs. Until then, you should just ignore t

[2019-07-25 09:47] Serranya commented on #67
Ok, thanks for the promt support :)

jqwik is awesome.

[2019-07-26 15:14] jlink commented on #67
Foreign IDs are now _silently_ ignored.

Available in 1.2.0-SNAPSHOT

[2019-07-26 15:14] #67 closed

[2019-07-27 11:20] mhyeon-lee opened #68 "Support pattern(regex) for StringArbitrary"
## Testing Problem

I want to generate a string of sophisticated patterns.
It would be nice to support string patterning like REGEX.

## Suggested Solution

- Email pattern string
[code]

## Discussion

[2019-07-27 15:54] jlink commented on #68
Supporting full regex syntax sounds like a monumental task. What are the basic features you need?

[2019-07-28 01:20] mhyeon-lee commented on #68
@jlink
I need to generate a custom formatted string.
Now, I would like to use the format below.

- Email format
- URL format
- exclude specific char  ( <-> SpringArbitrary#withChars)

[2019-07-28 10:24] jlink commented on #68
What about being a bit more explicit about how those different formats compose, e.g.

[code]

It's definitely more verbose but IMO communicates better how an email (or any other format) is composed.

[2019-07-28 12:33] mhyeon-lee commented on #68
@jlink
Thank you for your guidance.
I am currently using it in a similar way.

[2019-07-28 15:04] jlink commented on #68
The feature is in the backlog. But not scheduled for implementation yet. Thanks for using jqwik!

[2019-07-30 14:52] jburwell opened #69 "[Question] .jqwik-database Lifecycle Management"
What is the guidance for deleting jqwik-database?  Is it advised to delete as part of the Maven clean lifecycle?

[2019-07-30 16:06] jlink commented on #69
In theory you never have to delete it, it should be robust enough to recover from potential error scenarios. That said, you can create different behaviour by (not) deleting it: If you delete it during Maven clean jqwik will create new random seeds for failed properties. That means that after a property fails you cannot be sure it will fail in the next run since the generated sample data will most

[2019-08-02 14:33] owickstrom opened #70 "Initialization takes long time"
## Testing Problem

The initialization of the following property takes a long time (15-20 seconds on my laptop). Reducing the number of generators passed to `oneOf` inside `anyDateAndBirthDate` reduces the time it takes.

[code]

## Suggested Solution

Don't have one. :)

[2019-08-03 13:23] jlink commented on #70
@owickstrom Thanks for the issue.

One little piece of progress in current snapshot 1.2.0-SNAPSHOT already: If you annotate the property like that:

	@Property(generation = GenerationMode.RANDOMIZED)

generation will start immediately since the delay creating initialization can be skipped.
Will keep you posted.

[2019-08-04 11:02] owickstrom commented on #70
Nice! Can I also put that as default in the jqwik.properties and have the same behavior for all my properties?

[2019-08-05 07:33] jlink commented on #70
Bad news and good news.

### Bad news #1
GenerationMode default cannot be controlled in jqwik.properties. I agree that it should though.

### Good news

It's no longer necessary in your case to make the generation mode explicit since exhaustive generation detection will be shortcut much earlier and without noticable delay.

### Bad news #2

1.2.1 will not be released for some time (probably till S

[2019-08-05 14:01] jlink commented on #70
Configuration of generation mode is now also possible: https://jqwik.net/docs/snapshot/user-guide.html#jqwik-configuration

[2019-08-05 14:01] #70 closed

[2019-08-05 14:26] jlink commented on #69
@jburwell Feel free to reopen if anything comes up

[2019-08-05 14:26] #69 closed

[2019-08-05 14:27] #64 closed

[2019-08-05 14:33] jlink commented on #52
@asm0dey Any new insights?

[2019-08-05 18:00] asm0dey commented on #52
Nop. I think we should close this task until I have time to investigate

[2019-08-05 18:56] owickstrom commented on #70
Very cool, I'll try the snapshot when I get the time. Thanks!

[2019-08-05 19:35] #52 closed

[2019-08-11 12:30] t1 commented on #43
I actually like the `@ForAll`, as it makes reading more fluent......... except for maybe `@Every` would be even better, as the property only tests one instance at a time ;-) i.e.:
```@Property should_be_divisible_by_two(@Every @Even @Positive Integer i)```

[2019-08-11 12:58] jlink commented on #43
If you prefer @Every over @ForAll you can define that  annotation and use it. The mechanics to do that are described here: https://jqwik.net/docs/current/user-guide.html#self-made-annotations

[2019-08-11 16:43] t1 commented on #43
I tried
[code]

but I get a `JqwikException: All parameters must have @ForAll annotation`.

[2019-08-11 16:51] jlink commented on #43
Looks like a bug at first glance. I'll have a look at it.

[2019-08-12 06:53] jlink commented on #43
@t1 It was a bug indeed. Using 1.2.1-SNAPSHOT from https://oss.sonatype.org/content/repositories/snapshots will now allow you to user `@Every` instead of `@ForAll`. What does not work are annotation parameters, though. Thus, `@Every("strangeThing")` will NOT use the generator from method `strangeThing`. If you need that please open a new issue in order to discuss it.

[2019-08-12 14:37] jburwell commented on #69
Yes.  When we upgraded from 0.9.x to 1.1.6, our test suite mysteriously failed.  Deleting `jqwik-database` and re-executing the test suite fixed the problem.  This solution caused me wonder how it is intended to be managed,  Currently, we ignore it from source control.  Do you check it in?

[2019-08-12 16:09] jlink commented on #69
Checking it in doesn’t make sense IMO since it will be recreated on each test run.

If you run into a migration problem again I’d be interested in the details.

[2019-08-16 16:41] gtrefs opened #71 "Checking an invariant should return a check result instead of throwing an exception"
The `check` of an `Invariant` fails when an `Exception` is thrown:

[code]

IMO, it would make more sense to return a `CheckResult`. In case the invariant does not hold, it can be `CheckFailure` and otherwise `CheckSuccess`. This makes it easier to work with the API and one knows how to indicate failures. For example:

[code]

[2019-08-20 11:05] owickstrom commented on #70
Confirmed now that it works with the snapshot version. From 17s down to 500ms. Thanks again! :+1:

[2019-08-23 03:19] mhyeon-lee commented on #68
There seems to be a javascript library for creating strings with regex.
I haven't checked how it works.

https://www.browserling.com/tools/text-from-regex

[2019-09-03 05:22] jlink commented on #68
@mhyeon-lee Thanks for the hint. I’ll check it out.

[2019-09-03 06:23] jlink commented on #71
The idea is that you use the same assertions (or assertion library) in your invariant as you use in other checks. Your example would look like

`Invariant<String> invariant = s -> Assertions.fail("I don't like strings");
`

Since the invariant should never be checked explicitly -- but is used internally for model/state based sequence checking -- I don't see how introducing `CheckResult` would simp

[2019-10-02 18:43] abargnesi commented on #68
There is also [mifmif/Generex](https://github.com/mifmif/Generex) which uses [cs-au-dk/dk.brics.automaton](https://github.com/cs-au-dk/dk.brics.automaton) under the covers to generate strings from regular expressions. Both of these are Java libraries.

[2019-10-04 10:10] jlink commented on #68
The problem with external libs in a testing framework is dependency on something that might possibly be in the (transitive) dependency list of a subject under test. That's why I'm fighting hard to not have those external deps in jqwik.

One possible solution is to provide regex generation as external 3rd party extension.
@mhyeon-lee Would you be willing to go for such an extension with my help?

[2019-10-12 01:16] mhyeon-lee commented on #68
@jlink
I'm already wrapping jqwik and trying various extensions.
If it supports 3rd party extension, It would be useful for me.

[2019-10-12 05:13] jlink commented on #68
An Extension API is what I’m currently working on.
For a RegexArbitrary I think you would not need it though.

[2019-10-24 12:29] jlink commented on #70
@owickstrom jqwik 1.2.1 has been released with this fix

[2019-10-30 23:00] gtrefs opened #72 "MissingFormatWidthException when using Statistics"
## Testing Problem

The following code leads to a `MissingFormatWidthException`:

[code]
Stacktrace

[code]
## Suggested Solution

I did not do a proper investigation but my guess is, that the computation of `decimal` in method `createReportEntry` in class `StatisticsControllerImpl` results in a 0, when the counts map has less than 10 entries.

[2019-10-31 00:15] #71 closed

[2019-10-31 00:16] gtrefs commented on #71
Thanks for the explanation.

[2019-10-31 09:39] jlink commented on #72
It's a bug that I'll fix.

Two remarks anyway.

1. Your provider method can be simplified to (Java code):

[code]

2. The way you do it you collect statistics on the actual path contents per path size. If you just want statistics on the path size, something like that will suffice:

    `Statistics.label("path size").collect(path.size());`

   And then the bug will not show up either :-)

[2019-10-31 09:53] jlink commented on #72
Fix available in 1.2.2-SNAPSHOT

[2019-10-31 09:53] #72 closed

[2019-11-01 10:20] gtrefs commented on #72
Thanks for the remarks, I will improve the code.

[2019-11-15 00:34] chisui opened #73 "generated functional interface instances with Type parameters result are sometimes impure"
If you generate instances of functional interfaces whose return type is a type variable of the property function then that instance is not pure.

Example:

[code]

[2019-11-15 06:29] jlink commented on #73
Looks like a bug I’ll check it.

[2019-11-15 11:27] jlink commented on #73
I did some research. The problem you're observing here is not related to the type paramater but to the fact that 'A'  also fits type `Object` (or `List<Object>`). Instances of `Object` are only equal if they are the exact same instance. So you can also observe this behaviour with:

	@Property
	void aInValuePos(
		@ForAll Function<Integer, Object> f,
		@ForAll Integer i
	) {
		Object first = f.appl

[2019-11-16 11:07] jlink commented on #73
Having had one more night to think it over, I'd even say that always returning the exact same object would be wrong, ie. would leave out behaviour that can definitely happen. In a language like Java where you can have objects with identity and changing state it's common behaviour that functions or functional interfaces create those kind of objects - and create them freshly whenever they are being

[2019-11-16 11:07] #73 closed

[2019-11-18 10:17] chisui commented on #73
I understand that this is the way Java objects behave, but it would nice be nice to be able to restrict or filter which types `A` may take in this circumstance, without requiring `A` to be of a concrete subtype. `equals` and `hashcode` are part of the contract of `Object` so they _should_ be implemented correctly. This may not be possible or meaningful all the time. Unfortunately Java doesn't have

[2019-11-18 11:02] jlink commented on #73
The first required feature is rather simple since annotations are already being considered for the usage part of the type variable, thus `@Eq` in

	@Property
	<A, B> void aInValuePos(
		@ForAll Function<@Eq A, @Eq B> f,
		@ForAll A a
	)...

can be used for choosing an arbitrary.

The providers for @Eq and @Hashable are the bigger problem since with the current design of arbitrary provision the pro

[2019-11-18 13:24] chisui commented on #73
The advantage of declaring the Annotations at the variable declaration site would be that you could constrain all usages of that variable.

It would also be kind of inconsistent. In this example:

[code]

would `a` and `b` resolve to different types essentially? `a` resolves to only types that implement `equals` correctly, but `b` would resolve to any `Object`?

---

Regarding the problem that the

[2019-11-19 08:47] tmohme-hypoport commented on #45
We are also trying to use parallel test execution on the class-level.
We achieve this with the mechanisms gradle provides, using parallel test JVMs, so maximum isolation here.
The main thing (executing the tests) works well, but we have issues with jqwik reading/updating its database: We regularly get `java.io.UTFDataFormatException`s in `net.jqwik.engine.recording.TestRunDatabase#readAllTestRuns`

[2019-11-19 16:13] jlink commented on #45
@tmohme-hypoport My guess is that the test run database does not make sense when you run tests parallelly from the outside. Would an option to disable test run recording altogether fit your needs? E.g. setting `database =` in `jqwik.properties`?

[2019-11-20 18:19] jlink opened #74 "Make type variable annotations available to arbitrary providers"
## Testing Problem

Consider a property like that:

[code]

In an arbitrary provider you have access to annotation `@MyAnnotation` through the provided instance of `TypeUsage`. For `anA` and `list` to use the exact same arbitrary will require a duplication of `@MyAnnotation`. It would be preferrable to write:

[code]

## Suggested Solution

Provide the annotations of the variable declaration throu

[2019-11-20 18:45] jlink opened #75 "Implement coverage checking for statistical values"
## Testing Problem

In order to increase trust into your properties you sometimes want to ensure the minimal
statistical occurrence of certain cases and fail if it is not reached.

## Suggested Solution

Analogous to

[code]
implement something like

[code]

## Discussion

The best and most intuitive API is probable not found yet. Some open questions:

- `checkCoverage` might not be the best name

[2019-11-21 08:38] tmohme-hypoport commented on #45
Imho the test run database would still make sense even when running the tests in parallel since the underlying problem it is meant to solve still exists: How to reproduce a failing test.
But I also see that it would probably be a big effort to make the database safe when running multiple tests completely isolated as we do (at least I have no idea for an easy solution).

Right now (in the scenarios

[2019-11-29 15:48] jlink commented on #45
@tmohme-hypoport In version 1.2.2-SNAPSHOT you can now configure

`database=`

and disable test run recording altogether.

[2019-11-29 15:58] jlink commented on #45
@tmohme-hypoport BTW, reproduction of a failing property is still possible because the random seed will be logged and can be used in a manual test run through

[code]

[2019-12-02 12:32] tmohme-hypoport commented on #45
With the modification in 1.2.2-SNAPSHOT ("database=") our build with parallel test execution in multiple VMs runs smoothly without irritating error messages - thx :)
Regarding the reproduction of failing tests: The logged seed came to my mind shortly after my post, but nevertheless thx for the hint.

[2019-12-11 09:47] luvarqpp opened #76 "scalacheck case clases fluent experience"
## Testing Problem

I have used (some time ago) scala language for testing whole project. It was pleasure to have case classes (simple, immutable "data" classes). When there was for example SingUpData class in project, in integration test I can easily create "copy" of given class (to ensure that api wont change) like this:

[code]

Than in test I can use scalacheck generators (extra similar to Arb

[2019-12-11 13:54] luvarqpp commented on #76
Just my first experiment, which I am mostly satisfied. My test class (mimicing fields from real application):

[code]

Than example test usage in integration (relatively slow) test:
[code]

**This raises another question:** Is there some more convenient way how to get single sample value? Using `Arbitrary<UserForTestsBuilder>.generator(0).next(rnd).value()` does:
* need genSize in generator method

[2019-12-12 12:32] luvarqpp commented on #41
Just to add another usecase:
I have some integration tests, which does start full application and in-memory database (spring things with embedded tomcat and H2 in-memory database). I am also not able to directly use PBT in its whole glory. My "workaround" is at the end of this comment.

My testing class is something like this:
[code]

Note, that I am using:
* some autowiring of beans from SUT (sys

[2019-12-12 19:33] rkraneis opened #77 "Arbitraries containing null don't work correctly when used exhaustively"
We want to exhaustively test parameters that can be either null or zero. This seems to be not possible at the moment. In the cases where jqwik automatically selects exhaustive generation (nullOrZero 1, 2 and 4), only null or zero is ever generated, depending on how the arbitrary is created. Forcing random generation on the other hand leads to the generation of both null and zero.
[code]
Test outpu

[2019-12-12 19:36] rkraneis commented on #77
Using ``@ForAll BigRange(min="0",max="0") WithNull(0.5) BigDecimal bd`` seems equivalent to ``nullOrZero3`` and cannot be done exhaustively.

[2019-12-12 19:41] rkraneis commented on #77
Replacing BigDecimal with BigInteger makes ``nullOrZero3`` exhaustive, but seems to also not work. But one interesting observation:
[code]
The tries reported here (2) does not agree with the number of actual runs (1 as evident by the single println call).

[2019-12-12 19:56] rkraneis commented on #77
Minimal test for failing combination:
[code]

[2019-12-13 09:37] jlink commented on #76
I think what you're asking for is to use jqwik's generators as a replacement for test data builders (the pattern described in the famous [GOOS book](http://www.growing-object-oriented-software.com/)).

I've been thinking about that use case for quite a while. What I'm struggling with is coming up with a good (enough) idea to formulate and implement fixed value setting - like your `email(...)`- in

[2019-12-13 09:51] jlink commented on #77
I'm just starting to try understanding what you want to do so bear with me...

Your last example `NullOrZeroTest` succeeds when I try it:

[code]

This is _almost_ what I'd expect. I'm just wondering why `[null, null]` does not show up as 4th example and I will look into this. Is that your point?

When I switch on randomized generation with `@Property(generation = GenerationMode.RANDOMIZED)` it do

[2019-12-13 09:56] jlink commented on #77
[code]

should also be able to be used in an exhaustive generation context. I'll have a look at that as well.

[2019-12-13 09:57] rkraneis commented on #77
Ah yes, sorry, that might have been too much information with too little explanation ;-)
Given ``Arbitraries.of(null, ZERO)``
- it creates null as the only value when used in exhaustive mode for a single parameter
Given ``Arbitraries.of(ZERO, null)``
- it creates ZERO and null as values when used in exhaustive mode for a single parameter
- it creates all permutations but [null, null] when used in

[2019-12-13 09:58] jlink commented on #77
Understood. I'm going to examine that.

[2019-12-13 10:36] jlink commented on #41
What will never (well, for the forseeable future) be possible is to combine jqwik properties (`@Property`) with Jupiter extensions because Jupiter has a completely differenty lifecycle that doesn't combine with jqwik's own lifecycle. But, of course, using jqwik generators directly as you do it here will always be an option.

I recently did some research into enabling spring boot testing into jqwik

[2019-12-13 10:42] jlink commented on #76
@luvarqpp
Just noticed that `@Builder` is provided by Lombok. So, would a recursive `Arbitraries.forType()` and a `Arbitrary.sample()` method fulfill your needs?

[2019-12-13 15:02] jlink commented on #77
Bug concerning handling of null values in exhaustive generation has been fixed. Already available in version 1.2.2-SNAPSHOT. See https://github.com/jlink/jqwik/commit/24ff64ce4a398d04682f09d37dd4059e35630669

Exhaustive generation of `Arbitraries.bigDecimals().between(BigDecimal.ZERO, BigDecimal.ZERO)` is a different beast, which I will tackle next.

[2019-12-13 16:04] rkraneis commented on #77
Thank you for the quick response!

[2019-12-13 16:06] jlink commented on #77
The exhaustive generation of single big decimal range is now also possible (https://github.com/jlink/jqwik/commit/1e4cc247809880652c8854af7f7b013409b919c8) and available in 1.2.2-SNAPSHOT

All of your examples above should now hopefully work as expected.

Thanks for catching two glitches in a single go!

[2019-12-13 16:06] #77 closed

[2019-12-13 20:39] luvarqpp commented on #41
I get it that there are way to different lifecycle. I would like just to add one more usecase from "real life".

To cope with existing limitations, one "solution" came to my mind. What about to use jqwik as  source of values in `@ParameterizedTest`? It does not solve this issue, but it can in my opinion bring some basics of generated data in input. Shrinking can be done probably "by hand", where o

[2019-12-14 17:05] jlink commented on #41
@luvarqpp Writing a source for parameterized tests that uses jqwik under the hood should be doable. Give it a shot! As for PBT in integrated testing: It requires a bit more thinking and obviously more time to run the tests. Nevertheless, when you watch some of John Hughes' presentations you will see that this seems to be his main application of PBT. Since he's more or less the inventor of PBT ther

[2019-12-15 13:33] luvarqpp commented on #76
Hello, thanks for reply. After a while of reasoning:
* I do not need (for now), recurse implementation of Arbitraties.forType() method, through it seems to be handy for many inputs that projects usually needs (invoice with items and other tree like structures)
* Arbitrary.sample(), I would like to have Arbitrary.sample**s**(), because of usage in parametrized jupiter tests can be nice (see our com

[2019-12-15 21:23] luvarqpp opened #79 "NPE exception when forType used with Jupiter"
## Testing Problem

When using `Arbitraries.forType()` method, there is NPE exception, when it is used outside of jqwik test runner (i.e. in junit 5 default, jupiter, runner).

Stacktrace:
[code]

Test code throwing exception is something like this:
[code]

Problem is test engine. I have also one property based test, which is passing ok. Here it is:
[code]

## Suggested Solution

I would check, if

[2019-12-16 09:05] rkraneis commented on #77
Great, thank you!

[2019-12-16 13:59] gtrefs opened #80 "Stateful example and model checking"
## Testing Problem

I think the stateful stack example is not model checking. Or at least the model that is used to verify the implementation is the implementaion itself. Why? Let's revisit the code of `Pop` again:

[code]

Parameter `model` in method `run` is not a model of `MyStringStack` but an instance of the class. That is, in the postconditions the implementation of `MyStringStack` is valida

[2019-12-16 20:36] luvarqpp commented on #45
Just as sidenote, this can already be done using "manual" exclusion of tests and running multiple disjunctive sets of tests. Have a look at jenkins plugin for this approach for example: https://plugins.jenkins.io/parallel-test-executor

[2019-12-16 20:43] luvarqpp commented on #68
Just funny note about valid email address and regexp. It seems way more complex to cover all valid email address: https://www.regular-expressions.info/email.html

[2019-12-16 21:15] luvarqpp commented on #57
One note from me, javadoc for `withSamples` states:

[code]

It does evoke in me, that before generating some random things, provided sample values will be tested at first. This does not happen. All tests use just single value (first from withSamples list).

I would suggest to change javadoc to something like this:

[code]

Second part of my comment. I am not very comfortable with provided solutio

[2019-12-17 07:34] jlink commented on #80
@gtrefs Thanks for starting a discussion I've been trying to avoid for some time ;-)

The example you refer to is definitely not a model-based property but a simple state-based property. Sometimes I can think of sufficiently strong post-conditions and invariants from the implementation itself without having to come up with an explicit model of the intended behaviour. I think it's worth to have an

[2019-12-17 07:57] jlink commented on #57
"It does evoke in me, that before generating some random things, provided sample values will be tested at first. This does not happen. All tests use just single value (first from withSamples list)."

Well, it does happen if ENOUGH EXAMPLES ARE BEING CREATED - this happens e.g. when you use it to fill a list or a set. That said and given the history of it being misunderstood I wonder if `withSample

[2019-12-17 08:03] jlink commented on #79
There could be a (somewhat) useful behaviour outside a property: Just using the global domain context, i.e. use all globally registered arbitrary providers. I might implement that...

[2019-12-17 08:19] luvarqpp commented on #57
Hmmm, ok, deprecating (later removing) `withSamples()` (method which does confuse a few people) is imho nice.

Introducing `withSamplesWithFrequencies`, would be imho introducing same (similar) type of shortcut as `withSamples`. So I will probably would like to see both methods in some helper class (some builder helper or something like that). Probably in testing code of projects which does utiliz

[2019-12-18 08:06] jlink commented on #57
In my experience people develop their individual styles and preferences of how to combine arbitraries. jqwik should enable many or most styles but not necessarily incorporate each variant into its core. Thus I'd rather defer such convenience methods until there's a stronger use case.

[2019-12-18 08:07] jlink commented on #57
BTW, `Arbitraries.withSamples()` has been deprecated in 1.2.2-SNAPSHOT

[2019-12-18 09:46] jlink commented on #76
@luvarqpp

As far as I know there is no persisten store in Jupiter's lifecycle so you'd have to do that on your own - jqwik writes a file.

For coverage checking see https://github.com/jlink/jqwik/issues/75

[2019-12-18 09:50] jlink commented on #76
I added a first implementation of `Arbitrary.sample()` and `Arbitrary.sampleStream()` in 1.2.2-SNAPSHOT.

Here's the newly added part in the user guide: https://jqwik.net/docs/snapshot/user-guide.html#using-arbitraries-directly

There's currently no way to supply your own `Random` instance. `genSize` can be overridden using `Arbitrary.fixGenSize(genSize)` if needed.

I am happy to take feedback.

[2019-12-18 13:52] luvarqpp commented on #76
I am on it. I will try and put here my opinion after some time of using this thing. Just after first use, it seems fine.
PS: Snapshot repo is on url https://oss.sonatype.org/content/repositories/snapshots/ , as stated in [documentation](https://jqwik.net/docs/snapshot/user-guide.html#snapshot-releases).

[2019-12-18 14:17] luvarqpp commented on #32
Link to character-sets has been changed. https://jqwik.net/docs/current/user-guide.html#character-sets

[2019-12-18 15:59] gtrefs commented on #80
Not replying to all of your comments, because this is a lot to digest.

I don't disagree that a model sometimes seems a bit excessive. However, I think there are different mind models in play. Let me explain this. Testing as you did in your tests requires that you trust the top method of your stack works properly. That is you have to trust part of the implementation which you are currently testing

[2019-12-19 07:25] jlink commented on #80
"Testing as you did in your tests requires that you trust the top method of your stack works properly": Not really. Here's the thought experiment: Which broken implementation of `top()` would not be detected by the properties as they are? I'm having difficulties to come up with something.

I think the properties for `MyStringStack` as they currently are have the same strengths and weaknesses as de

[2019-12-19 07:59] luvarqpp opened #81 "`genSize` documentation"
## Documentation Problem

I see that there is too little information about `genSize` parameter in [documentation](https://jqwik.net/docs/snapshot/user-guide.html). I think that newcomers to PBT does not have an idea about, how does `genSize` influence generated data.

## Suggested Solution

Add chapter about `genSize` to documentation, documenting all build-in `Arbitrary`-ies and influence of give

[2019-12-19 08:07] jlink commented on #81
Good idea! Might also require to clean up some of the genSize related code inconsistencies.

[2019-12-19 08:21] luvarqpp commented on #81
Thanks, one more note (separate issue through), you have no reference for "PBT intro", or "further reading". At least [your "translation"](https://github.com/jlink/how-to-specify-it) of [How to Specify it!](https://www.dropbox.com/s/tx2b84kae4bw1p4/paper.pdf) from John Hughes should be there :)

[2019-12-19 08:42] gtrefs commented on #80
"Should postconditions have their own place in state-based properties? I'm also not sure about that because then there'd be two different places in which one can do postcondition checking. Having two options to do the same feels like a bit of a design smell. On the other hand it might make pc checking more obvious. How would you make post-conditions explicit?"

A first step I can think of is to cr

[2019-12-19 08:47] gtrefs commented on #80
"Most of the time results are similar but there are cases where a dedicated sequence creation phase will result in more powerful properties. The downside is that shrinking sequences will get even more complicated."

Can you explain this a bit more?

[2019-12-19 19:29] jlink commented on #81
Apropos "PBT intro": There are links on https://jqwik.net/. See at the end of the page. Do you think there should be different references or should they be in the user guide?

[2019-12-19 19:44] jlink commented on #80
The difference between preconditions and postconditions is that preconditions must be explicit because they are used to determine if an action in the sequence is valid at all. Postconditions are "only" checks that can happen anywhere. That also holds in principle for invariants, which are only special because they span actions. So many design options. Need time to consider. Happy about concrete de

[2019-12-19 19:52] jlink commented on #80
As for generating sequences without considering preconditions: In an extreme case most actions from a randomly generated sequence might not be applicable at runtime when considering preconditions. Since the current approach will notice that only when trying to run the sequence the effective length of sequences might become very short and thus worthless.

Most of the time one can work around such a

[2019-12-20 07:44] luvarqpp commented on #81
Ehm, on main page, I have seen some "fizzbuzz example", no table of content, no big slider (i.e. short page), so I have not bothered reading anything. I just clicked on first link that I have seen: [User guide](https://jqwik.net/docs/current/user-guide.html)...

My opinion is to copy given links to the end of documentation (just before release notes) AND add some small `PBT intro` chapter just bef

[2019-12-20 07:56] jlink commented on #81
I think you have two points:

1. The main page did not grab your interest - and I think it should. What do you mean with "no big slider (i.e. short page)"? I consider the main bar (User Guide, Release Notes etc) to be kind of a TOC.

2. Improving the user-guide. Adding the links seems a good idea. I'm not sure about the intro chapter; that should IMO be the index page itself.  So maybe you do the

[2019-12-20 08:11] luvarqpp commented on #81
1. I am not good at describing UI, so I will try to include picture.
![jqwikMainPage](https://user-images.githubusercontent.com/48614551/71239657-608fc700-2307-11ea-86d6-287b213c8faa.png)

- arrow 1 is pointing to "no big slider". I mean by that the content of main page is rather small. So my mind does does think that content of page have to be full of information (note difference between [data an

[2019-12-20 09:30] jlink opened #82 "Rework jqwik.net Homepage"
Following the discussion with @luvarqpp in https://github.com/jlink/jqwik/issues/81#issuecomment-567834207 a rework of jqwik.net seems necessary.

[2019-12-20 09:31] jlink commented on #81
I opened a new issue for the rework: https://github.com/jlink/jqwik/issues/82

[2019-12-20 11:35] jlink commented on #80
Here's a first take...

Imagine class `StringStack` with the following public interface:

[code]

Given that we want to use a `List<String>` as a model implementation to compare it against, a `Model` usable in model-based property testing could have the following generic interface:

[code]
Using only model state in precondition would allow to use it during sequence generation.
The concrete model f

[2019-12-21 12:32] jlink commented on #80
I made the example runnable. You find it here: https://github.com/jlink/property-based-testing/tree/master/pbt-java/src/test/java/pbt/stateful/stackWithModel

[2019-12-21 12:38] jlink commented on #80
The property looks like that:

[code]

[2019-12-23 11:50] jlink commented on #80
I changed the ModelAction interface to allow for precondition equivalence checking between model and state:

[code]

[2020-01-02 14:15] jlink commented on #79
Fixed in 1.2.2-SNAPSHOT

[2020-01-02 14:15] #79 closed

[2020-01-02 14:16] jlink commented on #79
It now works outside jqwik properties using default global domain, i.e. all globally registered arbtirary providers are considered.

[2020-01-03 16:01] jlink commented on #74
My research suggests that retrieving information about `@MyAnnotation` is not possible through standard java reflection API. I guess that I could solve the problem by using a bytecode library like ASM. Such a dependency seems not worthwhile at the moment so I close this issue as "Won't fix" for the time being.

Anyone having a strong case for that feature or seeing a way to get this info through s

[2020-01-03 16:01] #74 closed

[2020-01-08 04:34] luvarqpp commented on #76
I see no issues till now with `Arbitrary.sample()` method. I am happy with its functionality, through javadoc could have mention also consequences (if any from last discussion still apply) and intended usage (to provide sample values in integration tests, as a replacement of test data builders, as generator of prepared Builder, e.t.c.).

From my point, this issue is closeable. Thanks a lot for fas

[2020-01-08 08:25] jlink commented on #76
I added a few points to the Javadoc: https://github.com/jlink/jqwik/blob/master/api/src/main/java/net/jqwik/api/Arbitrary.java#L356-L375

Does it cover your concerns?

[2020-01-08 09:21] luvarqpp commented on #76
Absolutely.

Should I close this issue, or do you have some established workflow? Imho this is done.

[2020-01-08 09:23] jlink commented on #76
@luvarqpp Thanks for all the input.

[2020-01-08 09:23] #76 closed

[2020-01-17 10:45] jlink commented on #75
Current implementation target

[code]

Similar for labelled statistics:

[code]

[2020-01-17 11:38] luvarqpp commented on #75
1. Sometimes there are more than single parameter. How it will look for a such case? Would be something like this?:

[code]

2. Does `Statistics.check(...)` influence number of examples tested? If I remember correctly, John Hughes has mentioned something like running so much tests, that framework can be "certain", that it is not just bad luck to not have enough percentage of samples to pass check.

[2020-01-17 14:29] jlink opened #83 "Report statistics as histogramm"
## Testing Problem

In https://github.com/jlink/jqwik/issues/75#issuecomment-575592315 it has been suggested to report statistics as a simple ascii graphic diagram.

## Suggested Solution

Report optionally in current form or as histogramm. Inspired by https://tapoueh.org/blog/2014/02/postgresql-aggregates-and-histograms/.

## Discussion

- How should report format be configured?
- How to go about

[2020-01-17 14:51] jlink commented on #75
@luvarqpp Let me comment your remarks...

ad 1) There is already the possibility to combine values on collection. I'm thinking of doing coverage checking analogous, e.g.

[code]

Alternatively something like checkAll would be feasible:

[code]

I also feel that a different kind of statistics API could help here. What if just the raw values were collected and aggregation into classifiers would come

[2020-01-19 17:36] vlsi opened #84 "Support coverage-guided fuzzing"
Hi,

There's https://github.com/rohanpadhye/jqf by @rohanpadhye
The idea here is that a randomized-input generation can be guided based on the feedback from the test execution.

For instance, guidance can observe code coverage and it could attempt to produce inputs that explore uncovered branches.
Another example might be to measure the performance (e.g. performance counters or just heap allocatio

[2020-01-20 10:34] jlink commented on #84
@vlsi Thanks for the suggestion. Guided generation looks interesting. Can you give a concrete example how you imagine the integration of ZEST with jqwik could look like for the user?

As for the integration, it would most probably require a new kind of generation mode and a way to inject the random stream and the guidance. My intuition says it should be possible but it will require deeper understa

[2020-01-20 11:08] vlsi commented on #84
Let us take [Apache Calcite](https://github.com/apache/calcite) as an example.
It is SQL optimization and execution engine.

SQL has expressions (e.g. `foo is null and foo >0`), and, as you might guess, Calcite uses those expressions all over the place.

Of course, there's an implementation of the expression optimizer.
Here's a test for that: https://github.com/apache/calcite/blob/3acb30875525e029

[2020-01-20 11:10] jlink commented on #84
@vlsi As for your second question:

I'm probably never going to do that. Here's my argument:

Jupiter, the default engine, is a jack-of-all-trades, which in turn means that it's not well suited for special needs. Jupiter exentsion points have been designed to be composable, that's  e.g. the reason why JUnit4's model of wrapping the execution of tests and suites was  given up and replaced by before

[2020-01-20 11:25] jlink commented on #84
javaagent configuration is mostly done by the IDE or the build system, so this should be doable.

I still don't get how providing random bytes can _direct_ the generation of certain values since the values generated from certain random bytes cannot really be predicted without knowing the implementation of all generators involved - and that can be many. What do I miss or fail to understand?

[2020-01-20 12:07] vlsi commented on #84
I guess it is described in [zest paper](https://people.eecs.berkeley.edu/~rohanpadhye/files/zest-issta19.pdf).

AFAIK, the idea is pretty much the same as the mutation and selection in a typical genetic optimizer directs the population to the desired goal.
In the same way, Zest mutates the input sequence, and it measures the resulting coverage.

Genetic optimizers do not need to know the implement

[2020-01-20 12:20] luvarqpp commented on #84
I would like to see annotation in line with existing approach. For example:
[code]
PS: I like proposed idea. Does it mean that tuning properties to coverage various cases would not be needed generally? (genetics programming can be good in many cases)

[2020-01-20 12:30] vlsi commented on #84
Frankly speaking, I have no idea at this point. In general, it looks to be useful even without tuning knobs.
ZestGuidance itself has [multiple hard-coded parameters](https://github.com/rohanpadhye/jqf/blob/e1952185f59ef159a48ea4de5cd5d7a7e6f98006/fuzz/src/main/java/edu/berkeley/cs/jqf/fuzz/ei/ZestGuidance.java#L221-L231) that might need to be configurable in the future.
I want to try the thing wit

[2020-01-20 12:37] luvarqpp commented on #84
Thanks for info. I can use it (when integrated with jqwik) as soon as there is something to test. I have spring-data-rest real world project (in alpha version through) which will reach its customers this year and testing is one of our priority.

To find bugs more easily, you can try also "reactive jdbc driver". See its postgresql client code for example: https://github.com/r2dbc/r2dbc-postgresql

[2020-01-20 12:45] vlsi commented on #84
I'm not sure the current [Zest/JQF supports multi-threaded applications](https://github.com/rohanpadhye/jqf/blob/e1952185f59ef159a48ea4de5cd5d7a7e6f98006/fuzz/src/main/java/edu/berkeley/cs/jqf/fuzz/ei/ZestGuidance.java#L890-L898) :-/

[2020-01-20 12:54] luvarqpp commented on #84
Jop, you are right, through using it when business logic is in main thread only, would be OK. See https://github.com/rohanpadhye/jqf/issues/41. On the other side, this is not my case. In spring-data-rest there is some tomcat in main thread (perhaps), or main thread is my [web test client](https://github.com/spring-projects/spring-restdocs/tree/master/samples/web-test-client) (http client, which is

[2020-01-20 15:24] vlsi commented on #84
PS. We can have a small conversation (e.g. Zoom, or https://meet.jit.si/) so screen sharing+voice might be more productive.

JQF implements its own JUnit runner: https://github.com/rohanpadhye/jqf/blob/f0979677984bf61e505104fcbda27b442cc561a1/fuzz/src/main/java/edu/berkeley/cs/jqf/fuzz/JQF.java#L50

which uses FuzzStatement for test execution: https://github.com/rohanpadhye/jqf/blob/f0979677984bf6

[2020-01-20 15:56] jlink commented on #84
Would be cool. When do you have time this week?

[2020-01-20 16:03] vlsi commented on #84
Feel free to select a suitable timeslot (15-20-30 min?) at https://doodle.com/vlsi

[2020-01-20 18:30] jlink commented on #75
Checking of counts is now available in 1.2.3-SNAPSHOT:

[code]

[2020-01-20 21:00] luvarqpp commented on #84
Please, post some "key points" as result of talk if possible. It is nice reading and interesting approach getting alive :)

[2020-01-20 23:10] rohanpadhye commented on #84
Hi! I am the main developer of JQF.

@jlink

I added [an example in the README](https://github.com/rohanpadhye/jqf/blob/master/README.md#example) to demonstrate a good use case. I can copy that here:

[code]

Running only random sampling reveals no assertion violations even after hours of input generation. In fact, most inputs do not even satisfy the `assume()` statement. With JQF we can find an a

[2020-01-21 07:04] vlsi commented on #84
Thanks, that is useful, however, it looks like you answer to a slightly different question.

I agree you need to talk to the instrumentation engine.
And you do that by `SingleSnoop.setCallbackGenerator(guidance::generateCallBack)` in https://github.com/rohanpadhye/jqf/blob/47d20a9e16decc0800227247f029c0f1696afd02/fuzz/src/main/java/edu/berkeley/cs/jqf/fuzz/junit/GuidedFuzzing.java#L163

That is fi

[2020-01-21 07:47] jlink commented on #84
@rohanpadhye

Thanks for chiming in. Much appreciated.

The example is a motivating one that I could strive for to get running with jqwik as a first step. When I try to run it with `mvn jqf:fuzz` but my Maven won't find the jqf plugin. Any hint on that?

As for the instrumenting classloader, would it suffice to load the test container class through this classloader? I'm wondering which kind of lif

[2020-01-21 08:36] rohanpadhye commented on #84
@vlsi

That's a reasonable suggestion and I'll open an issue to make this change.

Yes, that is correct. There wasn't a need for exposing the fuzzing engine as a library as of now. However, if separating components into reusable library-like packages helps projects like jqwik, I am fine with refactoring.

@jlink

I created a standalone example here: https://github.com/rohanpadhye/jqf-zest-example.

[2020-01-21 08:52] rohanpadhye commented on #84
To clarify, this is what the JQF Maven plugin currently does:

https://github.com/rohanpadhye/jqf/blob/143e42f3e070492de8ee34f2a94d4fdac0cb2eeb/maven-plugin/src/main/java/edu/berkeley/cs/jqf/plugin/FuzzGoal.java#L250-L254

I am not sure how to get this effect without using a custom plugin (i.e., how to change the classloader used by `mvn test`).

[2020-01-21 11:02] jlink commented on #84
@rohanpadhye Tried the example a few more times. Eventually I got a unique failure.

After some code reading I guess that integrating JQF with jqwik will require an agent similar to what QuickTheories is doing. Here's an excerpt from https://github.com/quicktheories/QuickTheories#coverage-guidance:

[2020-01-21 11:35] vlsi commented on #84
@jlink

There might be other `guidances`.
For instance, one might want to find an input that triggers pathological memory allocation.

Luckily, there's `ThreadMXBean.getThreadAllocatedBytes` that can provide that information, and it does not really need javaagent or other instrumentation. It is already present in JVM.

So I would expect that jqwik should provide pluggable points for implementation

[2020-01-21 14:01] jlink commented on #84
@vlsi Even then. The dependency on JQF (without Zest) would be too strong IMO to put it into jqwik's core. Alternatively jqwik had to duplicate a lot of what JQF is bringing to the table. What jqwik has to offer in its core is the ability to change the stream of random bytes and to trigger some behaviour after each execution of a property. Given that I'd hope that the rest can be done as a module

[2020-01-21 14:23] vlsi commented on #84
No-one suggested adding a dependency on JQF I guess :)

[2020-01-22 07:27] owickstrom opened #85 "Pretty-printing inputs and outputs"
## Testing Problem

I'm using jqwik with much delight to test Apache Beam pipelines, i.e. integration tests using PBT. The inputs and outputs are generally large data structures, and bugs are found with sequences of inputs that trigger certain behaviour (e.g. a sequence of input elements interspersed with clock commands that cause time to pass in the test).

When jqwik finds a failing example it p

[2020-01-22 07:34] jlink commented on #85
@owickstrom Can you give a specific example of how a structure of your choice should look when being pretty-printed? I'm especially interested in line breaks between different parameters and line breaks within a single parameter.

[2020-01-22 07:51] owickstrom commented on #85
Sure! I can't show you the actual code as it's for a proprietary project, but I can sketch something out.

If we have a test looking something like this:

[code]

Then the Jqwik output might contain:

[code]

Note that I'd prefer every field/value pair to be on a separate line. If the pretty printer could compact small values on a single line then that's fine, but I rather have more lines than lon

[2020-01-22 07:56] jlink commented on #85
@owickstrom Thanks. IMO there's some generic stuff that could be improved and there's the idea of pluggable output formatting. I'll be pondering a bit and get back here.

[2020-01-22 08:34] owickstrom commented on #85
@jlink Sounds good! 👍

[2020-01-22 09:07] luvarqpp commented on #51
Note, `Arbitrary<T>` type now have experimental methods [`Arbitrary<T>.sample()`](https://jqwik.net/docs/1.2.2/javadoc/net/jqwik/api/Arbitrary.html#sample--) and [`Arbitrary<T>.samplesStream()`](https://jqwik.net/docs/1.2.2/javadoc/net/jqwik/api/Arbitrary.html#samplesStream--) for convenient use. See https://github.com/jlink/jqwik/issues/76#issuecomment-566958263 for some discussion and its introd

[2020-01-22 10:55] jlink commented on #84
@vlsi To summarize our talk:
1. We'll together work out a first attempt at a generic `Guidance` interface
2. I'll implement it straightforwardly in a dedicated branch
3. We'll try it out and iterate through implementations that do not require instrumentation, e.g.
    - Performance guidance: Search for long lasting program runs
    - Memory allocation guidance: Search for program runs that consume

[2020-01-22 13:54] luvarqpp commented on #84
Sidenote, if program does use intensive logging (at least in business part of code), it can be 1:1 match to instrumentation of branch coverage. I.e. using logger and source code+line from log events can be used in FizzBuzz example and perhaps also in real project with some level of usefulness.

[2020-01-23 14:29] jlink commented on #75
Percentage checking is now possible:

[code]

[2020-01-23 14:31] jlink commented on #75
Ad hoc queries allow to do simililar stuff:

[code]

[2020-01-23 14:36] jlink commented on #75
BTW, `Statistics` has moved to package `net.jqwik.api.statistics`.

`net.jqwik.api.Statstics` has been deprecated.

Current implementation is available in 1.2.3-SNAPSHOT

[2020-01-24 11:44] jlink commented on #83
A first step is made. You can plug in your own statistics report format like that:

[code]

This can be done starting version "1.2.3-SNAPSHOT"

@luvarqpp Feel free to show an implementation for a histogram if you feel like it ;-)

[2020-01-27 08:43] jlink opened #86 "Case based coverage checking"
## Testing Problem

Current statistics checking as implemented as response to https://github.com/jlink/jqwik/issues/75 can be a bit cumbersome when applied to serveral branches of logic. Consider you want to check that `Math.signum(doubles)` works as expected and that positive, negative and the zero case are covered to some reasonable percentage. As of version "1.2.3" you could go about like that:

[2020-01-28 16:33] jlink commented on #75
Released in version 1.2.3

Documentation is here: https://jqwik.net/docs/1.2.3/user-guide.html#checking-coverage-of-collected-statistics

[2020-01-28 16:34] jlink commented on #81
@luvarqpp Any news on this one? Are you still interested in trying it?

[2020-01-29 11:12] luvarqpp commented on #82
I have this in my low priority TODO list and I hope that 3.2.2020 I will make some draft pull request for main page of jqwik.

[2020-01-29 12:19] luvarqpp commented on #81
@jlink I am not sure, if I will find time to investigate this issue in near time and also if I have enough knowledge about topic (genSize). If it can wait about one month, I will try it.

[2020-01-29 12:31] jlink commented on #81
No hurry.

[2020-01-30 04:39] luvarqpp commented on #75
@jlink hi, I have put Statistics to work just now and I have some small things. If they are worth of separate issue, I can make them.

1. using labels and collect was not "intuitive" without having a look at [userguide](https://jqwik.net/docs/1.2.3/user-guide.html#checking-coverage-of-collected-statistics). I think, that javadoc can be improved (on the other hand, verbosity in javadoc can lead to

[2020-01-30 07:13] jlink commented on #75
@luvarqpp ad 2: Fixed it

[2020-01-30 07:20] jlink commented on #75
@luvarqpp ad 4:

The idea of reporting if something was checked is interesting. I've never thought of that before.
I don't see a way to get the source code of a condition. Parsing the byte code one could probably get close (without the parameter name unless specific compiler options are set).
The alternative is to have more specific check methods like `checkPercentageAtLeast`. I found the more gen

[2020-01-30 07:22] jlink commented on #75
@luvarqpp ad 3:

I did consider that and rejected the idea for a reason I cannot remember :-(
I'll reconsider and get back.

[2020-01-30 07:27] jlink opened #87 "Add Checking Information to Statistics Report"
## Testing Problem

Discussing https://github.com/jlink/jqwik/issues/75 resulted in the following idea by @luvarqpp

[code]

### Solution Idea

Having the exact checking code is probably not possible (or only with large effort) but a simple

[code]

would be.

[2020-01-30 08:49] jlink commented on #75
ad 3 again:

Magically

[code]

already works! It's just not documented.

 What doesn't work yet is

[code]

But it would be a piece of cake to implement - indeed more or less a single added `return this;`.

What I'm not sure about is removing `Statistics.coverage(checker -> ...)` because it allows to put coverage checking at the end of a property which is otherwise not possible for statistics tha

[2020-01-30 13:38] luvarqpp commented on #87
Seems fair.
Sidenote: I expect that `CoverageChecker.count/percentage` with `Consumer` as parameter will not mark line in report as "#checked...".

PS: Feel free to suggest other type of mark. My mind is seeing [ascii color](https://en.wikipedia.org/wiki/ANSI_escape_code) as background in case that tests are run from supported console, but I think that there are no support for detecting such case

[2020-01-30 16:09] jlink commented on #87
Why not? Using assertions (Consumer) or a predicate looks equivalent to me.

[2020-01-30 18:30] Serranya opened #88 "Regression in jqwik 1.2.3"
It seems that the values generated by `Arbitraries.strings().ofMinLength(2).unique()` are in fact not uniqe.

The follwing test fails with jqwik 1.2.3. It runs fine with jqwik 1.2.0 and 1.2.1.
https://github.com/condorcat/de.serra.condorcat/blob/b079ff35a71e301a8f267009d04656b08d94e9a1/src/test/java/de/serra/condorcat/model/InMemoryBallotStorePropertiesTest.java#L29-L37

Debugging revealed that in

[2020-01-30 18:37] Serranya commented on #88
https://github.com/jlink/jqwik/commit/6099e9595843eaf432dd3087cfa958d0b2067481 seems somewhat conspicuous. Both duplicated strings are `\u0000`

[2020-01-30 19:29] jlink commented on #88
I'll have a detailed look tomorrow.

As for your generator I'm wondering if
`var ids = Arbitraries.strings().ofMinLength(2).unique();`
should get an additional constraint to only allow valid id characters. Is `\u0000` possible in IDs?

[2020-01-30 20:43] Serranya commented on #88
Right now any String is valid as an ID. It just has to be unique. Later on I might need to constraint the Arbitrary a bit.

[2020-01-31 08:13] jlink commented on #88
I think I figured it out. The problem is tricky in so far that https://github.com/jlink/jqwik/commit/6099e9595843eaf432dd3087cfa958d0b2067481 really did lead to the change in behaviour but it only raised the probability of it happening. It could (theoretically) have happened before. Let me explain...

Using any kind of combinator will create a new generator for each time it is invoked. That's why

[2020-01-31 08:15] jlink commented on #88
BTW, one might think that generators should be shared across all usages of an arbitrary within one property. But that would lead to all kind of other strange and non intuitive behaviour.

I have a feature in the backlog to allow explicit sharing of generators but it does not have high priority - unless someone convinces me that it should.

[2020-01-31 09:18] Serranya commented on #88
@jlink thanks for the detailed and fast explanation. Your suggestion should solve my problem.

I really appreciate your work on jqwik :)

[2020-01-31 09:18] #88 closed

[2020-01-31 12:02] luvarqpp commented on #87
My (initial) view is that when I am using Consumer, I am not able to "not fulfill check". It can be used for example for some legal issues, as consuming actual count of tries and saving it to database (or sending it by email) as an evidence that test has been done given number of times. This does not involve any sort of check. Just saving some information.

Predicate on the other hand, does direct

[2020-02-01 13:02] luvarqpp commented on #75
In #89 I am delivering the goods. Please review it at least for grammar and style.

In #90 I have tried to "return this" for `collect` method. If you reconsider its value, you can just use it. It is through extra simple change.

[2020-02-03 11:47] jlink commented on #75
I removed `Statistics.coverageOf` after applying #90.

[2020-02-03 13:41] jlink commented on #75
Applied #89 and published "1.2.4-SNAPSHOT"

[2020-02-03 13:48] jlink commented on #75
Here's the snapshot javadoc: https://jqwik.net/docs/snapshot/javadoc/net/jqwik/api/statistics/Statistics.html

[2020-02-03 13:48] #75 closed

[2020-02-03 14:15] jlink opened #91 "Support Supplier<Arbitrary> as Parameter in `@ForAll` and `@From` Annotations"
@mmerdes Moved over from other repository

see https://github.com/jlink/pbt-workshop/issues/1

[2020-02-03 14:15] jlink commented on #91
Thanks for the suggestion.

I assume you habe something like that in mind:

[code]

However, to give a supplier more power and to get it closer to what an `ArbitraryProvider` could do, I see a more elaborate version:

[code]

And even the full move to accepting `ArbitraryProvider` would be doable:

[code]
That would give the full capability of returning more than one arbitrary and to handle parame

[2020-02-03 14:34] jlink commented on #84
@vlsi

There is one easier solution to the problem of using jqwik with Jupiter:
A functional interface similar to what QuickTheories is doing, e.g.

[code]

If such a thing is interesting to you, please create a new issue. I will consider it for a new major version, i.e. jqwik 2..
}

[2020-02-03 15:06] vlsi commented on #84
Oh. I don't think it need that yet.
The question was more like `it would be great if Jupiter engine could execute property-based tests as well` (==so existing Jupiter integration points could be reused). I know the lifecycle is a little bit different, however, I have never really implemented a property-based testing engine, so I don't know what are the quirks there.

It is not like I can't plug a

[2020-02-03 15:25] jlink commented on #84
Jqwik will log a warning if you use Jupiter annotations on a property method.

[2020-02-04 10:21] jlink commented on #85
Here's a first draft of what I could do...

Step 1: Make reporting configurable through `jqwik.properties`

    reportingFormat=COMPACT|DETAILED

Step 2: Introduce DETAILED format, similar to

                                    |-------------------jqwik-------------------
    tries = 1                     | # of calls to property
    ...
    seed = 8531870486618337326    | random seed to reproduc

[2020-02-04 11:19] jlink commented on #84
here is a first draft of a potential interface for guidance implementations:

[code]

[2020-02-04 11:27] vlsi commented on #84
[code]

^^ can you please elaborate a bit?
I don't quite get what the method should return.

Does `continueGeneration()` duplicate `guidedStream().hasNext()`?

[2020-02-04 11:31] jlink commented on #84
I don't think so.

`guidedStream()` should return an iterator that will continually deliver long values to feed sample generation. That might be only 1 (or even none) per try or many - depending on how much generation is being done under the hood. In other words, this iterator replaces the `Random` object.

`continueGeneration()` should be called once per try to determine if generation should cont

[2020-02-04 11:33] jlink commented on #84
Maybe both methods could be combined into one, e.g.

[code]
which should return `Optional.empty()` if generation is done.

[2020-02-04 11:58] vlsi commented on #84
I do not see how `Iterator<Long>` replaces `Random`.
Regular `java.util.Random` is `int`-based (see `protected int java.util.Random#next(int bits)`)

Just in case, I have some progress with automatic fuzzer generation from JavaCC grammar.
However, it does not leave much room for `Arbitrary` as JavaCC's grammar expects to operate with user-provided classes.

[2020-02-04 13:18] jlink commented on #84
Let's make it
[code]
then.

Which probably means that there must be another layer of transformation.

[2020-02-04 13:46] vlsi commented on #84
Does that mean jqwik would turn the stream into source of randomness (e.g. into `java.util.Random` or something like that) somehow behind the scenes?

That is true.
Currently it is like `new SqlGenerator(new Random()).SelectStatement() => generates and returns a select statement`.

[2020-02-04 13:51] jlink commented on #84
That was the idea. Would free implementations from doing it themselves.

[2020-02-04 13:56] vlsi commented on #84
Then it is not clear why do you suggest to confine it to `Iterator<Integer>`?
Who will call and use the result of `guidedStream`?

[2020-02-04 14:01] jlink commented on #84
jqwik will call it, make a `Random` from it and generate samples the same way it does now.

[2020-02-04 14:13] vlsi commented on #84
So the test code would see Random or something like that. That looks good.

[2020-02-04 15:38] vlsi commented on #84
Would `sourceOfRandomness()` sound better?

Would `hasNext()` be better?
`continueGeneration()` sounds like `dear generator, please continue generation` for me.

Is it useful for the Guidance? The guidance produces `Integer` values, and I don't see how it could use the generated sample.
The same goes for `observeShrunkSample`.

I guess you intended to have `Status status()` method there.

[2020-02-05 07:32] jlink commented on #84
A guidance might want to check if a different sequence leads to a change in generated values at all. A similiar method exists in JQF's Guidance interface so I deemed it useful.

[2020-02-05 07:34] jlink commented on #84
Here's my current take considering all your input:

[code]

[2020-02-05 07:49] vlsi commented on #84
Generated values do not always have equals/hashCode, so there's no much guidance can do to compare the values.

JQF itself does not use `observeGeneratedArgs` method, so I think we don't need it in the first versions.

[2020-02-05 08:23] vlsi commented on #84
https://github.com/jlink/jqwik/issues/84#issuecomment-582278329 looks good, except I would skip `observeGeneratedSample`.

It might be slightly better to have `Stream<Integer>` there as `Stream#close()` would enable implementations to close the relevant resources if any.

---

I wonder if it makes sense to unify the result type of `nextTry` with `String PropertyCheckResult#randomSeed()`.
For insta

[2020-02-06 07:19] jlink commented on #84
As far as I know `Stream` in Java is always lazy so it's not possible (or at least not straightforward) to consume one integer after the other until no longer needed. Closing behaviour - when necessary - can be done when `handleResult` is being called.

Maybe, maybe not. Too much speculation for the time being. I'd rather start with a proof of concept and then learn from that.

There's already a d

[2020-02-06 07:22] jlink commented on #84
So here's the current state. I removed the `observe...` method and renamed `TryResult` to `TryExecutionResult` because it fits better to what I'm currently doing in the code base.

[code]

[2020-02-06 08:08] jlink commented on #84
I'm wondering if `InputStream` isn't as bad as I initially thought since it is `Closeable`. Or maybe introduce a dedicated byte or integer based stream:

[code]

[2020-02-06 08:18] vlsi commented on #84
There's

`java.util.stream.Stream#iterator`.

`IntStream` is specialized as `PrimitiveIterator.OfInt iterator();`, so it is more-or-less the same as regular iterator.
So `IntStream` seems to convey the proper semantics, it has `close()`, and it is easy to instantiate in the client code (e.g. `Arrays.stream(int[])`)

---

Just in case: `Stream#spliterator` produces a Spliterator which can be proces

[2020-02-06 09:29] jlink commented on #84
That's what I meant with "not straightforward". I don't think `Stream` should be used that way. It's against what I'd call the assumed lazyness of a stream.

I'll go with either `Iterator<Integer>` or a specialized type like `ByteStream` as described above.

[2020-02-06 09:40] vlsi commented on #84
I don't think it is worth spending time on the discussion like this, however, I truly do not see why `assumed lazyness` prevents the use of `IntStream` as an API.

Stream does support the notion of `java.util.Spliterator#ORDERED`.
Java 1.8 has even `java.util.Random#ints()` that returns `java.util.stream.IntStream`.
Spliterator has `tryAdvance` which is designed to consume elements one by one.

`I

[2020-02-06 09:46] jlink commented on #84
Absolutely not worth it. We just don't agree here.

[2020-02-06 09:47] vlsi commented on #84
Just in case:

[code]

^^^ the above is straightforward stream processing to me

[2020-02-06 10:02] jlink commented on #84
It's creating an iterator again. And creation would probably have to go through `IntStream.iterate()` or `IntStream.generate()`. Let it be.

[2020-02-07 08:47] jlink commented on #84
@vlsi Now that we must accept that we won't agree on every design aspect, do you still consider it worth going forward with a proof of concept?

[2020-02-07 09:41] jlink commented on #84
This is my current best bet:

[code]

[2020-02-07 09:51] vlsi commented on #84
LGTM

[2020-02-07 14:20] jlink commented on #84
I wonder if TryGenerationSource could be simplified to

[code]

[2020-02-07 14:23] vlsi commented on #84
I guess both of them are OK provided there's the following factory method :)

[code]

[2020-02-07 14:25] vlsi commented on #84
However, I agree the random generator should better be treated as an infinite source.
I don't think the test engine can handle `out of randomness` exception.

[2020-02-07 14:55] jlink commented on #61
Most of the bare necessities are there now. Sadly in a experimental and undocumented state:

- Annotation `@AddLifecycleHook(Class<? extends LifecycleHook>)` to add a hook implementation to any container class or property method.

- Hook interfaces that can already be implemented and hooked in:
  - `AroundPropertyHook`
  - `AroundTryHook`
  - `BeforeContainerHook`
  - `SkipExecutionHook`

- Interf

[2020-02-08 10:20] jlink commented on #61
@emmmile Parameter resolution for property methods would (currently) require too much change to jqwik's lifecycle. Could you live with member variable injection instead? S.t. like:

[code]

[2020-02-08 10:37] jlink commented on #61
I have been considering two approaches for offering easy to use against each other: the classic approach with `@Before...` and `@After...` annotations for methods, as we know it from JUnit.

The other approach is (slightly) more involved but IMO a bit more flexible. It's about annotating inner lifecycle classes, e.g.:

[code]

The interesting thing about these lifecycle classes is that you can hav

[2020-02-08 12:58] luvarqpp commented on #61
Is there any possibility to mess with random seed? i.e. to have last failed seed saved somewhere else than `.jqwik-database` file? I would expect something like `@BeforeSuite` possible and `@AfterSuite` with required data passed to methods.

Feedback: delegation over inheritance is very welcome.

[2020-02-08 19:39] jlink commented on #61
Currently it can only be read. What scenario do you have in mind for changing it?

[2020-02-09 04:03] luvarqpp commented on #61
It is just hypothetical scenario, which have visited my mind when I have read about lifecycle hooks:
There are sometime build setups which are running on CI/CD services, which does not persist workspace folder (i.e. folder with project). For example temporal jenkins nodes, or utilizing docker for build (similar like [hateoas jenkins file](https://github.com/spring-projects/spring-hateoas/blob/mast

[2020-02-09 14:25] jlink commented on #61
I'll put it in the backlog then.

[2020-02-10 07:37] gtrefs commented on #61
Just some questions I had in mind:
* Using delegation/composition: How are you ensuring ordering? For example, if my tests not require to ramp up a database and a web server?
* In your example you are using an interface and an annotation. Would one of these not be enough?
* Have you considered using mixins? Like having interfaces with default methods a container would mix in?

[2020-02-10 09:32] jlink commented on #61
@gtrefs Thanks for thinking about it. A few answers/thoughts:

The underlying "Hooks" have a proximity value to tell how close you are to the underlying property method. I could expose that for overriding, e.g.

[code]
would mean that `InMemoryDatabaseSetup` would wrap `WebServerStartup`, i.e. the database would be created before server start up but removed after server shut down.

Can you give an

[2020-02-10 10:07] gtrefslp commented on #61
What does closeness to the underlying property method mean? Is there a difference between an order?

[code]
The engine detects an inner class of type `PerPropertyLifecycle`. No additional annotations needed. Or:
[code]
The engine detects an inner class of annotated with `PerProperty` and tries to call the corresponding methods. Her you could also use annotations on method like `@BeforeEach` or `@A

[2020-02-10 10:35] jlink commented on #61
The term is supposed to make the meaning clearer. When you "wrap around" as you do with before and after methods, what does "order" mean? An earlier or a later call? IMO "order" is ambiguous here. "proximity" might not be such a common term which forces you to think about what you mean. Higher proximity -> closer to the eventual invocation of the method.

Hopefully, most hooks and lifecycle method

[2020-02-10 10:42] jlink commented on #61
Then you run into the order problem again. My opinion about annotations is that I try to avoid them when types give me (roughly) the same capabilities. To make the programming model fairly convenient to use we often combine both. It's a hard task to get it right, though.

[2020-02-10 10:52] jlink commented on #61
Which is basically back to the annotated lifecycle methods from Jupiter where you can do exactly that.

I guess I'm trying to steer away from annotated methods wherever I can. But that's just my gut feeling. For example https://github.com/jlink/jqwik/issues/91 would free jqwik users from the need to use `@Provide` methods.

And combination of lifecycles would also work with the class based approac

[2020-02-10 15:22] gtrefs commented on #61
I see, you can also make the lifecycle methods return a `PerPropertyLifecycle`:

[code]

I think this approach won't work in Java. Multiple class inheritance is not allowed.

[2020-02-11 14:16] jlink commented on #61
I just started work on allowing Parameter resolution in lifecycle hooks, similar to what Jupiter does with `ParameterResolver`. I guess I'll call the hook `ParameterInjectionHook` to make confusion with Jupiter's functionality less likely.

[2020-02-11 14:21] jlink commented on #43
Since lifecycle hooks (https://github.com/jlink/jqwik/issues/61) are eventually coming to jqwik I'm working on parameter injection. `@ForAll` will now be necessary to differentiate between injectable and non injectable parameters.

Therefore I've decided to keep `@ForAll` mandatory for parameters that are supposed to be randomly generated.

[2020-02-11 14:21] #43 closed

[2020-02-13 07:55] jlink commented on #61
I've eventually decided to name it [`ResolveParameterHook`](https://github.com/jlink/jqwik/blob/master/api/src/main/java/net/jqwik/api/lifecycle/ResolveParameterHook.java). It does more or less the same thing as Jupiter's parameter resolver but it can deal with the fact that lots of tries might mean lots of calls:

[code]

[2020-02-13 07:59] jlink commented on #61
With `ResolveParameterHook` in place annotated lifecycle methods become more attractive because they could also take resolved parameters:

[code]

I don't see how that could go together with fixed signatures of some lifecycle interface.

[2020-02-14 09:41] jlink opened #92 "Support Lifecycle Methods in Test Classes"
## Testing Problem

With https://github.com/jlink/jqwik/issues/61 done there is the possibility to add
hooks to container classes or property methods through the `@AddLifecycleHook`
annotation. What's missing is a simple way to influence the lifecycle of just the
properties at hand.

## Suggested Solution

Add annotations that can used on methods in a test classe:

- Container lifecycle
  - `@Befo

[2020-02-14 09:42] jlink commented on #61
I created a new issue to account for lifecycle methods: https://github.com/jlink/jqwik/issues/92

Thus, I'll shortly be able to close this issue when all lifecycle hooks are done.

[2020-02-16 21:05] gtrefs commented on #92
I am not sure, if this is the right issue for this comment. In #61 @emmmile was  asking about something similar to Jupiters extensions. How could you support this with lifecycle methods? Why am I asking? In Spring the [TestContextManager](https://github.com/spring-projects/spring-framework/blob/master/spring-test/src/main/java/org/springframework/test/context/TestContextManager.java) is the main e

[2020-02-17 06:19] jlink commented on #92
@gtrefs https://github.com/jlink/jqwik/issues/41 is about that topic.
I always had it in the back of my mind when implementing the hooks. My plan is to start working on it as soon as 1.2.4 is done and I’ll keep you in the loop.

[2020-02-17 11:37] jlink commented on #41
I suggest to support Spring (and SpringBoot) integration testing in as similar a way as it work with Jupiter. This is described here: https://docs.spring.io/spring-framework/docs/current/spring-framework-reference/testing.html

Most annotation should be supported. `@SpringJUnitConfig` must be replaced by something equivalen for jqwik, e.g. `@SpringJqwikConfig`.

Since jqwik's lifecycle is somewhat

[2020-02-17 11:38] jlink commented on #41
Since release 1.2.4 is focused on implementing the necessary hooks under the hood (https://github.com/jlink/jqwik/issues/61) work on this issue is scheduled for version 1.2.5.

[2020-02-17 16:50] jlink commented on #61
Implementation is reasonably advanced that I declare this issue as closed (for the time being).
Since there is no documentation yet for lifecycle hooks I'll add a short description of how it works:

- The base type of all hooks is `LifecycleHook` with the following specialized interfaces:
  - `SkipExecutionHook`: Allows containers and properties to be skipped if necessary
  - `ResolveParameterHook

[2020-02-17 16:51] jlink commented on #61
Closing for now. Feel free to comment, ask and maybe reopen.

[2020-02-17 16:51] #61 closed

[2020-02-18 12:59] jlink commented on #92
With https://github.com/jlink/jqwik/commit/89548cb9b6a3035c88fd52918153f8f7fe90a57a `@BeforeContainer` and `@AfterContainer` are supposed to work.

[2020-02-18 14:06] jlink commented on #92
With https://github.com/jlink/jqwik/commit/500e248ee692eac0c67a5ba48176d7a879b50810 `@BeforeProperty` and `@AfterProperty` are supposed to work.

[2020-02-18 14:43] jlink commented on #92
With https://github.com/jlink/jqwik/commit/b1c078714b0af693f363539994923c91a7a052c2 `@BeforeTry` and `@AfterTry` are supposed to work.

It's now also available in snapshot 1.2.4-SNAPSHOT

[2020-02-19 09:17] jlink commented on #92
Documented in userguide:
https://jqwik.net/docs/snapshot/user-guide.html#annotated-lifecycle-methods

[2020-02-19 09:17] #92 closed

[2020-03-17 14:50] jlink commented on #41
Work started in independent project repository: https://github.com/jlink/jqwik-spring

[2020-03-19 14:12] jlink commented on #41
Basic Spring mechanism and test annotations work: https://github.com/jlink/jqwik-spring/blob/master/src/test/java/net/jqwik/spring/SimpleSpringTests.java

[2020-03-28 14:02] jlink commented on #41
With Release 1.2.6 the internal Lifecycle Hooks API is stable enough to support Spring and Spring Boot.

All further issues and requests should go to [jqwik-spring]( https://github.com/jlink/jqwik-spring) which will probably have its first release in a few hours (or days max).

[2020-03-28 14:02] #41 closed

[2020-04-07 09:33] jlink commented on #85
To account for the difference of compact and detailed printing I modify the suggested type:

[code]

The `compactPrinter` and `detailedPrinter` functions are needed to print containedObjects.

I suggest an optional annotation `@SamplePrinting(SamplePrintingMode)`
and an addition configuration parameter:

[code]

Mode `AUTO` would use compact mode under a certain threshold, e.g. 60 chars.

[2020-04-08 15:38] FrankR85 opened #95 "Documentation: Specifiy minimal version of junit"
jqwik doesn't work out-of-the-box with the JUnit5 (1.5.2) that comes with SpringBoot 2.2.4.

Running jqwik tests give:
[code]

Upgrading to
[code]
fixes the issue.

The doc should specify the required version for `junit`.

[2020-04-08 20:09] jlink commented on #95
That's a good idea and I will add it to the documentation.

BTW, the minimal version is documented in jqwik's Spring support: https://github.com/jlink/jqwik-spring#supported-junit-platform-versions

[2020-04-09 03:15] luvarqpp commented on #95
Sidenote: a few days ago was released spring boot milestone 2.3.0.M4, which has bumped to junit-platform 1.6.1.

[2020-04-11 08:18] jlink commented on #95
Added required JUnit platform version to current user guide and to template for future user guides: https://jqwik.net/docs/current/user-guide.html#required-version-of-junit-platform

[2020-04-11 08:18] #95 closed

[2020-04-11 17:12] EdoardoVignati opened #96 "Typo in doc @AfterContainer"
Hi. I would to point out the following chapter:
[https://jqwik.net/docs/current/user-guide.html#annotated-lifecycle-methods](https://jqwik.net/docs/current/user-guide.html#annotated-lifecycle-methods)

I think there is a typo in AfterContainer:
**@BeforeContainer**: Static methods with this annotation will run exactly once **before** any property will be executed, even before the first instance of

[2020-04-11 17:45] jlink commented on #96
Damn CaP. Thanks for the catch. Will be fixed in 1.2.7.

[2020-04-11 17:52] jlink commented on #96
Fixed in current user-guide and template for future versions: https://jqwik.net/docs/current/user-guide.html#annotated-lifecycle-methods

[2020-04-11 17:52] #96 closed

[2020-04-18 19:13] jlink opened #97 "Generate Combined Edge Cases of Property's Parameters"
## Testing Problem

For a long time jqwik has been generating explicit edge cases for single arbitraries, e.g.
when generating integral values: MIN, MAX, -2, -1, 0, 1, 2. However, the combination of
edge cases of all parameters was not explicitly generated even though there is evidence
that those combinations will reveal bugs with a higher chance than purely random values.

## Suggested Solution

[2020-04-18 19:19] jlink commented on #97
The problem of combinations/permutations of edge cases occurs on several levels:
- Generate all permutations of edge cases of a Property's parameters
- Use edge cases of embedded types (e.g. the value type of a list) to generate edge cases of a variable type, e.g. a singleton list with all edge cases of the concrete element type
- Combine edges cases in Combinators

Moreover, generated edge cases

[2020-04-18 19:33] jlink commented on #97
Example:

[code]

The following combinatorials should be generated:

[code]

[2020-04-25 11:12] jlink commented on #97
The feature is implemented and available in `1.3.0-SNAPSHOT`.

Running the following property

	@Property(tries = 100, edgeCases = EdgeCasesMode.FIRST)
	void propertyWithTwoParams(
		@ForAll List<Integer> intList,
		@ForAll @IntRange(min = -100, max = 0) int anInt
		) {
		String parameters = String.format("%s, %s", intList, anInt);
		System.out.println(parameters);
	}

will output:

[code]

follow

[2020-04-27 10:14] jlink commented on #97
Documented the current state in the user guide: https://jqwik.net/docs/snapshot/user-guide.html#generation-of-edge-cases

[2020-04-27 10:14] #97 closed

[2020-04-30 15:49] slaymaker1907 commented on #91
Have you considered creating a Domain for this? Domains are a really powerful way to do similar things to this.

[2020-04-30 17:42] jlink commented on #91
Could you elaborate with an example?

[2020-05-04 14:56] luvarqpp opened #100 "Add runtime information to statistics reporting"
## Testing Problem

When running nontrivial tests (i.e. integration tests using jqwik-spring for example), runtime does matter. I would like to see average (or at least "wall time") runtime in statistics report at the end of the each property test.

## Suggested Solution

Print avg time in milliseconds (seconds?) like here:

[code]

(added single line at the end)

## Discussion

Perhaps standard d

[2020-05-04 16:18] jlink commented on #100
Average runtime has little overhead because it only requires a single measurement and a division.

Advanced statistics require measurement per try which might or might not be noticable.
Which numbers do you think are most useful? I can think of:
- Average
- Mean
- Deviation
- Max
- Min

What else?

[2020-05-04 17:53] luvarqpp commented on #100
In some cases whole duration histogram can be useful, but it is minor concern IMHO. I would keep things simple and add just easiest think (that also covers my need :). So just total runtime (and perhaps average per single try).

[2020-05-04 18:07] luvarqpp opened #101 "Edge Cases Generation Order"
## Testing Problem

Order of edge cases does matter. When there are too many edge cases (for example due complex arbitrary like `Combinators.combine(... many arbitraries ...)` ), there are two things:

* when there are more edge cases than all Property tries (by default 1000), not all edge cases will be tried and no other case will be tried. It will prevent any random test case (when `defaultEdgeC

[2020-05-05 09:38] jlink commented on #101
I'll probably start with a small step: Reporting the number of tried and overall edge-cases:

[code]

Mixing them in randomly is further down the road.

As for the mix-in probability, the ratio is calculated like this:

	private static int calculateBaseToEdgeCaseRatio(int countEdgeCases, int genSize) {
		return min(
			max(genSize / countEdgeCases, 3) - 1,
			10
		);
	}

Thus, the ratio is between

[2020-05-05 10:08] jlink commented on #101
I'm currently not sure how difficult random order of edge cases would be. The problem is that edge cases are generated on the fly because their number can potentially be very large. Shuffling them would require to generate all of them first which might take a long time and slow-down performance.

[2020-05-05 10:13] jlink commented on #100
Measuring time requires some decisions:
- Include the time needed for generating the parameters?
- Include the time needed for initializing and tearing down a property (e.g. in before / after hooks)?

[2020-05-05 10:17] luvarqpp commented on #101
Is it possible, to generate "next" edge case in random manner easily? In single attribute (arbitrary) I think there will be no problem. Through in combined ones and multiple parameters for test methods can be non-trivial.

Can you pinpoint some code, where edge cases are actually generated?

[2020-05-05 10:24] luvarqpp commented on #100
Report does include number of tries. There are all tries counted. This number is not affected by any hooks duration, nor time spent in parameters generation. It is easy.

You are asking, if burden (is it correct word?) of test condition preparation should be counted in time spent...

I think, that both times should be included or excluded, despite one is jqwik internal matter and second one is on

[2020-05-05 12:53] jlink commented on #101
Yes, single parameter property would be easy - but mostly worthless.

The magic code is in https://github.com/jlink/jqwik/blob/5217b8e8d6fc7379c08ab077354c1989da9a16ea/engine/src/main/java/net/jqwik/engine/properties/EdgeCasesGenerator.java#L27
It combines several iterators to a single one. But shuffling the iterators internally does not really help because the order of values withing the iterator

[2020-05-05 12:55] jlink commented on #100
Including times is simpler so I'll go with that.

Scheduled for 1.3.1 -- if nothing more important comes along ;-)

[2020-05-05 13:01] luvarqpp commented on #100
Thanks.

[2020-05-05 13:32] luvarqpp commented on #101
I would consider separating edge-cases usage and their statistics. i.e.:

[code]

Just to keep output format in `key = value` format. On the other side, there will be more statistics lines than I can count on my hand...

Is there any mechanism, that will affect statistics? i.e. when I change edge-cases generation from default, perhaps I would like see all extra statistics for this matter. When the

[2020-05-06 07:43] jlink commented on #101
How about:

[code]

[2020-05-06 07:44] jlink commented on #101
What statistics do you mean. Edge case statistics or general statistics invoked through `Statistics.collect(..)`?

[2020-05-06 07:46] luvarqpp commented on #101
Seems fine to me.

I mean edge case statistics and generally things that are included in "table" printed after finishing property test.

[2020-05-06 07:49] jlink commented on #101
I could show/hide those statistics depending on explicit choice of edge-cases mode. I wonder if it would confuse more than help if those values sometimes show up and sometimes don't. The one obvious thing is to leave the numbers out when `EdgeCasesMode.NONE` is chosen.

[2020-05-06 07:54] luvarqpp commented on #101
Confusion can happen... What about to keep only some "normal" statistics printed out by default and introducing mechanism like this?:

[code]

[2020-05-06 07:59] jlink commented on #101
What you can do is switching reporting off for successful properties in `jqwik.properties`.

What's your pain with having all things reported that can be reported? Are reports too long, too confusing?

I'm trying to figure out if time spent for making all this stuff configurable is well spent.

[2020-05-06 08:22] luvarqpp commented on #101
Technically reporting always all things (or nothing, when turned reporting off) is imho OK. I was perhaps thinking in a "premature optimization" style to include interesting report parts only in certain properties (tests), where they are used.

To keep things simple, I am OK with "report everything or nothing" style.

[2020-05-08 00:31] jdmarble opened #104 "ActionSequence shrinking to nothing"
## Testing Problem

I'm using [stateful testing](https://jqwik.net/docs/current/user-guide.html#stateful-testing) and some, but not all of my actions have preconditions that reject my model when it has been shrunk to the extreme. Some of my other actions have assertions that are checked when they are run. If those assertions always pass, everything works as expected. If one of them fails, I usuall

[2020-05-08 07:06] jlink commented on #104
Thanks for the catch!

In theory an action sequence should never be shrunk to an empty sequence because that does not make sense. My current inkling is that it will be shrunk - as you assume - to a sequence with all remaining actions having failing preconditions. I'll have a look into that and get back to you.

[2020-05-08 09:19] jlink commented on #104
@jdmarble
I couldn't really reproduce the behaviour you describe but I made an informed guess why it happended and hopefully fixed it.

Can you try it with version '1.3.0-SNAPSHOT'? Maven repo is 'https://oss.sonatype.org/content/repositories/snapshots'

If it still shows the same behaviour I'd appreciate a minimal example.

[2020-05-08 09:19] jlink commented on #104
BTW, the previous close was a mistake.

[2020-05-10 01:52] igorcmoraes opened #105 "How can I run a test in jqwik?"
Sorry guys, I'm a noob in programming languages. So, there's the most shameful question:

How can I run tests with this library? I usually do my tests with JUnit, with eclipse, and I just need to write my test cases and click in Run As -> JUnit.

For jqwik, I created a project maven, then I added the jqwik and assertj dependencies on pom.xml
After that I created a package "testes" in the test fold

[2020-05-10 04:11] luvarqpp commented on #105
Hi,
I have personally used eclipse a bit long time ago, but it seems that in context menu you should have desired functionality. Have a look at http://www.eclipseonetips.com/2014/06/16/run-a-single-junit-test-method-in-eclipse/

If maven configuration is picked-up correctly by eclipse, it should have no problem running jqwik engine instead of junit-jupiter.

Another possibility is to use command l

[2020-05-10 06:37] jlink commented on #105
@igorcmoraes The short answer is: It works exactly like JUnit (5) given that your Maven project is correct. Have a look at https://github.com/jlink/jqwik-samples/tree/master/jqwik-starter-maven to see the minimal Maven file.

[2020-05-10 06:47] jlink opened #106 "Update Maven and Gradle part in user guide"
The relevant section refers to links in JUnit´s user guide that no longer exists.

It should refer to starter projects in jqwik-starters project.

[2020-05-10 08:26] jlink commented on #106
Fixed in 1.3.0-SNAPSHOT

[2020-05-10 08:26] #106 closed

[2020-05-10 08:29] jlink commented on #105
I update the user-guide section to point to the starter example: https://jqwik.net/docs/current/user-guide.html#maven

I hereby close the issue. If you have more questions on how to run (or use) jqwik I also recommend to do that on [stack overflow](https://stackoverflow.com/questions/tagged/jqwik)

[2020-05-10 08:29] #105 closed

[2020-05-12 03:48] jdmarble commented on #104
I introduced a failure that would trip an action post-condition and the problem in version `1.2.7`. I verified that it triggered the problem in version `1.2.7` then tried it with `1.3.0-SNAPSHOT`. I got different, but not good results:

[code]

There's no indication where the actual bug that I introduced is or which assertions were triggered. If I remove the intentional bug, the tests pass with bo

[2020-05-12 04:30] jdmarble commented on #104
I have captured [a minimal example](https://gist.github.com/jdmarble/8d9b4ca3b349eb6a3b5105a10b7bd9cd)!

With version `1.2.7` I get the following output:

[code]

And with version `1.3.0-SNAPSHOT`:

[code]

Thank you for looking at this, and for this library in general!

[2020-05-12 14:51] jlink commented on #104
I am working on it. It's a tough one. I've already found and fixed a bug in ActionSequence shrinking. Sadly, it's not the one causing your problem. Stay tuned.

[2020-05-13 09:00] jlink commented on #104
@jdmarble
I hopefully fixed the bug and also improved shrinking of dependent parameters as in your minimal example. Please try with latest 1.3.0-SNAPSHOT.

[2020-05-13 23:18] jdmarble commented on #104
That fixed it for me! Thank you very much for your work on this!

[2020-05-14 07:42] #104 closed

[2020-05-15 13:01] jlink commented on #83
Current state of implementation:

[code]

This will show the following output:

[code]

[2020-05-15 13:01] jlink commented on #83
And ideas for a good DSL to group collected values?

[2020-05-16 17:28] jlink commented on #83
Number ranges can be shown as histograms:

[code]

Output:
[code]

All feedback welcome!

[2020-05-18 08:01] jlink commented on #83
Added user guide entry: http://127.0.0.1:4000/docs/snapshot/user-guide.html#histograms

[2020-05-18 08:03] jlink commented on #83
Added user-guide entry: https://jqwik.net/docs/snapshot/user-guide.html#histograms

[2020-05-18 08:25] jlink commented on #83
Available in `1.3.0-SNAPSHOT`.

[2020-05-18 08:25] #83 closed

[2020-05-19 14:22] jlink commented on #101
Edge case reporting implemented in https://github.com/jlink/jqwik/commit/071868043a341e4516fbe6154ae6b5c59bcd19cd

Available in 1.3.0-SNAPSHOT

[2020-05-28 08:39] jlink opened #108 "Provide user guide as PDF"
It would be useful to have the user-guide as a downloadable PDF file.

PDF should be linked on homepage.

[2020-05-30 10:40] nicolascouvrat opened #109 "Is jqwik compatible with other engines? (vintage, jupiter, etc.)"
## Testing Problem

I'm having a bunch of tests running in a mixture of Junit5 and Junit4 (using the vintage engine). I would like to use jqwik to test a new file, but I do not want to touch existing tests.

I had issues where `mvn test` would either run `jqwik`, or `junit`, but not both. I tried to reproduce it in the `starter-maven` sample, by adding the following to the `pom`

[code]

I then ra

[2020-05-30 11:11] jlink commented on #109
There’s no compatibility problem with other engines (that I know of).

I guess you have to get the dependencies sorted out. There’s a multi engine starter project: https://github.com/junit-team/junit5-samples/tree/master/junit5-multiple-engines

You cannot use it directly since it’s using Gradle but you can lookup the required dependencies in the Gradle file. You need at least jqwik and junit-vint

[2020-05-31 07:40] nicolascouvrat commented on #109
Thanks! The link you gave me provided me with a hint: the problem was (and in fact, is) transitive dependencies (and dependency mediation).

All Junit5 engines, including the vintage one and jqwik, seem to depend on `org.junit.platform:junit-platform-engine:jar`. The problem is, I was trying to use the engine v5.1.0, which comes with v1.1.0 of said `org.junit.platform:junit-platform-engine:jar:1.2

[2020-06-02 07:02] jlink commented on #109
So it's more complicated than I thought :-(
I'll review the PR in the near future. Thank you!

[2020-06-02 07:02] #109 closed

[2020-06-03 08:00] jlink commented on #85
To make SamplePrintingFormat simpler I tend to just join the lines of detailed format with comma.
So here's my current suggestion:

[code]

I'll probably start working on it soon.

[2020-06-06 23:45] dsvensson opened #110 "Per class life cycle with jersey test framework"
I was hoping to use jqwik for testing a REST API, but the hugeisch code base currently uses Jersey Test Framework base class that performs the expensive setup once per class, and exposes a client to the test suite. Just calling the base class setUp() function is not enough, and possibly to make matters worse, jersey test frameworkis not on junit 5 yet, so there might be some weirdness with junit-v

[2020-06-07 06:26] jlink commented on #110
Thanks for raising that issue. Might be a good example to check the usability of jqwik‘s hooks API.

Can you provide a link to the Jersey Testing framework and maybe a minimum example to run it?

[2020-06-07 09:05] dsvensson commented on #110
There actually is a small example in this PR,

https://github.com/eclipse-ee4j/jersey/pull/4351

The way it adds Jupiter-support is not that great though but the example should be a good starting point, changing that example to inhereting JerseyTest is what is done today, and it gets the super.target(urlpath) for calling into the webserver hosting the app.

[2020-06-07 09:28] jlink commented on #110
@dsvensson I'll have a look at it to get a feel for how much effort a jersey jqwik-hook would entail.
Would you be interesting to publish one with my support?

[2020-06-08 09:48] dsvensson commented on #110
@jlink sure

Pushed a small test repo here, https://github.com/dsvensson/resttest

[2020-06-09 08:06] jlink commented on #110
@dsvensson I cloned the repo. The two properties fail - I guess that's intended.

I'll sketch a raw jqwik Jersey extension and we can discuss it.

[2020-06-09 08:09] dsvensson commented on #110
Should have added a README to explain it a bit I guess :)

I'm printing a random int as well, with the intention for it to be the same in all junit tests, and the properties per class, or at least the same for all properties per class.

[2020-06-11 10:24] jlink commented on #85
Some progress made. Consider the following property:

[code]

will now produce the following report:

[code]

[2020-06-11 11:35] jlink commented on #110
I assume that you want to get away from the base class approach. Otherwise you could just go with your example or does it have any functional drawbacks?

Without a base class one has to find a way to set up the jersey context and a means to access target and client? The simplest approach I see is to provide some kind of configurer that can then be used in a lifecycle method and a JerseyTest instan

[2020-06-11 11:44] dsvensson commented on #110
My example has the drawback of the instance not being the same all four tests+props. The two junit tests use the same jersey instance, the two properties each use a new instance.

As it's expensive to setup jersey in the real use case (flyway cleanup, hibernate etc), my goal is to avoid that and just setup jersey once per class, and then test against that same instance.

It wouldn't be any problem

[2020-06-11 13:51] jlink commented on #110
If that's your main problem I have a simpler solution:

[code]

This is not elegant but seems to work. And it's probably not very Kotlin-like - it's my first self-written Kotlin class :-)

I think that an elegant, not class-based, solution for jqwik (and for JUnit 5 Jupiter) would require some change to the testing API of JerseyTest to make it more suitable for parameter injection. But that's prob

[2020-06-11 17:29] dsvensson commented on #110
That can ofc actually work. I was stuck in the mindset of these tests working the same way as the junit ones in the project I'm working on, and it would be extremely painful to do that change to the whole set of tests as it's less minimalistic than my example.

For the properties I'm aiming for it would be trivial to do as you suggest.

Blinded by the existing structure - the eternal enemy. Thanks

[2020-06-11 18:54] jlink commented on #110
Seems like your actual problem is solved. Feel free to reopen if I'm wrong.

[2020-06-11 18:54] #110 closed

[2020-06-14 11:18] jlink commented on #85
More progress. Reporting arrays:

[code]

[code]

Of course, available in "1.3.1-SNAPSHOT"

[2020-06-14 11:37] owickstrom commented on #85
Looking very good! 😊

Skickat från ProtonMail mobile

-------- Originalmeddelande --------
På 14 juni 2020 13:18, Johannes Link skrev:

[2020-06-15 13:42] nick318 commented on #12
@jlink seems the issue reproduces again using jqwik 1.3.0 and IDEA 2020.1

[2020-06-15 14:12] jlink commented on #12
I cannot reproduce with

[code]

@nick318 Can you be more specific about the failure you are observing?

[2020-06-17 08:53] jlink commented on #85
More progress. One can register sample formats for any class:

Consider the following property:

[code]

And register this format class:

[code]

Then the output will be:

[code]

[2020-06-17 08:55] jlink commented on #85
here's the relevant section in the user guide: https://jqwik.net/docs/snapshot/user-guide.html#failure-reporting

[2020-06-17 12:13] jlink commented on #85
Available in "1.3.1-SNAPSHOT"

[2020-06-17 12:13] #85 closed

[2020-06-18 05:56] owickstrom commented on #85
Very cool, looking forward to trying this in our project at work!

[2020-06-23 09:48] jlink opened #111 "Sample Reporting fails on cyclic dependency"
## Testing Problem

Exception when trying to sample an object with cyclic dependency:

[code]

Exception:

[code]

[2020-06-23 13:55] #111 closed

[2020-06-23 13:55] jlink commented on #111
Fixed in https://github.com/jlink/jqwik/issues/111

[2020-06-27 09:26] jlink commented on #84
@vlsi Are you still interested in the feature and would have time to experiment with it? If so I'll move (a branch with) the basic mechanism towards the top of my todo list.

[2020-06-27 09:30] vlsi commented on #84
@jlink , that's on my list, however, I don't think I would be able to pick it in the nearest month :-/

[2020-06-27 10:16] jlink commented on #84
@vlsi OK. Then I'll leave it in my plans for the summer.

[2020-07-11 08:22] metters commented on #108
Does it mean, the PDF is generated when building the project with gradle?
The link to the homepage is https://jqwik.net/?

[2020-07-11 09:57] jlink commented on #108
The idea is to generate it after generating the documentation, which is a task of its own in https://github.com/jlink/jqwik/blob/master/documentation/build.gradle. It would probably require to include some  of the markdown to pdf tools.

[2020-07-14 07:06] tmohme opened #112 ""Cannot find Arbitrary" with maven-failsafe-plugin 3.0.0-M5"
## Testing Problem

When using jqwik together with the maven-failsafe-plugin 3.0.0-M5 and its parameter "fork-count" != 0, then jqwik is unable to find the configured custom Arbitraries.

## Suggested Solution

My guess is, that it is a problem with the maven-failsafe-plugin, as the following combinations work flawless:
* maven-failsafe-plugin 3.0.0-M5 and "fork-count" == 0
* maven-failsafe-plugin

[2020-07-14 08:51] jlink commented on #112
Thanks for reporting!
What does `fork-count` specify?

[2020-07-14 09:05] jlink commented on #112
I think Maven's communication with its community works through the Apache Slack: https://the-asf.slack.com/
But that's just a guess.

[2020-07-14 09:09] tmohme commented on #112
`fork-count` specifies whether (and how many) JVMs should be forked to run the tests.
The value `0` means: "Do not fork a new JVM, run the tests in this JVM" . . . which for sure has some influence on class-loading / resource-loading behavior.

[2020-07-14 09:12] jlink commented on #112
"configured custom Arbitraries": do you mean Arbitrary provider classes registered through Java's SPI mechanism?

[2020-07-14 09:21] tmohme commented on #112
Exactly.
[code]
`MyCustomClass` is a domain class for which I have registered an ArbitraryProvider via Java's SPI mechanism.

[2020-07-14 10:44] jlink commented on #112
Sounds like failsafe does not handle SPI correctly.

[2020-07-21 22:03] jdmarble opened #113 "Builders with many parameters fail since 1.3.0"
## Testing Problem

Since version 1.3.0, some of my tests started running out of heap space. They all involve builders with many parameters. [Here](https://gist.github.com/jdmarble/df0c0db22dfcd40921fdbd0a1b7bb864) is a minimal test case that blows the default heap size on my machine.

## Suggested Solution

I'm guessing this has to do with the new edge case logic. Perhaps all of the edge cases in

[2020-07-22 07:09] jlink commented on #113
@jdmarble Thanks for the catch.
In theory the high combinatorics _shouldn't_ matter because edge case suppliers _should_ only be evaluated when requesting the next edge case. Practice is obviously different though...

I'll have a closer look later. What you can do in the meantime is switch edge cases off.
Either per property:

[code]

or globally in the jqwik configuration file: https://jqwik.net/

[2020-07-22 08:00] jlink opened #114 "Stream edge cases on the fly (instead of creating them upfront)"
## Testing Problem

A concrete manifestation of the problem is described in https://github.com/jlink/jqwik/issues/113.

When combinatorics of edge cases is too high (usually when flatmapping/combining a lot of arbitraries together) starting a property may (literally) take for ever.

## Suggested Solution

Instead of collecting all edge cases before starting a property just stream them on the fly w

[2020-07-22 08:01] jlink commented on #113
OK. I had a look. Bad news :-( At least for the time being.

Looks like I switched from just streaming edge cases on the fly to collecting them beforehand sometime during implementation. I'm sure there was a reason for it that I currently cannot remember.

That's why I opened a new feature issue: https://github.com/jlink/jqwik/issues/114

That means that I'll not tackle it at once but as soon as i

[2020-07-22 08:02] jlink commented on #113
Hope the workaround is ok until the feature will be tackled.

[2020-07-22 08:02] #113 closed

[2020-07-22 08:59] jlink commented on #112
Closing since it seems not to be a jqwik bug. Feel free to reopen if new information suggests otherwise.

[2020-07-22 08:59] #112 closed

[2020-07-23 17:16] jdmarble commented on #113
Thanks for looking into it! The workaround is working for me.

[2020-07-29 15:01] Serranya opened #115 "Always getting Error "No Jqwik properties file [jqwik.properties] found""
Im using jqwik 1.3.2 with maven. When the tests run I get the following error:
[code]

I do have a `jqwik.properties` properties file at the same level as my `pom.xml` but it is not respected.

I took a look at https://github.com/jlink/jqwik/blob/5217b8e8d6fc7379c08ab077354c1989da9a16ea/engine/src/main/java/net/jqwik/engine/JqwikProperties.java#L96-L100 and it looks like only the contents of the .

[2020-07-29 15:13] luvarqpp commented on #115
Have you tried `src/test/resources` folder? I have it there and execution detects it also during `mvn test` execution.

[2020-07-29 15:19] Serranya commented on #115
Ahh my fault. The docs even state explicitly that the file needs to be in the classpath.

[2020-07-29 15:20] #115 closed

[2020-07-29 16:22] jlink commented on #115
I love it when users help each other :-)

[2020-08-25 15:49] jlink commented on #114
After reexamining the current solution I decided that going for lazy edge cases generation would break some desired behaviour.

What I did instead is to stop generating edge cases after 10000 and log a warning (or a few warnings) instead.

Is available in 1.3.5-SNAPSHOT.

[2020-08-25 15:49] #114 closed

[2020-08-26 06:52] jlink commented on #113
As of 1.3.5 generating edge cases will be stopped after 10000 generated values.

[2020-08-27 17:30] jlink commented on #84
This paper propagates coverage guided property testing as a more effective variant of what AFL does: https://www.cs.umd.edu/~mwh/papers/fuzzchick.pdf
Might be interesting to consider.

[2020-08-30 21:48] jdmarble opened #119 "Edge cases mode ignored for lists"
## Testing Problem

I'm getting many thousands of lines of warnings logged per test if I generate a list of objects with lots of edge cases. This happens despite setting `edgeCases = EdgeCasesMode.NONE` on the `@Property` and `defaultEdgeCases = NONE` in `jqwik.properties`.

See [this revised gist](https://gist.github.com/jdmarble/df0c0db22dfcd40921fdbd0a1b7bb864) for a minimal example. Output:

[

[2020-08-31 05:25] jlink commented on #119
That’s a lot of log lines :-(

I’ll look at it when I’m back from holidays in two weeks.

[2020-09-10 14:46] daniel-huss opened #120 "Could/should ListArbitrary::map produce an Arbitrary that supports @Size?"
## Testing Problem

We're using jqwik's awesome ability to create arbitrary data structures via the `Arbitrary::forType` facility. In some cases, creation of those data structures explicitly requires instances of `ImmutableList<T>` instead of just `List<T>` (which we can't change). OK, such an Arbitrary is easily provided via `Arbitrary.map(ImmutableList::copyOf)`. The overhead of copying the list

[2020-09-11 21:24] daniel-huss commented on #120
I think because of erasure this isn't going to be possible the way I imagined it.

[code]
More specialized mapping methods could be added to ListArbitrary, SetArbitrary, etc. but that's probably overkill for such an exotic use case. I'd like to withdraw this feature request. Thank you very much for your time and have a nice weekend :)

[2020-09-11 21:24] #120 closed

[2020-09-13 11:57] jlink commented on #120
@daniel-huss Yes, the approach you’ve chosen does not work because of type erasure.

What you can do, however, is return your own implementation of StreamableArbitrary, eg which delegates to a base listArbitrary and only does the mapping as soon as the generator is being created. I could work out a sketch if you want to follow that route.

[2020-09-14 07:07] jlink commented on #119
@jdmarble Do you have a property handy that reproduces the explosion of log lines? Need not necessarily be 10k lines, just a few would suffice ;-)

[2020-09-14 07:08] jlink commented on #119
Don't worry. I just noticed the gist.

[2020-09-14 07:17] jlink commented on #119
BTW, If I remove `edgeCases = EdgeCasesMode.NONE` I only get 4 lines of warning. AND the tests runs faster probably due to saving all the synchronized log output.

[2020-09-14 07:22] jlink commented on #119
To (partially) explain this behaviour: `edgeCases = EdgeCasesMode.NONE` only applies to the combined edge case generation of all parameters. Individual generators will always (as of version 1.3.5) inject edge cases. This is not really consistent and I'm thinking about getting rid of this inconsistency but it requires deeper refactoring.

[2020-09-15 06:31] jlink commented on #119
I was wrong again :-(

`edgeCases = EdgeCasesMode.NONE` suppresses generation of non edge cases "on my machine" since I use `edgeCases = EdgeCasesMode.FIRST` as default.  So ignore my previous comment.

[2020-09-15 07:09] #119 closed

[2020-09-15 07:14] jlink commented on #119
I changed two things:
- The warning about combinatorial explosion will only be logged max once per property
- I reduced the max number of edge cases to be generated to 1000, which cuts the runtime of your property considerably

The changes are already available in 1.3.6-SNAPSHOT

I'll probably do a significant change to how edge cases will be generated in the more recent future. Maybe already for

[2020-09-21 09:43] jlink opened #121 "Simple Generation of Java Beans"
## Testing Problem

Generating POJOs from their constructor or static factory method in jqwik is rather straightforward through `Arbitraries.forType(..)`. Generating Java beans through property setters requires more effort, e.g. through combinators:

[code]

This requires quite some boilerplate for each property.

## Suggested Solution

Provide type based generation of java beans, e.g.

`Combinato

[2020-09-24 14:53] jdmarble commented on #119
Thank you so much! With 1.3.6, I've finally been able to upgrade from 1.2.7.

[2020-10-01 18:44] gtrefs opened #122 "Example exhaustiveness"
## Testing Problem
Given the following Example
[code]
This causes an `AssertionFailedError` with an error message of `exhausterd after [1] tries and [1] rejections`. However, if this is an example, I would expect that it is just skipped rather than a test failure.

## Suggested Solution

A `PropertyExecutionResult` with status `Aborted` and a `TestAbortedException` as `throwable`. The example is t

[2020-10-02 07:07] jlink commented on #122
Since this would require special handling for examples - which are currently just equivalent to `@Property(tries=1)` - I just want to clarify your use case cannot be solved differently: Do you need a `@Disable` feature with runtime conditions? Or is anything else important for you?

[2020-10-02 08:14] gtrefs commented on #122
I am currently writing an extension using Lifecycle Hooks. In one test, I wanted to trigger an Exception without failing a Test. I thought that Assume.that would do it. So, the test should be disabled per se but more like skipped because the Assumption is false. But maybe I misunderstand what an Assumption is in Jqwik.

[2020-10-02 08:27] jlink commented on #122
Which hook are you using?

If you want to skip a property sometimes `SkipExecutionHook` might be helpful.

Alternatively `AroundPropertyHook.aroundProperty(..)` could return a result with status `ABORTED`.

[2020-10-02 09:04] gtrefs commented on #122
I will push some code later and link it here. I am already using the SkipExecutionHook and the AroundPropertyHook.

[2020-10-03 19:15] gtrefs commented on #122
@jlink I created PR at the testcontainers repository to include jqwik support: https://github.com/testcontainers/testcontainers-java/pull/3298 Look at this test: https://github.com/testcontainers/testcontainers-java/pull/3298/files#diff-c198c8df57d5e5517d41c314fa5c4f01

[2020-10-05 07:06] jlink commented on #122
Check I understand that correctly: If a container cannot be started you want the test/example/property to fail silently (marked as disabled). Is that right?

Does the Jupiter extension work like that? I'm asking because I'd consider that to be a failure. Unless of course `Testcontainers.disabledWithoutDocker` has been set to true (but I think that's covered somewhere else).

[2020-10-06 09:56] jlink commented on #122
After looking more closely at the problem and comparing with Jupiter's behaviour in similar cases your initial suggestion may indeed be the best option. An alternative is to have different API methods for skipping tests and for constraining property data. That would mean however that the term "assume" gets even more overloaded and that assumptions from assertion libs like AssertJ could no longer b

[2020-10-06 20:46] gtrefs commented on #122
I updated the testcontainers hook. Containers can now be restarted between each try.

[2020-10-07 12:55] jlink commented on #122
Fixed.

Available from Maven in 1.3.7-SNAPSHOT.

[2020-10-07 12:55] #122 closed

[2020-10-08 07:26] larsrh opened #123 "Support for Coarbitrary"
## Testing Problem

I need to generate a random function.

## Suggested Solution

Port `Coarbitrary` from Quick- or ScalaCheck.

## Discussion

Currently, the way to do this in Jqwik is quite hard. One needs to create a custom function with a "memory" of already generated values. This is bad for many reasons, including mutability and concurrency problems.

[2020-10-08 08:25] jlink commented on #123
@larsrh Could you show a simple example?

[2020-10-08 08:55] larsrh commented on #123
In Scala:

[code]

[2020-10-08 09:32] jlink commented on #123
Maybe I don't get it, but maybe you are talking about https://jqwik.net/docs/current/user-guide.html#functional-types

[2020-10-08 10:44] jlink commented on #123
To copy your example above:

		Arbitrary<Function<String, Integer>> arb =
			Functions.function(Function.class).returns(Arbitraries.integers());

		Function<String, Integer> f = arb.sample();

		System.out.println(f.apply("a")); // -3553
		System.out.println(f.apply("b")); // -4007168
		System.out.println(f.apply("a")); // -3553

[2020-10-08 10:58] larsrh commented on #123
You're absolutely right! I was looking for `Coarbitrary` in the docs, but didn't find it. It didn't occur to me to look for functions specifically. Apologies for the noise.

[2020-10-08 10:58] #123 closed

[2020-10-09 05:31] jlink commented on #123
In theory it’s a Co-Arbitrary. In practice it’s used to generate functions. ;-)

[2020-10-10 08:54] johanhaleby opened #124 "@Property doesn't work for nested JUnit 5 tests"
When I define a  test like this (using kotlin, but I don't think it matters):

[code]

and try to run it in Intellij I run into this error:

![image](https://user-images.githubusercontent.com/187029/95650871-bd52ad00-0ae6-11eb-9262-670c60482dc4.png)

But when I just remove the nested class it works:

[code]

Would it make sense to support nested classes as well? I find these to be really valuable

[2020-10-10 09:20] jlink commented on #124
Jqwik has its own nesting annotation: `@Group`

Supporting Jupiter‘s nesting annotation does IMO not make sense because jqwik does not run in Jupiter‘s lifecycle. My rule is to never mix Jupiter and jqwik tests in the same class. It’s possible but in all but the simplest cases the lifecycle behaviour will be confusing at best.

[2020-10-10 10:02] johanhaleby commented on #124
Ok, got it! Thanks for the clarification, and thanks for a great project 🙂

lör 10 okt. 2020 kl. 11:20 skrev Johannes Link <notifications@github.com>:

--
Sent from my phone

[2020-10-11 05:15] #124 closed

[2020-10-20 13:28] Danny02 opened #125 "Using Arbitriaries outside jqwik execution"
## Testing Problem

In my project I use JUnit5 alongside jqwik. Until Version 1.2.7 I could use Arbitrary samples in JUnit tests. With version 1.3.6 I get the error "The current action must be run on a jqwik thread ..." in CurrentTestDescriptor.get(), which is called in the initialization of the EdgeCaseFacadeImpl.

I know that I could replace all @Test with @Example, but JUnit has some other feat

[2020-10-20 13:33] Danny02 opened #126 "generated Generic Functions are not pure"
## Testing Problem

While switching from 1.2.7 to 1.3.6 I encountered the following regression.

a property for a generic value of type T and and a second value of type Function<T, String> generates functions which are not pure. Some of the functions called with the first value return different values on each call.

[2020-10-20 13:45] jlink commented on #125
@Danny02 Can you give an example how you use it? It _should_ still work...

[2020-10-20 13:49] jlink commented on #126
@Danny02 Shouldn't happen. Can you give an example?

[2020-10-20 14:53] jlink opened #127 "Provide convenience method for email generation"
## Testing Problem

Generating valid emails (as Strings) is a common task but requires to combine a few string generators into a single string.
I'd like to have a straightforward way to generate emails.

## Suggested Solution

- Provide a method `Arbitraries.emails()` for generating valid email addresses. Valid according to some standard (might be RFC 5322 and 6854).
- Additionally have an `@Email

[2020-10-21 05:49] Danny02 commented on #125
@jlink I created a minimal failing example for you
https://github.com/Danny02/jqwik-errors/blob/master/src/test/java/de/UseSampleTest.java

[2020-10-21 05:50] Danny02 commented on #126
@jlink I created a minimal failing example for you (it happens with a custom arbitrary provider)
https://github.com/Danny02/jqwik-errors/blob/master/src/test/java/de/PureFunctionSpec.java

[2020-10-21 06:24] jlink commented on #125
Copying over the example to have it handy:

[code]

[2020-10-21 06:25] jlink commented on #125
It's definitely a bug.

Strangely enough I have tests for it, but they seem to work fine in the overall suite and only fail when run individually :-(

[2020-10-21 07:00] jlink commented on #125
Fixed and published in 1.3.7-SNAPSHOT: https://jqwik.net/release-notes.html#137-snapshot

[2020-10-21 07:00] #125 closed

[2020-10-21 14:10] jlink commented on #126
Copying your example:

[code]

How are instances of `io.vavr.control.Validation` being generated?

[2020-10-21 21:14] Danny02 commented on #126
see https://github.com/Danny02/jqwik-errors/blob/master/src/test/java/de/providers/ValidationArbProvider.java

    public class ValidationArbProvider implements ArbitraryProvider {

    @Override
    public boolean canProvideFor(TypeUsage typeUsage) {
        return typeUsage.canBeAssignedTo(TypeUsage.forType(Validation.class));
    }

    @Override
    public Set<Arbitrary<?>> provideFor(TypeUsag

[2020-10-21 21:21] Danny02 commented on #126
the more minimal example

    @Property
    <T, S> void isPure(@ForAll T t, @ForAll Function<T, S> f) {
        assertEquals(f.apply(t), f.apply(t));
    }

fails to. without any custom generators

[2020-10-22 07:12] jlink commented on #126
As I see it the behaviour is correct (and seems to have been the same in version 1.2.7 and before). Let me explain:

Since `S` can represent any class it can also represent classes that do not provide their own `equals` implementation, e.g. `Object`. In these cases the generated function will provide an instance of `Object` which is instantiated in the exact same way. But `new Object().equals(new

[2020-10-22 10:55] Danny02 commented on #126
Hi thx for the explaination of this behavior, but I think there is something different going on in my initial problem (I encountered in my project).

    @Property
    <E> void buggy(@ForAll String t, @ForAll Function<String, Validation<String, E>> f) {
        assertEquals(f.apply(t).isValid(), f.apply(t).isValid());
    }

    @Property
    <E> void works(@ForAll String t, @ForAll Function<Strin

[2020-10-22 12:12] jlink commented on #126
I can replicate your problem. It seems unrelated to the behaviour described above. I'll have a closer look at it.

[2020-10-24 06:31] jlink commented on #126
It's a really tricky bug. Thanks for catching it!

It (probably) has to do with Java's `Optional` class. I'll research that later, but I have a work-around for you that I think will  improve the understandability of your `ValidationArbProvider` class. I suggest you change the `create` method in such a way:

[code]

It makes  clear what the original `optional()` call hides: You are choosing between

[2020-10-25 09:27] Danny02 commented on #126
yes this is a mutch more clear implementation^^

[2020-10-26 16:20] jlink commented on #126
I also fixed the original problem. Available in 1.3.7-SNAPSHOT

[2020-10-26 16:20] #126 closed

[2020-10-27 14:41] zinki97 commented on #127
I am working on it:
https://github.com/jlink/jqwik/pull/128

[2020-10-29 18:32] zinki97 opened #129 "Problem using more Combinators.combine() and oneOf/frequencyOf at the same time"
I think both properties should work, but one property isn't working. The only difference in the code is, that I combine more arbitraries in the code that isn't working. (`Combinators.combine(Arbitraries.just("."), integer, integer, integer).as((a, b, c, d) -> a + b + c + d);` instead of `Combinators.combine(Arbitraries.just("."), integer).as((a, b) -> a + b);)`

The more integers you combine, the

[2020-10-29 18:49] jlink commented on #129
@zinki97 Thanks for reporting that! I'll have a look at it.

[2020-10-30 07:22] jlink commented on #129
The behaviour you observe is triggered by jqwik's tendency to distort distributions towards edge cases.
So you can "fix" it by switching edge cases of:

[code]

However, I'm currently not sure if in this case this is intended distortion or not. I'll do a bit more research.

[2020-10-30 10:21] jlink commented on #129
The behaviour you observe is indeed as designed (which does not mean that it can't or shouldn't be changed).

What jqwik does, when edge cases are not disabled, is to mix in edge cases with some probability.
Since `integerCombinated` has more edge cases than `string` `Aribitraries.oneOf()` will mix-in more of the former than the latter.

In your case you are probably running with `EdgeCasesMode.FI

[2020-10-30 10:21] #129 closed

[2020-11-11 07:28] jlink commented on #127
Done and available in 1.3.8-SNAPSHOT.

Many thanks @zinki97!

[2020-11-11 07:28] #127 closed

[2020-11-11 07:31] jlink opened #130 "Add default generation for String with `@Email` annotation"
## Testing Problem

There's currently no way to generate emails just by an annotation.

## Suggested Solution

Register `EmailArbitraryProvider` that reacts to annotation `@Email`.

## Discussion

In the long run `@Email` should have some properties to configure types of email e.g.
`@Email(allowIpv6Domain = false)`

[2020-11-12 16:46] zinki97 commented on #130
Working on annotation: https://github.com/jlink/jqwik/pull/131

[2020-11-18 18:03] tmohme opened #132 "NullPointerException in jqwik on test failure"
## Testing Problem

With one tests with generated nullable parameters, I get a NullPointerException in jqwik when the test fails.

This is the stack trace I get on the console:
[code]

But when I stop the program when the NPE happens (via exception-breakpoint in IntelliJ), I find the following:
* the NPE actually happens in `net.jqwik.engine.execution.reporting.ArrayReportingFormat#appliesTo` beca

[2020-11-18 18:18] jlink commented on #132
Thanks for the catch. I’ll have a look at it.

[2020-11-19 07:50] jlink commented on #130
Merged PR. Available in 1.3.9-SNAPSHOT.

See https://jqwik.net/docs/snapshot/user-guide.html#email-address-generation

[2020-11-19 07:50] #130 closed

[2020-11-19 07:56] jlink opened #133 "Email Generation has way too many edge cases"
## Testing Problem

Email Generation has way too many edge cases which leads to only few generated email addresses to be
just normal and random

## Suggested Solution

Restrict edge cases to just the most valid ones, e.g.
- `a@a.aa`
- `"a"@a.aa`
- `" "@a.aa`
- `a@[1.1.1.1]` or `[0.0.0.0]`?
- `a@[FF::FF:FF:FF:FF:FFFF:FF]`
- etc.

[2020-11-19 07:56] jlink commented on #133
@zinki97 Any suggestions about edge cases for ip4 and ip6 addresses?

[2020-11-19 10:12] jlink commented on #132
Fixed in https://github.com/jlink/jqwik/commit/7fb5b643275c3885ea7eaecea73d304f2fca88e2

Available in 1.3.9-SNAPSHOT

[2020-11-19 10:12] #132 closed

[2020-11-19 10:53] tmohme commented on #132
Fyi: Just want to confirm that 1.3.9-SNAPSHOT solves my problem.
Thank you for the super fast reaction!

[2020-11-19 12:13] zinki97 commented on #133
I think edge cases are 0.0.0.0, 255.255.255.255, 0:0:0:0:0:0:0:0 (or equal ones like 0:0:0::0:0:0:0) and FFFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF:FFFF

[2020-11-19 15:44] luvarqpp commented on #133
I vote for '::1' (short form of localhost address.)

[2020-11-22 21:04] DirkToewe opened #134 "State-Dependent (Ad-Hoc) Action Generator"
## Testing Problem

Let's say You want to test the `List<E>::add(int, E)` method of a custom implementation of a `List`. Since `List` is stateful, action sequences would be perfect for testing. So naively, a provider could be implemented as follows:

[code]

This will however very likely fail or run indefinitely, as `idx` is out of bounds most of the time and `precondition` evaluates to false
almo

[2020-11-23 06:37] jlink commented on #134
@DirkToewe Thanks for bringing that up. The idea to generate the next step of a sequence based on a model's state is a good one and would facilitate some type of state-based testing. However, it does not fit together with the way jqwik is currently generating and shrinking sequences and would require more or less a re-implementation of the stateful package.

So the feature is on my long-term list

[2020-11-23 08:30] DirkToewe commented on #134
That would have been my idea for a Workaround as well. One concern I had with that is edge cases: Wouldn't values like `0` and `Integer.MAX_VALUE % list.size()` be tested much more frequently than for example the important edge case of `list.size()` (appending to the end of the list)?

[2020-11-23 11:58] jlink commented on #134
Edge cases will have a higher probability regardless. I'd also argue that trying the first and last element more often is a reasonable thing to do. That said, being able to switch edge case generation off for individual arbitraries is quite on top of jqwik's feature list. Currently planned for 1.4.0.

What may matter more IMO is a uniform distribution of indices. You can enforce uniform distributi

[2020-11-27 07:54] jlink commented on #133
This is the current list of edge cases:

[code]

Obviously domain hosts and ip4 addresses are completely missing. More questions I have:
- Is ! really a valid local part?
- Is " " a valid quoted local part?
- Do [2:2:2:2:2:2:2:2] and [1:1:1:1:1:1:1:1] offer additional value?

[2020-11-28 14:45] jlink commented on #133
Here's the list of all 63 edge cases being generated in 1.3.9-SNAPSHOT:

[code]

Anything missing? Anything in that shouldn't be in?

[2020-11-28 15:30] jlink commented on #133
Added in https://github.com/jlink/jqwik/commit/c7813b94d5e0be7d64f07c934a6fb5ae955cadb9
Available in 1.3.9-SNAPSHOT

[2020-11-28 15:30] #133 closed

[2020-12-03 00:15] osi opened #137 "LazyArbitrary doesn't delegate Arbitrary.exhaustive"
The `LazyArbitrary` (as returned by `Arbitraries.defaultFor`) does not override `Arbitrary#exhaustive(long)`

This prevents `allValues()` from working.

[2020-12-03 06:53] jlink commented on #137
I seem to remember there’s a reason for that. Will have a closer look later today.

[2020-12-03 09:07] jlink commented on #137
Couldn't find a reason (except my lazyness - pun intended) to not allow exhaustive generation.

It's available in 1.4.0-SNAPSHOT.

Bad news: A lot of stuff is planned for 1.4.0, so the release might take a while...

[2020-12-03 09:07] #137 closed

[2020-12-04 16:03] jlink commented on #137
has been released in 1.3.10

[2020-12-04 16:18] osi commented on #137
thanks!!

--
(peter.royal|osi)@pobox.com - http://fotap.org/~osi

[2020-12-04 23:03] osi commented on #100
I'd be interested in times for parameter generation. I had a complex arbitrary that was slow to build, and refactoring how it was generated help test time a _lot_.

[2020-12-04 23:06] osi opened #138 "Ability to ignore (or fail) on usage of @Property(seed=)"
Being able to add the `seed` argument to the `@Property` annotation is superb for reproducing failures.

However, sometimes they get accidentally committed, which can lead to a CI server runnings tests on a fixed seed.

The ability to ignore or fail on the presence of an explicit seed, for use in CI systems, would help prevent this error.

A system property or environment variable feels to be the

[2020-12-05 06:45] jlink commented on #100
@osi Are you interested in aggregated/average/median times or individual generation time?

[2020-12-05 06:50] jlink commented on #138
There’s two aspects here:
1. Configuring special behaviour when seed is specified (use, warn, fail, ignore)
2. Overriding config values in system prop

1 is crucial for you. 2 is optional, right?

[2020-12-05 18:59] osi commented on #138
Correct. My goal is to prevent builds running in certain environments from using a fixed seed. (developer laptop, ok. CI server, no)

[2020-12-05 19:00] osi commented on #100
Aggregate statistics are fine. My goal is information that can be used to help tune overall test execution time.

[2020-12-06 13:42] jlink commented on #138
I’m a bit in doubt if a global (overwritable) config is all that helpful.  I’ve seen a few codebases where some properties are purposefully fixed to a seed for a reason. Those properties should IMO not lead to failures.

What about having a second attribute in @Property, e.g. temporarySeed, which will always log a warning? I’m just rambling. Maybe/probably there are better options to reconcile bot

[2020-12-06 22:28] osi commented on #138
What if the source of the seed for a property was available in a `AroundPropertyHook` ? It could be as simple of a change as having `PropertyExecutionResult#seed` return a tuple of the seed and the source (perhaps an enum of `PREVIOUS_SEED`, `RANDOM_SEED`, `FIXED_SEED`). A hook could transition the result to failed if it was using a `FIXED_SEED` in an inappropriate execution environment.

[2020-12-08 07:19] jlink commented on #138
@osi Extending the AroundPropertyHook with such a specific trait does not feel adequate.

Here's my current suggestion:
1. Add a configuration parameter to `jqwik.properties`:
   `onFixedSeed: ALLOW | WARN | FAIL`
2. Allow configuration parameters be overridden by system properties handed in via
   `-D jqwik.onFixedSeed=FAIL`
3. Extend configuration to allow something like:
   `onFixedSeed.net.myp

[2020-12-08 16:31] osi commented on #138
That suggestion would satisfy my goals.

I'm also open to helping switch to use `junit-platform.properties`. If we take that as a goal, I think your first point is all that'd be needed now, with the 2nd and 3rd being delegated to the platform support.

What were you thinking for the migration?
 - Properties from `jqwik.properties` loaded from `junit-platform.properties` with an additional `jqwik.`

[2020-12-09 06:52] jlink opened #139 "Replace jqwik.properties with JUnit Platform Mechanism for Configuration"
## Testing Problem

jqwik has its own way to configure itself: `jqwik.properties`. This has a couple of disadvantages:
- Users must be taught how to use it
- Users must create such a file in each of their projects
- There's currently no mechanism to override configuration parameters, e.g. through system properties or runtime parameters

## Suggested Solution

Switch to the [configuration mechanism