[2020-12-09 06:58] jlink commented on #138
@osi I moved that aspect out into a new issue: https://github.com/jlink/jqwik/issues/139

If you want to tackle it I can support you.

[2020-12-09 07:51] jlink opened #140 "Add jqwik Module for Generation of Dates and Times"
## Testing Problem

Generating dates and times with certain constraints is a standard problem when building domain-specific
generators. Currently jqwik requires users to generate dates from numbers or other primitive data types.

## Suggested Solution

Provide a new module/artefact (id "jqwik-time") that has means to generate time  and date values.
The new module will be maintained together with j

[2020-12-09 13:51] jlink commented on #140
dsfgsdfg

[2020-12-09 14:46] zinki97 commented on #140
Which class should be used for the date? I think the Date class is deprecated. Maybe Calendar?

Calendar and Date also have time attributes. How should we handle this?

[2020-12-09 15:08] zinki97 commented on #140
My first design of DateArbitrary:
[code]

[2020-12-09 17:01] jlink commented on #140
I think LocalDate is the best choice

[2020-12-09 17:03] jlink commented on #140
What about atTheEarliest/atTheLatest rather than greaterOrEqual/lessOrEqual.
Maybe before/after is enough since there‘s the between for the cases including the borders.

[2020-12-09 17:04] jlink commented on #140
The only* methods should probably be static methods on the `Dates` class.

[2020-12-09 23:06] zinki97 commented on #140
How should they look like?

[2020-12-10 05:23] jlink commented on #140
I’d probably go with years(), daysOfWeek(), months() etc.

[2020-12-10 07:55] jlink commented on #140
Added new module "jqwik-time" in https://github.com/jlink/jqwik/commit/b2b68ce055761a9f0d8fc5559753666f7f884c49

[2020-12-10 13:26] zinki97 commented on #140
Working on it https://github.com/jlink/jqwik/pull/141

[2020-12-10 23:34] osi commented on #138
thanks - i may try and take it up over my new years break

[2020-12-11 17:23] zinki97 commented on #140
### Date Generation Options

* [x] Between start/end date
* [x] Min/Max Year
* [x] Min/Max Month
* [x] Min/Max Day of month
* [x] Constrain day of week
* [x] Generate just a year
* [x] Generate just a month
* [x] Generate just a day of month
* [x] Generate just a day of week
* [x] Generate a month in a year
* [x] Generate a day in a

#### Optional
* [ ]  With/without lap year/lap day
* [ ]  Genera

[2020-12-14 02:35] FeralWhippet opened #142 "Custom Configurators for a Custom Arbitrary"
## Testing Problem

I am testing a class that implements Hypergraph shards, the simplest parameter specification looks something like:

[code]

but this does not account for specifying which atoms (atoms represent vertices and edges) are defined locally vs remotely, labelling of atoms, and many other structural properties. The code for mapping those parameters into construction of the shard will b

[2020-12-14 07:09] jlink commented on #142
I see three features of jqwik that may be of help here:

- Use [self-made annotations](https://jqwik.net/docs/current/user-guide.html#self-made-annotations)
   to collect annotations that are commonly used together.
- [Create your own configurator](https://jqwik.net/docs/current/user-guide.html#create-your-own-annotations-for-arbitrary-configuration) and combine it with a custom-made annotation
-

[2020-12-14 11:17] tmohme opened #143 "Generating unique values"
## Testing Problem

I'd like to generate values that are unique within all tries of a property.
The UserGuide makes it clear that `@Unique` provides not strong enough guarantees for this.
Nevertheless, the API function `net.jqwik.api.Arbitrary#unique` seems to do exactly what I need (according to its doc):

But when I use this function (v1.3.10), the produced Arbitrary still produces duplicate val

[2020-12-14 11:30] jlink commented on #143
To be frank, `Arbitrary.unique()` as it is now is a broken concept. I've fought with it quite a while and tried to make it sound but there are some aspects which prevent that. That's why it will be deprecated in 1.4.0 (the upcoming version, due probably early 2021). It will be replaced by something else to cover the most common scenarios I know of.

That being said, the feature that you want, uniq

[2020-12-14 12:02] tmohme commented on #143
You have a valid point in saying that PBT is not about constraints across all tries.

I'm doing some kind of acceptance tests of a system that persists data.
The clean solution would obviously be, to ensure a *fully* defined state before each try, but that is time-consuming.
So I though, maybe I can get away cheaper when I only do the full initialization for each property and within the tries of a

[2020-12-14 13:23] jlink commented on #143
You may want to use [data-driven properties](https://jqwik.net/docs/current/user-guide.html#data-driven-properties) and hand in a few hand-made unique ids.

It will be completely reworked with the new concept.

[2020-12-22 21:31] osi commented on #139
On property naming, the JUnit Jupiter documentation does dot-separated lowercase. they use `testinstance` and `autodetection` instead of a camel-cased or adding other separators. a dot appears to be used for grouping (as it does with the proposed `.default` syntax).

[2020-12-22 21:36] osi commented on #139
On the first discussion point, agreed. I was thinking of storing the configuration as a property on `JqwikEngineDescriptor`, as that descriptor will then be available during execution as the root descriptor.

[2020-12-23 09:56] jlink commented on #139
That doesn’t feel right to me because it requires a descriptor to be mutable. Descriptors were designed to be immutable; I think there are places where this is no longer the case but I wouldn’t do it if I can prevent it.

[2020-12-23 10:03] jlink commented on #139
@osi Just had a look at the PR to realise that mutability is NOT required. Your approach looks unusual at first sight (because it stores additional info in the descriptor) but let’s see where it will lead you. It may also be worthwhile to look how Jupiter is doing it.

[2020-12-25 20:44] osi commented on #139
Jupiter also stores the configuration as a property of the root descriptor.

https://github.com/junit-team/junit5/blob/main/junit-jupiter-engine/src/main/java/org/junit/jupiter/engine/descriptor/JupiterEngineDescriptor.java#L33

[2021-01-02 16:16] jlink commented on #140
Version 1.4.0-SNAPSHOT is available with the latest dates generation features

[2021-01-02 16:18] jlink commented on #143
Feel free to reopen if you think any work is necessary BEFORE introducing the reworked unique mechanism.

[2021-01-02 16:18] #143 closed

[2021-01-03 10:31] jlink commented on #139
The PR has been merged and released in "1.4.0-SNAPSHOT"

[2021-01-03 10:33] jlink commented on #139
@osi There's one minor thing that I couldn't track down quickly: All logging done during configuration loading seems to appear twice when running tests, e.g.

`INFORMATION: Loading JUnit Platform configuration parameters from classpath resource [file:/Users/link/Documents/git-projects/jqwik/documentation/out/test/resources/junit-platform.properties].
`

Is there a straightforward way to prevent du

[2021-01-04 08:10] jlink commented on #142
@FeralWhippet Feel free to reopen if my answer didn't help or you have additional questions.

[2021-01-04 08:10] #142 closed

[2021-01-04 16:40] osi commented on #139
I'll take a look.

[2021-01-04 18:30] osi opened #146 "per-statistic report format"
I'm using `Statistics.label(...).collect(...)` to record timing information for each action in a stateful test. I'd like to have these statistics display as a histogram.

Currently, Using `@StatisticsReport` is a property-wide setting.

In addition to that, offer the ability to specify a reporting format when using `Statistics.label` that would supersede any report format specified as an annotatio

[2021-01-04 19:29] jlink commented on #146
Using `Statistics.label(name).withFormat(format)` as you suggest is one option. It would break the current design IDE to move representational/reporting configuration to annotation. Another possibility would be to allow multiple annotations of

`StatisticsReport(label="label1", format=Histogram.class)`
`StatisticsReport(label="label2", format=NumberRangeHistogram.class)`

What do you think?

[2021-01-04 20:06] osi commented on #146
Making the annotation repeatable, and allowing it to specify a set of labels to apply to is totally fine.

I had actually gone to the documentation to see if that was possible before raising this enhancement.

[2021-01-05 07:24] jlink commented on #146
I added it to the 1.4.0 timeline

[2021-01-05 15:44] jlink commented on #143
@tmohme I've just thought of a solution for your problem. You can combine data driven properties with arbitraries like that:

[code]

Since uniqueIDs() is using Arbitrary.sampleStream() the unique constraint holds for all generated IDs.

Sorry for using Java. I was too lazy to set up a Kotlin project right now.

[2021-01-08 17:19] jlink commented on #139
@osi The double logging comes from JUnit Platform itself, called by IntelliJ. One of the two is the culprit.
I guess we cannot do anything about it. So I close this issue as done.

[2021-01-08 17:19] #139 closed

[2021-01-10 12:25] tmohme commented on #143
@jlink Thank you for your suggestion.
Initially I was a bit confused about the @ForAll value parameter and the @Provide annotation but I guess the example is just not "polished".

[2021-01-10 13:56] jlink commented on #143
@tmohme I was in a hasty mood.

[2021-01-10 17:14] jlink commented on #138
Now that configuration is using the platform mechanism, here's the plan:
- Add configuration parameter
  `jqwik.seeds.whenfixed=ALLOW | WARN | FAIL`
- Default value is `ALLOW`
- Mapped on `enum FixedSeedMode`

Setting fixed seed mode for individual test in configuration is currently out of scope.

Optional: Add `whenFixedSeed` attribute to `@Property` and `@PropertyDefaults` to override global def

[2021-01-11 21:50] osi commented on #138
got it. i'll pick this up.

--
(peter.royal|osi)@pobox.com - http://fotap.org/~osi

On Sun, Jan 10, 2021, at 9:14 AM, Johannes Link wrote:

[2021-01-12 14:57] zinki97 commented on #140
I think the Date class is deprecated. Should we add it anyway?

[2021-01-12 15:17] jlink commented on #140
Yes, it's so widely in use.

Am Di., 12. Jan. 2021 um 15:58 Uhr schrieb zinki97 <notifications@github.com

[2021-01-12 15:37] zinki97 commented on #140
I do not understand this point. Can you give me an example, please?

[2021-01-12 19:18] jlink commented on #140
https://docs.oracle.com/javase/8/docs/api/java/time/Period.html

Von meinem iPad gesendet

[2021-01-13 08:42] jlink commented on #138
This might have to dive in some dirty parts of the engine. If you have ANY doubt how to tackle this, just ask!

[2021-01-14 00:29] osi commented on #138
Will do. Capturing the intent has been straightforward. I'm looking to add tests for the actual behavior and believe that `net.jqwik.engine.properties.CheckedPropertyTests` has similar tests / is the place to put them,

[2021-01-15 11:03] AFrancani opened #148 "After failure modes SAMPLE_ONLY and SAMPLE_FIRST seem to have no impact"
With jqwik 1.3.10, I tried using `SAMPLE_ONLY` and `SAMPLE_FIRST` after failure modes at property, test class and configuration level without success.

The property parameters are shrinkable (the property results show a shrunk sample after failure) but, when rerunning it, jqwik runs the previous working tries (using the same seed) before running the failing sample, even though it states `after-fai

[2021-01-15 12:00] jlink commented on #148
Can you provide a minimal but fully executable example? Thanks.

[2021-01-15 13:40] AFrancani commented on #148
While trying to create a minimal executable example, I figured out that the parameters need to be serializable which they aren't in my case but marking them as `Serializable` does not help, though it does in a simpler example.

In any case, I cannot modify the parameter class to make it serializable so I suppose you can consider this issue as closed. But do you have any plan of having a way to rep

[2021-01-15 13:50] jlink commented on #148
Yes, they must be Serializable. I have a solution in the back of my mind that would forgo this requirement but this will require a few fundamental changes.

You can always reproduce a run using the random seed and this is the default for failing properties in your IDE. The disadvantage is, however, that all succeeding sample data will be tried first. In the end, however, the exact same failing sam

[2021-01-15 13:58] #148 closed

[2021-01-15 14:05] AFrancani commented on #148
Looking forward to it :)

Good idea, I'll promote this debugging technique, thanks!

[2021-01-15 14:29] jlink commented on #148
Don't hold your breath. It's probably one major version away, i.e. 1.5.x

[2021-01-23 17:57] jlink opened #151 "Improve Support for Kotlin"
## Testing Problem

In principal jqwik can be used with all JVM languages that are able to generate Java compatible classes and annotations. Kotlin is one of those languages and jqwik is a good choice for doing Property-based testing in Kotlin projects. However, not everything looks as nice and polished from Kotlin since jqwik's API is primarily made for Java. Moreover, some useful Kotlin language

[2021-01-23 17:58] jlink commented on #151
To all: Please add comments with more suggestions how a jqwik could support Kotlin in a better way.

[2021-01-24 16:49] zinki97 opened #152 "User-Guide on mobile devices"
User-Guide has not the full width on (all??) mobile devices.

test device: Samsung Galaxy S20+ 5G

Screenshot:
![Screenshot_20210124-174345_Chrome](https://user-images.githubusercontent.com/72615180/105637148-40b4c600-5e6c-11eb-8d07-da95361fd6b2.jpg)

Solution: Provide full width on all mobile devices

[2021-01-24 19:37] jlink commented on #152
Do you know the device width?

[2021-01-24 19:49] zinki97 commented on #152
Device screen: 3.200 x 1.440 px (height x width)
Source: Samsung site

[2021-01-25 07:50] jlink commented on #138
This feature is available in `1.4.0-SNAPSHOT`.

[2021-01-25 07:50] #138 closed

[2021-01-25 08:01] jlink commented on #152
Any idea how the media query should look like?

[2021-01-25 10:50] zinki97 commented on #152
Not really.

A few weeks ago the problem was not present, the problem is new.

[2021-01-25 10:52] jlink commented on #152
New browser version on your Samsung? The CSS has not changed for a long time.

[2021-01-25 10:55] zinki97 commented on #152
I don't know. Maybe it has something to do with rearranging the elements?

[2021-01-25 11:29] jlink commented on #152
Does it only happen in the user guide? If so in all versions or just the latest?

[2021-01-25 11:36] zinki97 commented on #152
Yes, only in the user guide and in all versions. While looking for it I saw the following:

- Up to 1.3.7 the width is larger but not the full width
- Since 1.3.8 the width is even smaller

(Screenshots will follow shortly)

[2021-01-26 13:47] zinki97 commented on #140
We have decided to create a new issue.

--- closed --- (I can't close this issue)

[2021-01-26 13:57] zinki97 opened #154 "Add Generation of Times"
## Testing Problem

Generating times with certain constraints is a standard problem when building domain-specific
generators. Currently jqwik requires users to generate times from numbers or other primitive data type.

## Suggested Solution

Add arbitraries to the new module/artefact (id "jqwik-time") to generate time values.

Foundation for generation are the types in java.time. Mappers to "old"

[2021-01-26 13:57] jlink commented on #140
Date generation has been completely implemented in 1.4.0-SNAPSHOT.

[2021-01-26 13:58] jlink commented on #140
Follow up for time generation in https://github.com/jlink/jqwik/issues/154

[2021-01-26 13:58] #140 closed

[2021-01-26 13:59] zinki97 commented on #154
### Time Generation Options
* [ ] Min/Max Hours
* [ ] Min/Max Minutes
* [ ] Min/Max Seconds
* [ ] Min/Max Milliseconds
* [ ] Min/Max Nanoseconds
* [ ] Between given times (borders in- or excluded)
* [ ] Constrain precision (nanos, millis, seconds, minutes)
* [ ] Include/exclude lap seconds

### Default Generation of Dates
* [ ] LocalTime
* [ ] Duration

### Annotations for Time
* [ ] `@TimeRange`

[2021-01-26 14:01] zinki97 commented on #154
Design idea:

class `Times`:
- `LocalTimeArbitrary times()`
- `DurationArbitrary durations()`

class `LocalTimeArbitrary`:
TODO

[2021-01-26 14:19] jlink commented on #154
I would provide more options in class `Times`:
- `LocalTimeArbitrary localTimes()`
- `OffsetTimeArbitrary offsetTimes()`
- `LocalDateTimeArbitrary localDateTimes()`
- `DateArbitrary localDateTimesAsDate()`
- `InstantArbitrary instants()`
- `OffsetDateTimeArbitrary offsetDateTimes()`
- `ZonedDateTimeArbitrary zonedDateTimes()`

And probably one of:
- `ZoneIdArbitrary zoneIds()`
- `TimeZoneArbitrary

[2021-01-26 15:13] zinki97 commented on #154
I think it's better to add DateTimes in a separate step and in this step only Times.

[2021-01-26 15:49] jlink commented on #154
Fine with me.

[2021-01-26 20:16] jlink commented on #154
OffsetTime would be in-scope then.

[2021-01-26 20:21] jlink commented on #154
One aspect that's interesting in times is on the day of DST change from summer to winter time, because a certain hour (usually 2am-3am) can appear twice. I guess OffsetTime can represent that and OffsetTimeArbitrary should be configurable to include/exclude it.

[2021-01-27 11:27] zinki97 commented on #154
I'll take a closer look at it when I implement OffsetTimeArbitrary.

[2021-01-27 12:06] jlink commented on #152
You may want to check the Snapshot userguide: https://jqwik.net/docs/snapshot/user-guide.html

The black stripe on the right should be smaller now. But I haven't found all violating html yet.

[2021-01-27 12:10] zinki97 commented on #152
Yes it's smaller.

![Screenshot_20210127-130922_Chrome](https://user-images.githubusercontent.com/72615180/105989171-041de000-60a1-11eb-8d68-ca9b70770ce2.jpg)

[2021-01-28 08:16] jlink commented on #152
It looks ok on my iPhone now.
@zinki97 Could you check if it is ok on your mobile?

[2021-01-28 10:01] mmerdes commented on #151
I would favor the kotlin extension over a kqwik alternative.
jqwik can be used for kotlin as is and many companies have both, Java and Kotlin projects.
(let alone mixed java/kotlin projects)
So a uniform API is good.

Adding syntactic sugar for kotlin is, of course, highly welcome as well.

[2021-01-28 10:02] mmerdes commented on #151
Informing the generation process from the nullability of kotlin types would be my favourite feature

[2021-01-28 10:16] mmerdes opened #157 "Use constrained domain models as generation input"
## Testing Problem

It is currently not possible to use domain models with JSR 303/380 validation annotation as input for the generation process.
Duplicating this constraint information in the form of hand-crafted Arbitraries violates the DRY principle and can be a lot of effort for larger models

## Suggested Solution

Derive generic 'companion' Arbitraries from said annotations within jquik. In

[2021-01-28 10:31] jlink commented on #157
@mmerdes Can you give a link to a good reference or overview for JSR 303/380?

An example to show what you mean would be helpful to the viewer who does not know about this JSRs yet.

[2021-01-28 10:36] zinki97 commented on #152
![Screenshot_20210128-113519_Chrome](https://user-images.githubusercontent.com/72615180/106125868-f332a480-615c-11eb-8b5f-ef8354a90360.jpg)

Perfect 👍

[2021-01-28 10:55] jlink commented on #152
Fixed and deployed on current snapshot userguide. Will be available for current user guide with release 1.4.0

[2021-01-28 10:55] #152 closed

[2021-01-28 11:00] mmerdes commented on #157
These annotation go by the offical name of 'Jakarta Bean Validation'.
Specs and articles can be found here:
https://beanvalidation.org/

[2021-01-28 11:00] mmerdes commented on #157
Will provide a concrete example later

[2021-01-29 09:33] mmerdes commented on #68
this might help:

https://westergaard.eu/2019/08/generating-test-data-using-regular-expressions-with-java/

[2021-02-03 10:44] galderz opened #163 "Arbitrary generation inclusive of specific values"
I'm looking around and don't see how I can do the following:

Is it possible to enhance the double generator to make sure certain values are included? I don't see an API in `DoubleArbitrary` to add specific values, such as `NaN`, `POSITIVE_INFINITY`, `NEGATIVE_INFINITY`.

It is true that these edge values could be tested manually, but how do you know if they are, or are not, included already in th

[2021-02-03 11:08] jlink commented on #163
@galderz Thanks for bringing that up!

Probably many (if not most) of the values you are thinking about are already generated by default. Have a look at: https://jqwik.net/docs/current/user-guide.html#generation-of-edge-cases

As for those that values that are not included as edge cases by default, there are a few options:
1. Use data-driven properties: https://jqwik.net/docs/current/user-guide.ht

[2021-02-03 11:46] galderz commented on #163
Hardly any are generated actually, including none of the above. For `Arbitraries.doubles().edgeCases()` it shows:

[code]

The last two values are `-Double.MAX_VALUE` and `-DOUBLE.MAX_VALUE`.

Thx for the hints on the options, I'll look into those to enhance my tests.

[2021-02-03 12:21] jlink commented on #163
I’d consider NaN and infinities as out of domain for most functions that take a number arg. But an annotation, eg @Infinity, to add those might make sense. What do you think?

[2021-02-03 13:23] galderz commented on #163
Not sure about an annotation. I've only just started playing with jqwik ;)

Just being able to add them to the edge cases is enough for me. I'm building master locally to try option 3, because that seems the one most suited for me.

I'm not sure that with option 2 there's a guarantee that all the edge cases that I want to be covered are going to be executed. Option 1 seems more cumbersome here cos

[2021-02-03 13:25] jlink commented on #163
Tell me, if you need more hints.

[2021-02-03 13:41] galderz commented on #163
Actually, option 3 seems to be avaiable in 1.3.10 already. I tried the following and it seem to work :)

[code]

vielen Dank!

[2021-02-03 13:43] jlink commented on #163
Available yes. Just not documented.

[2021-02-03 13:44] galderz commented on #163
Have you considered making `add()` take a vararg? Otherwise you have to write:

[code]

[2021-02-03 13:56] jlink commented on #163
Good idea. Will think about it.

[2021-02-03 16:43] galderz commented on #163
I've completed some local testing and these seem to be the additions I had to make to cover all missing edge cases I could think of for doubles:

[code]

I tracked those by converting them to IEEE 754 hex representations.

[2021-02-03 18:02] jlink commented on #163
Double.MIN_VALUE and -Double.MIN_VALUE should be included by default. I’ll check which of the others make sense to add as default edge cases.

[2021-02-04 07:36] jlink commented on #163
One question that comes up when adding edge cases to doubles or floats: When generating random values the scale (more or less the number of fractional digits) is considered. Values like MIN_VALUE tend to have many more digitals. Should they be rounded to the intended number of digitals?

[2021-02-04 09:36] galderz commented on #163
See above for my output for `Arbitraries.doubles().edgeCases()`. They didn't show up.

Hmmmm, not sure TBH... If I were you I'd look at the rounding rules (e.g. https://en.wikipedia.org/wiki/IEEE_754) and see given a value, what kind of rounding is expected to happen. You could add some values that either side of the rounding rules if you want to add edge values here.

[2021-02-04 12:55] ThibautGeriz commented on #88
@jlink Not sure it will convince you but I run in the same issue.

[2021-02-04 13:59] mmerdes commented on #157
Here is a concrete example:

Given a domain class `Person` with 'Jakarta Bean Validation' annotations like so:

[code]

The goal would then be to derive Arbitraries from the `@Size` and `@Pattern` annotations.
This would enable us to write such a test:

[code]
 where a new `@Valid` annotation would trigger the generation of `Person` instances satisfying the respective  constraints on its fields.

[2021-02-04 14:10] jlink commented on #157
@mmerdes This makes sense I'll have a look at what Jakarta Bean Validation has in store and identify the low hanging fruits. How useful do you think would a partial support for just some annotations be?

[2021-02-04 14:14] jlink commented on #88
@ThibautGeriz Did you run into the "unique" issue or in sharing generators of some other kind? I'm asking because jqwik's approach to uniqueness will change in 1.4.0. See: https://jqwik.net/docs/snapshot/user-guide.html#uniqueness-constraints

[2021-02-04 14:24] mmerdes commented on #157
I would consider it rather useful - especially if there was a way to combine manual Arbitraries with such annotation-derived ones.

[2021-02-04 14:29] mmerdes commented on #157
This whole approach could become very powerful - especially if progress could be made regarding the regex-issue: #68

Property-based testing of _total_ functions on constrained types :)

[2021-02-05 07:38] jlink commented on #163
After going through the mechanism of how jqwik handles double and float generation I tend to not include +/- MIN_VALUE and +/- MIN_NORMAL as default edge cases. The reason is that internally all decimal numbers are projected onto BigInteger and are then scaled afterwards. That's to say that MIN_VALUE and MIN_NORMAL will almost always be equal to zero. Adding them by default using the same mechanis

[2021-02-05 07:38] #163 closed

[2021-02-05 09:07] ThibautGeriz commented on #88
Hum I am not sure I understand the question, I was using the [builder](https://jqwik.net/docs/snapshot/user-guide.html#combining-arbitraries-with-builder) with one property with a `.unique()` method and it was not working.
I switched to the flatMap with the Combinator and it worked just fine. Not what it implies behind the hood.

The new uniqueness constraint looks like to it would apply to list,

[2021-02-05 09:38] jlink commented on #88
Actually you can use `uniqueElements(o -> o.getId())` to just ensure unique IDs.

[2021-02-11 14:25] tmohme opened #166 "Performance degradation with 1.4.0"
Using 1.4.0 (as opposed to 1.3.10) we experience a severe performance degradation compared to 1.3.10 for _some_ tests.

The time required to execute (at least some tests) seems to increase super-linear with the number of tries.
According to a first quick glance `edgeCases` are heavily involved.
I'll try to investigate this further and/or come up with a reproducer in the following days.

One of the

[2021-02-11 14:31] jlink commented on #166
I've also seen a couple of performance issues today - sadly one day after release :-/

@tmohme Can you share one or two examples that make the problem obvious?

[2021-02-11 16:15] mmerdes commented on #151
Kotlin inline classes might be a special challenge as they are some sort of compile-time wrappers...

[2021-02-11 17:52] osi opened #167 "Ability to easily exclude characters from a StringArbitrary"
We have a customization on the default `StringArbitrary` that excludes the null character, `\0`, as PostgreSQL does not allow null bytes inside of strings.

With 1.3, this was implemented as

[code]

That form broke with the upgrade to 1.4, and the new simplest form appears to be:

[code]

There's no problem with the new form, other than being more verbose. I don't know how common this usage patte

[2021-02-11 18:30] jlink commented on #167
Your workaround is largely inefficient since it will create a large list of chars for each generator. That’s why I think that a native filtering mechanism for characters makes a lot of sense.

[2021-02-12 14:21] tmohme commented on #166
I found a strong correlation of slowness with usage of custom Arbitraries for heavy domain objects.
I'll try to provide one of these . . .

[2021-02-12 14:48] jlink commented on #166
@tmohme Do you use combinators in you domain arbitraries? That’s what I found at first glance.

[2021-02-12 14:50] tmohme commented on #166
Yes, extensively (at least for these heavy domain objects).

[2021-02-12 14:51] jlink commented on #166
@tmohme That gives me some guidance where to look.

[2021-02-12 15:10] tmohme commented on #166
Will you be OK with a Kotlin example?
There's lots of code involved and converting it to Java would take some time . . .

[2021-02-12 15:35] jlink commented on #166
@jlink sure

[2021-02-12 16:23] tmohme commented on #166
A small gradle project containing a property-test using an arbitrary-provider for a heavy domain object:
[jqwik-166.zip](https://github.com/jlink/jqwik/files/5973039/jqwik-166.zip)

[2021-02-12 16:55] jlink commented on #166
@tmohme Thanks!

[2021-02-13 16:41] jlink commented on #166
@tmohme Can you try "1.4.1-SNAPSHOT"? It should get rid of the performance degredation; as a matter of fact it should speed up generation compared to 1.3.10 quite a bit. Overall test time of jqwik got down by almost 25%.

Here's the downside: The fix completely breaks the behaviour of `Arbitrary.unique()` and the `@Unique` annotation. Both are deprecated anyway but are supposed to stay till 1.5.0.

[2021-02-13 19:43] osi commented on #166
@jlink random thought - what if you "faked" the implementation of how `unique` works in 1.4?

[this](https://gist.github.com/osi/e8eee700652721a51e8a103d171be456) is probably super-naive, but it i wonder if may work "well enough" to bridge until the feature's official removal?

[2021-02-14 03:14] jlink commented on #166
@osi That’s actually a good idea. Let’s see what’s possible with limited effort...

[2021-02-14 03:40] jlink commented on #68
@mmerdes The article you link to really seems to offer a low effort approach that might work. Don’t you want to give it a try?

[2021-02-14 10:43] jlink commented on #166
@osi Turns out, even a "well enough" implementation requires more effort than I'm willing to invest.

I'll go ahead with a 1.5.0 soonish.

[2021-02-14 12:31] jlink commented on #166
@tmohme I ran your example with 1.3.10 and 10000 tries: 6.9 sec. With 1.5.0-SNAPSHOT: 6.8 sec. Seems 1.5.0-SNAPSHOT should have fixed your problem.

So I'll probably go for a 1.5.0 release tomorrow.

[2021-02-14 14:26] tmohme commented on #166
@jlink I think there is no need to rash this decision to drop backward compatibility so fast:

- I don't know if what _we_ are doing with jqwik is representative or an outlier.
- Everyone who is dissatisfied with 1.4.0 can still use 1.3.10 (as we do for now).
- Also I have no idea how many installations rely on the `unique` behavior (for us the adaption was a very minor thing).
- Although I _guess

[2021-02-15 12:40] tmohme commented on #166
Just ran some timing tests.
Before each set, I ran `mvn test-compile`, then multiple `mvn surefire:test` to get the times for only the actual test execution.
The tests get executed 4-way parallel but not all of the parallel running VMs run for the same duration. The times noted in the table below is for _all_ test to complete, thus dominated by the VM that executed the slowest set of tests.
The ce

[2021-02-15 13:01] jlink commented on #166
@tmohme Looks like an interesting riddle :-/ There’s obviously more going on...

[2021-02-15 17:22] tmohme commented on #166
I'll try to look a bit broader (with gradle) on our tests find out which tests are affected most.
Maybe I find some commonalities and thus another approach for tackling the regression.
Unfortunately I can't work on the problem without interruption.
@jlink Let me know when you want me to do specific tests / comparisons.

[2021-02-15 18:07] jlink commented on #166
@tmohme Take your time. I decided not to rush 1.5.0.

[2021-02-17 13:52] tmohme commented on #166
I repeated the timing series from above with gradle and a slightly different source state:

- All time values were taken from gradle's test report.
- All runs reported 476 tests executed :)
- The first run (per configuration) was `./gradlew clean test`, following runs were `./gradlew test --rerun-tasks`, parallel execution and caching were enabled.

1.3.10 | 1.4.0 | 1.4.1-SNAPSHOT | 1.5.0-SNAPSHOT

[2021-02-17 16:36] jlink commented on #166
@tmohme My guess it that most of the time is spent creating the generator with edge cases.

[2021-02-17 17:00] tmohme commented on #166
Investigating all test durations with gradle I found that the slowest test are (as far as I can see) not structurally different to what I provided as a demo I provided you, although they might be even heavier in terms of "number of combined fields".

Internally caching the arbitraries definitely helps a lot. The test-group from which I derived the demo is even fast with with 1.5.0-SNAPSHOT (~6s) t

[2021-02-17 17:21] tmohme commented on #166
A [cpu flame graph](http://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html) of the first 60s of execution of one of my slow tests (tries=10000) with 1.5.0-SNAPSHOT:

![flamegraph](https://user-images.githubusercontent.com/2261413/108241425-1f35ba00-714c-11eb-927d-a6904467b3e2.png)

I guess the column with the hover-note is where the actual test execution happens.
This in turn means 87.55% of

[2021-02-17 17:34] tmohme commented on #166
The same clipping for 1.3.10:

![flamegraph-1 3 10](https://user-images.githubusercontent.com/2261413/108243306-37a6d400-714e-11eb-8e6a-816884faae4b.png)

Here the relations are very different: "GenericProperty.testPredicate" is active 52.36% of parent's time while "ResolvingParametersGenerator.next" takes up 28.05% and "GenericProperty.extractParams" uses 19.38%.

[2021-02-17 17:38] tmohme commented on #166
Apart from the different relations, it is conspicuous that the call stack seems to be quite a bit deeper with 1.5.0-SNAPSHOT, which could (at least partly) be one reason for the shifted relation.

[2021-02-17 19:08] jlink commented on #166
@tmohme Thanks for the detailed analysis. One last question: Is execution time still growing in an overlinear way?

[2021-02-17 19:13] tmohme commented on #166
No, it seems to be linear with 1.5.0-SNAPSHOT.
My slow test (group) this afternoon:

tries   | duration [s]
------|------------
  250  | 5.8
  500  | 10.8
1000 | 20
2000 | 39

[2021-02-18 10:46] zinki97 commented on #154
"Include/exclude leap seconds"

I think that is not possible because the classes does not include `23:59:60`. What do you think?

[2021-02-18 12:12] jlink commented on #154
You mean it’s not possible to create a time with 60 seconds? If so forget about leap seconds.

[2021-02-18 12:22] zinki97 commented on #154
Yeah, I've testet it with `LocalTime`:

`System.out.println(LocalTime.of(23, 59, 60));`
[code]

[2021-02-18 15:19] jlink commented on #166
@tmohme You might want to try the latest 1.5.0-SNAPSHOT (make sure you refresh dependencies). Your demo runs twice as fast as with 1.3.10 here.

[2021-02-19 08:58] tmohme commented on #166
I can confirm 1.5.0-SNAPSHOT (c00d94535) is way faster than the previously tested versions.
For comparison I added a column to my [comment from two days ago](https://github.com/jlink/jqwik/issues/166#issuecomment-780570304).

The execution time now seems to grow sub-linear, converging to linear. Probably because it starts slow, followed by significantly faster executions due to cache hits.

The cp

[2021-02-19 09:01] jlink commented on #166
@tmohme I take it you'd be satisfied with the performance as it is?

[2021-02-19 09:19] tmohme commented on #166
That's right 👍

[2021-02-19 10:51] jlink commented on #166
Using memoization, the performance looks fine in https://github.com/jlink/jqwik/commit/13e8ed76f1379cf0319873be310b62c1b1056956

[2021-02-19 10:51] #166 closed

[2021-02-19 11:58] hohserg1 opened #168 "Using jqwik for creating random instances with reflection"
## Testing Problem
I have a some list of classes for which I want to generate random instances for some next tests

## Suggested Solution
As example:
[code]
But it crashes with `net.jqwik.api.CannotFindArbitraryException: Cannot find an Arbitrary for Parameter of type [A]`.
Although Arbitrary for A.class and B.class work fine

## Discussion

How to create random instances for some data classes whi

[2021-02-19 14:46] jlink commented on #168
Using `forType(aClass)` requires that jqwik can resolve the constructor parameters. That's why `A` and `B` work and `C` does not. Thus, the solution to your problem is to teach jqwik how to resolve parameters of type `A` and `B` automatically.

When running within a jqwik test context - using `@Property` or `@Example` you have a few options to achieve that goal. The most practical is to collect al

[2021-02-19 14:46] #168 closed

[2021-02-19 19:36] hohserg1 commented on #168
Yeah, it will be great feature) Ok, I will open issue for it

[2021-02-21 21:24] talios opened #169 "Uniqueness for arbitrary Strings"
## Testing Problem

Prior to the recent release of 1.5.0, I had the following arbitrary pattern for providing "invalid passwords"

[code]

Which the removal of `.unique()` I'm left wondering how to handle this.

The desire to not retry/provide the same password twice in a given test.

## Suggested Solution

...unknown...

[2021-02-22 08:17] jlink commented on #169
@talios Thanks for bringing that up. I obviously did not communicate the idea behind uniqueness in a sufficiently clear manner. That's true for both the old and the new approach.

Your question does - I assume - derive from a wrong assumption about what the "old" (<= 1.3.10) uniqueness did. Let's look at an example:

[code]

You  might expect that the generated passwords are unique across all trie

[2021-02-22 08:21] jlink commented on #101
After revisiting and reimplementing how edge cases are currently being generated this issue is too far from implementation to make sense keeping it open. Closing it.

[2021-02-22 08:21] #101 closed

[2021-02-22 08:22] jlink commented on #82
Closing for now. Feel free to reopen if you get to it.

[2021-02-22 08:22] #82 closed

[2021-02-22 08:22] jlink commented on #81
Closing for now. Feel free to reopen if you get to it.

[2021-02-22 08:22] #81 closed

[2021-02-23 07:44] jlink commented on #157
@mmerdes Would you expect the constraints to always apply or would an annotation like `@ApplyValidations` suite your needs?

[2021-02-23 07:57] mmerdes commented on #157
I think I would prefer the flexibility of an additional annotation (e.g. @Valid in the Java example above).
There might well be cases where a user would _not_ want to trigger the constraints automatically.

[2021-02-24 03:48] talios commented on #169
+200 Thanks for the awesome explanation there - ended up just dropping `.unique()` and that's all I needed.

[2021-02-24 03:48] #169 closed

[2021-02-25 10:27] galderz opened #171 "Edge case configuration not working in either 1.4.0 or 1.5.0"
Edge case configuration seems broken in both 1.4.0 and 1.5.0.

With `1.3.10` the edge case configuration would work:

[code]

In `1.4.0`, the `MIN_VALUE` is not there, and in the latest `1.5.0` the `MIN_VALUE` seems replaced by `0.0`:

[code]

[2021-02-25 13:57] jlink commented on #171
High @galderz.

As discussed in https://github.com/jlink/jqwik/issues/163 all edge cases undergo the arbitraries "precision" which is determined by `ofScale(..)`. Moreover, starting with 1.4.0 number-based arbitraries check if added edge cases are within the allowed range. So what you see is behaviour "as designed", except I will see if adding edge cases outside the spec could show a decent error

[2021-02-25 17:46] zinki97 commented on #154
Maybe we should add a new class `net.jqwik.api.time.DateTimes` for `DateTimes`?

[2021-02-25 18:25] jlink commented on #154
Sounds reasonable. But i want to finish and merge all time-related stuff first.

[2021-02-25 18:33] zinki97 commented on #154
I know. It was only consideration

[2021-02-26 10:55] jlink commented on #171
Closing as wont fix. Feel free to reopen if some questions remain open.

[2021-02-26 10:55] #171 closed

[2021-02-26 14:31] robinp-tw opened #172 "Support log-on-failure statement"
Hedgehog has a nice statement that lets you display a value only in case of test failure. This is useful to not only see the inputs to the failed test, but some intermediate states as well. Would something like that hard to support?

Great tool btw, thanks!

[2021-02-26 15:19] jlink commented on #172
Sounds useful. Do you have a pointer to the hedgehog feature description?

[2021-02-26 20:59] mmerdes commented on #157
To be precise: I think it would make sense to use the 'official' `@Valid` annotation:
`javax.validation.Valid`for this purpose - similar to how it is done Spring MVC.

[2021-03-01 07:12] galderz commented on #171
No, not really. In my case I want a sample of say 1000 doubles, and then all the edge cases to be covered. I don't think your suggestion does that.

[2021-03-01 07:26] jlink commented on #171
It should with a high probability, have you tried? Edge case injection is also randomized i.e. depending on the number of edge cases and number of tries you cannot be 100% _sure_ that all are covered, unless you use `@Property(edgeCases=FIRST)` which I do not really recommend because with a high number of (combinatorial) edge cases you might not have any randomized input.

If you want to make 100%

[2021-03-01 08:04] robinp-tw commented on #172
Sure - see the `annotate` and `footnote` functions at https://hackage.haskell.org/package/hedgehog-1.0.4/docs/Hedgehog.html .

[2021-03-01 08:19] jlink commented on #172
@robinp-tw Thnaks!

The functionality of `annotate` is roughly covered by `Reporter`: https://jqwik.net/docs/current/user-guide.html#platform-reporting-with-reporter-object

Would something similar, e.g. named `OnFailureReporter` suite your needs?

[2021-03-03 04:08] pholser opened #174 "Meta-annotation support"
## Testing Problem

It'd be great if jqwik annotations could be honored if "meta-present" on a parameter. For example, instead of:

[code]

if we declared an annotation type like so:

[code]

we could then say such properties like so:

[code]

As it stands, we'd get errors such as:

[code]

Or, if we were explicit about the `@ForAll` on the parameter, the `@BigRange` constraint wouldn't be applied

[2021-03-03 04:54] jlink commented on #174
Provided that `Reasonable` also has runtime retention it should already work. But maybe I’m missing some special condition here.

[2021-03-03 07:00] jlink commented on #174
I just checked. With:

[code]

it works on my machine.

[2021-03-03 13:50] pholser commented on #174
Oops, pilot error. Forgot to add runtime-level retention to the
meta-annotation. Thanks!

—p

On Wed, Mar 3, 2021 at 1:00 AM Johannes Link <notifications@github.com>
wrote:

--
.

[2021-03-03 15:40] #174 closed

[2021-03-04 07:57] robinp-tw commented on #172
That sounds good! Do I get it correctly the current reporter would log for each test case executed, which might be excessive if we only want the logs in case of failure?

[2021-03-04 08:07] jlink commented on #172
@robinp-tw Exactly. The current reporter will always report, regardless of sucess or failure.

[2021-03-09 07:44] galderz commented on #171
I tried and created a unit test but doesn't always work. Seems way over the top to have to use data-driven properties when all you really want is to enhance an existing arbitrary to guarantee that a certain value will be tested. Is it really that hard? :\

[2021-03-09 07:44] jlink opened #175 "Add Generation of DateTimes"
## Testing Problem

Now that generation of dates (https://github.com/jlink/jqwik/issues/140) and generation of times (https://github.com/jlink/jqwik/issues/154) is done, the last step is to add generation of DateTimes.

## Suggested Solution

Add the capability to the "jqwik-time" module to generate date-time values.

Foundation for generation are the types in java.time. Mappers to "old" JDK class

[2021-03-09 07:57] jlink commented on #154
This one is done and available in 1.5.1-SNAPSHOT

Follow up issue for DateTimes is https://github.com/jlink/jqwik/issues/175

[2021-03-09 07:57] #154 closed

[2021-03-09 07:57] jlink commented on #175
@zinki97 You might want to start with an API suggestion

[2021-03-09 11:58] zinki97 commented on #175
Design idea: **WORK IN PROGRESS**

[2021-03-09 12:22] zinki97 commented on #175
@jlink What do you think about the design idea?

[2021-03-09 15:16] zinki97 commented on #175
You're right, it is better. Then let's start with the implementation.

[2021-03-09 15:23] zinki97 commented on #175
Should LocalDateTime include `between(LocalDateTime, LocalDateTime)` or only `betweenDate(LocalDate, LocalDate)` and `betweenTime(LocalTime, LocalTime)`?

The second solution is better for delegation, but the first solution is possible, too.

[2021-03-09 15:28] zinki97 commented on #175
Which idea is the best? @jlink

idea 1) is possible but bad for delegation,

I vote for idea 3).

Edit:
idea 1)
`between(LocalDateTime, LocalDateTime)`
`atTheEarliest(LocalDateTime)`
`atTheLatest(LocalDateTime)`
`dateBetween(LocalDate, LocalDate)`
`timeBetween(LocalTime, LocalTime)`

idea 2)
`dateBetween(LocalDate, LocalDate)`
`timeBetween(LocalTime, LocalTime)`

idea 3):
`between(LocalDate, Local

[2021-03-09 20:49] VitalyArtemiev commented on #151
Might I suggest adding a quick start guide for build.gradle.kts configuration (Kotlin DSL)? For example, the user guide suggests adding

[code]
I've just begun using jqwik, and am unsure of how to do this in my multiplatform project, or what it does even. It might also save new users from dumb mistakes. For example, I've wasted quite a bit of time because of having "test-junit" instead of "test-ju

[2021-03-10 06:46] jlink commented on #175
My favourite is to start with `LocalDateTimeArbitrary.between(LocalDateTime, LocalDateTime)`, which is necessary to keep up API symmetry. In order to have smaller PRs I suggest to tackle just this single method.

[2021-03-10 11:30] jlink commented on #171
How many additional edge cases do you have?

[2021-03-10 16:58] zinki97 commented on #175
What about the rest? I think `timeBetween` is also very important.
And what about methods like `hourBetween` or `yearBetween`?

I'll show you my first design from yesterday (I've already implemented some of the test cases in my local version):

To add: date/time between methods
`yearBetween(Year min, Year max)`
`yearBetween(int min, int max)`
`monthBetween(Month min, Month max)`
`monthBetween(int

[2021-03-10 17:15] fduminy commented on #84
any news on that issue ?

[2021-03-10 17:17] fduminy commented on #45
any news on that issue ?

[2021-03-10 17:58] jlink commented on #175
Let‘s use that as a learning  experience for incremental design. Just implement between() and try not to think of all the other stuff that may or may not come afterwards.

[2021-03-10 18:09] zinki97 commented on #175
Yes, but that was what I meant in my design idea, so it was in my incremental design I guess:

[2021-03-10 18:13] zinki97 commented on #175
But you're right, maybe it was not clear enough ;)

[2021-03-11 06:40] jlink commented on #84
Implementing the basic hook in jqwik is probably possible with reasonable effort. But someone - not me since I’m short on time - would  then have to use it for adding AFL-like mutation and coverage it.

Any volunteers? I might push it up in the prioritised todo list.

[2021-03-11 06:52] jlink commented on #45
@fduminy Do you have a special need that cannot be solved by the approach described further up in the discussion:

We achieve this with the mechanisms gradle provides, using parallel test JVMs, so maximum isolation here.

The thing is that all investment in thread-based parallelism (requiring isolation and Synchronisation in many places) may become futile with lightweight threads or co-routine-bas

[2021-03-11 08:57] jlink commented on #167
Functionality added in https://github.com/jlink/jqwik/commit/3ab3db2a083f5d15d4375df5b24e31f63c965079.

Is available in 1.5.1-SNAPSHOT

[2021-03-11 08:57] #167 closed

[2021-03-12 11:19] galderz commented on #171
[code]

[2021-03-12 11:20] galderz commented on #171
The funny thing is that `Double.MAX_VALUE` and `-Double.MAX_VALUE` are already included.

[2021-03-12 11:30] galderz commented on #171
Why can these values important for me? Because one could naively thing that this is valid:

[code]

However, add `Double.NaN` to the picture and it breaks.

[2021-03-12 15:34] jlink commented on #171
I tried another idea:

[code]

Since now all _specials_ are also edge cases they are being generated more frequently and you can influence them through `@Property(edgeCases = EdgeCasesMode.FIRST|MIXIN|NEVER)`.

The following statistics check never failed once in > 5000 tries:

[code]

Arguable there could be a shortcut for `Arbitraries.of(values).edgeCases(c -> c.add(values))`.  E.g. `Arbitraries.

[2021-03-17 01:58] jpablo opened #177 "`Arbitrary` instances for POJOs"
Hello,

Is there a way to have the library automatically construct a generator for a POJO?

Right now I'm using `Combinators.combine` to construct an `Arbitrary` instance for my POJO, but could use some automation.

[2021-03-17 05:26] jlink commented on #177
Maybe https://jqwik.net/docs/current/user-guide.html#generation-from-a-types-interface can be helpful.

[2021-03-18 23:00] #177 closed

[2021-03-19 21:00] mmerdes commented on #68
yes

[2021-03-22 09:19] mmerdes commented on #68
also helpful: this tool for generating regexes from examples

https://github.com/pemistahl/grex

[2021-03-22 10:18] jlink commented on #68
This would enable an interesting workflow: Start with a few examples and let the lib generate regexes from that, which can then be validated/modified by hand.

[2021-03-29 11:46] zinki97 commented on #175
In the next step I'll implement methods to constrain the date

[2021-03-29 16:36] jlink commented on #146
Implemented in https://github.com/jlink/jqwik/commit/e6d4c738f2b671b40208141a3a3a3b70075fcffa

[2021-03-29 16:36] #146 closed

[2021-03-29 16:37] jlink commented on #146
Available in 1.5.1-SNAPSHOT

[2021-03-29 17:00] zinki97 commented on #175
In the next step I'll implement the remaining methods to constrain the date

- onlyMonths(Month... months)
- onlyDaysOfWeek(DayOfWeek... daysOfWeek)
- leapYears(boolean withLeapYears)

[2021-03-30 08:03] jlink commented on #171
@galderz Would something like `DoubleArbitrary.injectNaN() | injectNegativeInfinity() | injectPositiveInfinity() | injectMinNormal() | injectMinValue()` be helpful?

I'm just planning upcoming releases and might schedule it iff there is enough interest.

[2021-04-02 09:40] DirkToewe opened #179 "Inherit inner class annotated with @Group when extending test container class"
## Testing Problem

`test2()` in the following code cannot be executed, because `TestGroup` cannot be instantiated.

[code]

## Suggested Solution

After taking a quick glance at the source code, my poorly educated guess is that `TestGroup` is not recognized to be a member class by the method `JqwikReflectionSupport.isInnerClass()`. Maybe `isInnerClass()` could look through the constructors as wel

[2021-04-05 08:53] jlink commented on #179
@DirkToewe This would probably be doable. Why I'm a bit hesitant: Is it the expected thing from a Java developer's point of view that extending a class will also "inherit" the extended class' inner classes. How does Jupiter handle this same situation?

[2021-04-07 06:09] DirkToewe commented on #179
The following junit-juper example runs just fine including the `@Nested` test:
[code]

How exactly this is implemented in junit-jupiter, is beyond my understanding. I am however not sure what alternative there is to my solution above is. Ignore the `@Group`, but when would that be useful?

[2021-04-07 07:19] jlink commented on #179
Jupiter doing it that way is a strong argument for me. I'll check how they do it.
So this gets in my list of features to prioritize. @DirkToewe, Thanks for bringing it up!

[2021-04-08 11:53] dmivankov opened #180 "IllegalArgumentException: max_edge_cases < 0"
## Testing Problem

When maxEdgeCases reaches 0 (too many edge cases?), IllegalArgumentException may be triggered in generating cases due to "default" edge cases

https://github.com/jlink/jqwik/blob/cc952102e3209a20c63e9b1cb6a7c3007a028b91/engine/src/main/java/net/jqwik/engine/properties/arbitraries/DefaultStringArbitrary.java#L42
https://github.com/jlink/jqwik/blob/cc952102e3209a20c63e9b1cb6a7c30

[2021-04-08 12:11] jlink commented on #180
Yes please. Would be most interesting to see how those situations come to happen. There's probably a missing edge case (pun intended) I didn't think about during implementation.

[2021-04-08 14:42] dmivankov commented on #180
Stacktrace
[code]

[2021-04-08 16:08] dmivankov commented on #180
Caught one
[code]
will try to make a PR

[2021-04-08 16:27] jlink commented on #180
@dmivankov Thank you. I’ll have a look at it.

[2021-04-08 16:35] dmivankov commented on #180
[code]
looks sensible - effectiveMaxEdgeCases=0 is probably taken care of by generic code, and minSize==0 case with maxEdgeCases==0 also shouldn't produce cases

[2021-04-09 08:51] jlink commented on #180
In the end there were a few more cases in which this bug could show up.

Fixed it in https://github.com/jlink/jqwik/commit/e220e788732c71da08e275ef9c903781dc1bc5a2

Released in 1.5.2-SNAPSHOT

[2021-04-09 08:51] #180 closed

[2021-04-12 09:58] jlink commented on #175
Missing after last PR has been merged:
- `Instant`
- `OffsetDateTime`
- `Calendar` and `Date`
- `leapYears`

@zinki97  What else? I'd also consider to change existing `leapYears` methods to `withLeapYears`. What do you think?

[2021-04-12 10:25] zinki97 commented on #175
LocalDateTimeArbitrary:
- onlyMonths(Month... months)
- onlyDaysOfWeek(DayOfWeek... daysOfWeek)
- leapYears(boolean withLeapYears)
- timeBetween(LocalTime min, LocalTime max)
- hourBetween(int min, int max)
- minuteBetween(int min, int max)
- secondBetween(int min, int max)

Other classes:
- `Calendar`
- `Date`
- `OffsetDateTime`
- `ZonedDateTimeArbitrary`
- `Instant`

[2021-04-13 10:07] zinki97 commented on #175
I've overthinked that one night long. `withLeapYears()` is not practicable. `withLeapYears(boolean withLeapYears)` doesn't sound good.
One solution is `withoutLeapYears()`. Another solution is an other name for `boolean withLeapYears`. What do you think @jlink ? Do you have an idea for a name?

[2021-04-13 10:13] jlink commented on #175
@zinki97 What feels wrong with `withLeapYears(boolean withLeapYears)`? Just the variable name? Maybe `withoutLeapYears()` communicates best that the default is with leap years. Or maybe get rid of it altogether. Whoever wants to exclude leap years can easily add a filter since a function `Year.isLeap()` already exists.

[2021-04-13 10:14] jlink commented on #175
Yes, I think that's my current stance on the issue.

[2021-04-13 10:17] zinki97 commented on #175
Okay so I should remove all `withLeapYears` annotations and methods in all classes?

[2021-04-13 10:30] zinki97 commented on #175
I've overthinked that. I've used the `leapYears` in some jqwik tests to generate years without leap years and found it very useful.

[2021-04-13 10:35] zinki97 commented on #175
Here is a sample test. I've used the method/annotation to prevent exceptions from dates that doesn't exist.

[code]

[2021-04-13 10:39] zinki97 commented on #175
Okay, you can use `yearBetween` here as well.

[2021-04-13 12:08] jlink commented on #175
The question for me is: In which domain would be filtering out leap years be useful? Is that a problem which is frequent enough to warrant quite a bit of code and maintaining it in a generic library, which I consider jqwik to be.

[2021-04-13 13:06] zinki97 commented on #175
In the next step I'll implement methods to constrain the time

- timeBetween(LocalTime min, LocalTime max)
- hourBetween(int min, int max)
- minuteBetween(int min, int max)
- secondBetween(int min, int max)

[2021-04-15 09:22] tmohme opened #185 "Strange behavior with Seed in IntelliJ"
## Testing Problem

I want to use `@Property`'s `seed` parameter to make the generated values deterministic.

## Discussion

In general, this works as expected, but recently I noticed a strange behavior when using this feature in IntelliJ:
In a complex test environment, I get one sequence of generated values when _running_ the test and a **different** sequence of generated values when _debugging_

[2021-04-15 09:40] jlink commented on #185
Usually that should not happen.

A few questions to clarify potential problems:
- How is configuration parameter "jqwik.failures.after.default" set in junit-platform.properties?
- Is there anything special in the property where you observed it like other usage of randomness, dependence on state etc?

[2021-04-15 10:24] tmohme commented on #185
`jqwik.failures.after.default=PREVIOUS_SEED`

I don't use any source of randomness or other external state in the test (at least not knowingly) . . .
. . . but while checking for this, I managed to reproduce the phenomenon with a smaller example.

Digging deeper into it, I must admit that I actually used _some_ kind of deeply hidden randomness / external state.
In an arbitrary I used `Currency.get

[2021-04-16 15:48] tmohme commented on #185
I stumbled over another phenomenon with "seed" . . . probably user error and/or misunderstanding, but maybe you could clarify this.

Using "seed" works as expected with an ArbitraryProvider like this:
[code]

But when I change the returned value . . .
[code]
. . . I no longer get a deterministic sequence of values.
Unfortunately the JavaDoc on `provideFor(...)` does not say much about the returned

[2021-04-16 16:33] jlink commented on #185
It’s a set because a parameterized type, e.g. List<? extends Comparable> can resolve the subtype to any number of Arbitraries. So the returned set is the combination of your intended arbitrary with all subtype providers. OneOf will choose for each generation step. But only one arbitrary in the set will be used for all values within a try.

That said, the sequence should be deterministic in both ca

[2021-04-16 18:30] tmohme commented on #185
I can reproduce it with my actual test case, but not with something simple like the example I posted above.
I'll try harder to isolate it.

[2021-04-19 06:38] jlink commented on #185
I rechecked the usage of the the set of arbitraries. There is no _obvious_ reason why the selection would not be deterministic, but I may have missed something. Please let me know when you have a reproducible example.

BTW, I added the following section to the Javadoc of `ArbitraryProvider.provideFor(..)`:
[code]

Would that have clarified your last question?

[2021-04-19 11:20] tmohme commented on #185
Finally found the root cause: It was still the currency code that hit me.
Even sorting them did not do the trick because the source set contains duplicates for pretty much any single attribute (just not for a "complete" Currency.
Now I hard-coded the list of currencies-to-use with what is available on my DEV machine, knowing that this would break in PROD.
Currently all tests are passing.
We have t

[2021-04-19 12:12] jlink commented on #185
Exactly.

[2021-04-19 12:53] galderz commented on #171
@jlink I'm working on other stuff right now, so I've not been able to try out your last idea. I'll provide feedback on that when I get back to it.

[2021-04-19 14:18] tmohme commented on #185
Thanks again for your support.

[2021-04-19 14:18] #185 closed

[2021-04-27 06:52] jlink commented on #179
Status now #InProgress

[2021-04-27 06:59] jlink commented on #179
@DirkToewe I just ran your original example and I get the following error:

[code]

Is that the same behaviour you observed? I got the impression that you said jqwik would not even detect TestGroup as an inner test of MWE_Test.

[2021-04-27 13:06] #179 closed

[2021-04-27 13:10] jlink commented on #179
Should be fixed in https://github.com/jlink/jqwik/commit/c17f16e6bc5f317d40add1ada064897b365114b6.

Available in 1.5.2-SNAPSHOT.

@DirkToewe Maybe you find the time to check if your problem is solved.

[2021-04-27 15:32] DirkToewe commented on #179
It is working as desired now. This will save me a lot of lines of code in the future. Thank You :)

[2021-05-07 12:24] zinki97 commented on #175
For those who don't know it: Working on jqwik is part of my final exam at the university. Now it's time for my written exam.

After completing my written exam I'll implement the following classes:

- `Calendar`
- `Date`
- `OffsetDateTime`
- `ZonedDateTime`
- `Instant`

[2021-05-13 13:25] zinki97 commented on #175
Bug list:

- `test: dates.yearMonth.InvalidConfigurationTests:`  line 35/42: `Example` instead of `Property`

[2021-05-13 18:04] osi opened #187 "Tuple.toString fails with null elements"
I'm storing a `null` value in a `Tuple`. When I print it as a string, I get a NPE.

[code]

[code]

[2021-05-14 06:57] jlink commented on #187
A single character difference for me, a whole lot difference for null values.

The sad thing is, that I missed the obvioud fuzzing property :-(

Bug fixed in https://github.com/jlink/jqwik/commit/15a8b3c375cbd1881c96cedb59cdd8983bdc3cec

Released to 1.5.2-SNAPSHOT

[2021-05-14 06:57] #187 closed

[2021-05-14 18:09] osi commented on #187
heh no worries. it's sometimes that "simple seeming" code that has the hidden bug 😀

[2021-05-18 23:57] ScottG489 commented on #180
In case anyone is interested in a simple repro I just came across this issue (I'm still on `1.5.1`):

[code]

Any tries > 2 worked fine. Haven't been able to test this against the SNAPSHOT, but it looks like the same issue so it's probably fixed.

[2021-05-18 23:59] ScottG489 commented on #180
In case anyone is interested in a simple repro I just came across this issue (I'm still on `1.5.1`):

[code]

Any tries > 2 worked fine. Haven't been able to test this against the SNAPSHOT, but it looks like the same issue so it's probably fixed.

[2021-05-19 05:46] jlink commented on #180
@ScottG489 Checked your example on 1.5.2-SNAPSHOT and it works fine.

[2021-05-21 10:37] hohserg1 opened #191 "Recursive resolving parameter types in Arbitraries.forType"
## Testing Problem
Sometimes need to create randomized values of some Class<?>.
As example, I need it in tests of my annotation processor.

Follow code should work fine:
[code]
But it crashes with `net.jqwik.api.CannotFindArbitraryException: Cannot find an Arbitrary for Parameter of type [A]`.
Although Arbitrary for A.class and B.class work fine

## Suggested Solution
Arbitraries.forType should re

[2021-05-21 12:58] jlink commented on #191
@hohserg1 Thanks for the suggestion.

It's been on the longlist for sometime, having an official issue is all the better.

Here's what I've been planning:
- The standard behaviour remains the same
- An optional parameter will be introduced in `Arbitaries.forType(Class<T> targetType, int depth)`
- An optional parameter will be introduced for the annotation `@UseType(depth = 1)`

Would that suit you

[2021-05-21 15:08] hohserg1 commented on #191
Yeah, that's better, more control - better.
Also, I think that need to keep overloading with only one argument for save compatibility:
[code]

Two strategies come to mind:
+ Use already available arbitraries
+ Anyway create new arbitraries for each type (useful if available arbitrary is more bounded)
How about to add third argument which control this cases?

[2021-05-22 15:39] jlink commented on #191
Having thought about it for a while I tend to go with the first strategy and no 3rd parameter. If more nuanced control over nested types is required domains can be used.

BTW, domains are also my first choice when I want to handle your use case now.

[2021-05-22 16:16] hohserg1 commented on #191
Ok, extracting abstraction layer for it look better

[2021-06-16 08:13] martinei opened #196 "ActionSequence has constant size"
## Testing Problem
My ActionSequence always has a fixed size of 32:

[code]

    results in:

[code]
 Am I Missing something? I expected it to be varying between 1 and 32 from what I read in the docu.

[2021-06-16 09:37] jlink commented on #196
It works as designed :-/

At some point I stopped to vary the size of sequences because cutting a sequence shorter than it could be does not provide additional value. At least that was my train of thought.

If you can point to the part of the documentation that lead you to believe otherwise, I will change it.

[2021-06-16 09:44] jlink commented on #196
I found the place:
"For the default of 1000 tries a sequence will have up to 32 actions."

I'm gonna tell the readers the truth from now on.

[2021-06-16 10:03] jlink commented on #196
Fixed in https://github.com/jlink/jqwik/commit/9a5b05f7c3d6b60de18ed85454003c88740e462c

[2021-06-16 10:03] #196 closed

[2021-06-16 10:05] martinei commented on #196
Thanks!

[2021-06-28 08:27] seongahjo opened #200 "OOM happens when using combinator to build arbitrary with filter"
## Testing Problem
Since 1.5.0 version, when I use combinator to build object with filter,  OOM is happened

It works well in 1.3.10 version.

You can regenerate this issue, check this [repository](https://github.com/seongahjo/test-jqwik-memory-leak)

![image](https://user-images.githubusercontent.com/10272119/123601801-1019f380-d833-11eb-9fcf-4301a2f203ad.png)

## Suggested Solution

I don't know

[2021-06-28 09:57] jlink commented on #200
Thanks for reporting. I'll have a look at it.

[2021-06-28 10:35] jlink commented on #200
Just to check: Have you tried 1.5.1 or 1.5.2 because 1.5.1 fixed a memory leak: https://jqwik.net/release-notes.html#151

[2021-06-28 13:56] seongahjo commented on #200
@jlink
yes, I have tried 1.4.0, 1.5.0, 1.5.1, 1.5.2
only 1.4.0 works well

[2021-06-28 14:25] seongahjo commented on #200
@jlink
may be the reason why OOM happens is
`arbitrary.generatorWithEmbeddedEdgeCases(genSize).withEdgeCases(genSize, arbitrary.edgeCases(maxEdgeCases))`

when I changed it to `arbitrary.generator(genSize).withEdgeCases(genSize, arbitrary.edgeCases(maxEdgeCases))`, it works well.

[2021-06-28 16:19] jlink commented on #200
Not  being on a valid computer I could not try out your example but I had a look at the test.  Can you say something about the purpose of the test?

The reason I’d like to know is that you’re doing a few unusual things in there, like sampling and creating arbitraries, which are not supposed to be used inside a property method. Jqwik‘s caching policy, which is most probably responsible for the OOM,

[2021-06-29 07:25] jlink commented on #200
Following up on my comments from above, one small change to the test fixes the OOM for me:

[code]

Why did the behaviour change in version 1.4? The history is similar to that:
- 1.4 changed the way how edge cases are being generated
- This led to heavy performance penalties in some combinators and flat-mapping scenarios
- To fix this (through memoizing of generator creation) I had to make an inco

[2021-06-29 10:15] seongahjo commented on #200
Thank you for the reply.
I understand why OOM happens, I think I can avoid it.

I'm currently use sample for testing objects made by Jqwik.
I think I'd better to write test test jqwikish way like you said.

[2021-06-29 11:25] jlink commented on #200
My recommendation when using jqwik generators outside of jqwik properties: Use `sample()` in one place only. To combine several arbitraries use what jqwik offers: map, filter, flatMap, combine, flat combine and builders.

I'll close this issue for now. Feel free to reopen it if you need more assistance.

[2021-06-29 11:25] #200 closed

[2021-06-29 15:20] duponter opened #201 "Submodules engine, time and web all have the same Module Name"
## Testing Problem

When adopting the Java Platform Module System in your application, you explicitly list which modules are required to build your application successfully.

When using jqwik's standard features, it is sufficient to require only the _**net.jqwik.api**_ module which is provided by the **_net.jqwik:jqwik-api_** artefact.

However when you need features from one of jqwik's submodules

[2021-06-29 17:57] jlink commented on #201
Thanks for the catch and the pull request. Will merge tomorrow.

[2021-06-30 07:56] jlink commented on #201
Available in 1.5.3-SNAPSHOT

[2021-06-30 07:56] #201 closed

[2021-07-01 06:05] martinei opened #203 "Generating larger Sets is slow"
## Testing Problem

I observed the following:
[code]
It looks like first a number of strings is generated and the resulting list is then checked for uniqueness. This is repeated until a unique set is found.

[2021-07-01 06:15] jlink commented on #203
Thanks for noticing. Actually the list is checked on each insert for uniqueness. But still, there's probably some optimization potential for sets.

Up to now I didn't feel the need for optimization myself. Can you specify how large your typical set is?

[2021-07-01 06:19] martinei commented on #203
Currently I have try to generate a set around 15K Items. My actual code uses a domain class class where equals / hashcode are a bit more complex (and thus slower) than with strings.

I can workaround by getting a Stream<T> and collecting into a HashSet until my wanted size is reached. Or just getting a larger list and hope that the remaining set after uniqueness is big enough.

[2021-07-01 06:28] jlink commented on #203
Hoping is the problem of this approach ;-)

I'll think about how to optimize while keeping all the other constraints in place.

[2021-07-03 19:51] jlink commented on #203
OK, I spent the day (well a few hours) trying to optimize set generation. So far, I haven't found a way to speed it up in a measurable way without breaking some of the features (eg. deterministic size, other uniqueness constraints).

That's why my current recommendation for you is to use
`domainArbitrary.list().ofSize(10000).map(HashSet::new)`.

What you lose compared to native set generation is t

[2021-07-05 07:30] martinei commented on #203
Thanks for looking into this. I am sorry that I took so much of your time.
Your recommendation  give much faster results.
In addition I finally figured that the total number of possible values I can generate from was restricted to much:
At the heart of my domain Object is a Version Number like:  "<major>.<minor>.<patch>-<prerelease>+<metadata>"
I had restricted the individual parts, and thus the t

[2021-07-05 07:43] jlink commented on #203
Fine :-)
Then I'll close this issue. Feel free to reopen if anything new comes up.

[2021-07-05 07:43] #203 closed

[2021-07-05 15:15] mhyeon-lee opened #205 "ConcurrentModificationException occurred with sample()"
## Testing Problem

The code below will cause ConcurrentModificationException.

[code]

<img width="1140" alt="스크린샷 2021-07-06 오전 12 10 40" src="https://user-images.githubusercontent.com/5206572/124491779-9bc0f080-ddee-11eb-850c-a3e2299145bc.png">

Occurs when modifying static generators from SampleStreamFacade to recursive.

## Suggested Solution

## Discussion

Error does not occur when

[2021-07-05 15:22] jlink commented on #205
Thanks for the catch. At first glance it looks like a bug. I’ll examine the problem.

[2021-07-05 15:30] jlink commented on #205
That being said, your code is most probably not what you should do anyway.
If you want to concatenate two random strings the most obvious way is:

[code]
The rule is to never use sample() within a generator; it will not end well  ;-)

[2021-07-06 06:22] jlink commented on #205
@mhyeon-lee I cannot reproduce the problem in version 1.5.2. Which version are you using?

Maybe there's more going on than what can be seen in your code example?

[2021-07-06 07:46] mhyeon-lee commented on #205
@jlink
Here is my fail test case.

https://github.com/mhyeon-lee/jqwik/pull/1/files#diff-fecbf655309e9b4842780db53963942742decb72ae65f71f4698ec1814ba4d3cR10

[2021-07-06 07:47] jlink commented on #205
It's got to do with the Java version. Java 8, which I use locally since it's the minimum version, runs fine. Java >= 11 shows the error.

[2021-07-06 08:25] jlink commented on #205
Hopefully fixed in https://github.com/jlink/jqwik/commit/fcdcfcad65df84cc8c087093ddc14be489bd5e1b

[2021-07-06 08:27] jlink commented on #205
@mhyeon-lee Thanks again for catching the bug. But don't do it that way!

Available in 1.5.3-SNAPSHOT

[2021-07-06 08:27] #205 closed

[2021-07-09 12:37] jlink commented on #201
Released in 1.5.3

[2021-07-09 12:37] jlink commented on #205
Released in 1.5.3

[2021-07-15 08:05] tmohme opened #206 "Performance Degradation with 1.5.3"
## Testing Problem

I'm experiencing a significant performance degradation with 1.5.3 (compared to 1.5.2).
While the overall runtime of the complete test suite roughly doubled (662 tests, ~6'40" => ~13'00"), some tests are hit exceptionally hard: I've identified two classes that went from 6s resp. 8s to 1'40"

A CPU flame-graph of the 6s test class ("TRFP"):
![TRFP 6s flamegraph](https://user-imag

[2021-07-15 10:06] jlink commented on #206
Thanks for the catch.

Do your properties or provider methods use `Arbitrary.sample()` or `sampleStream()` directly by any chance?

[2021-07-15 10:21] tmohme commented on #206
No, I don't use `Arbitrary.sample()` or `sampleStream()` here.
I use `Arbitrary.sample()` only in one test class were I'm unable to let jqwik control the test execution.

But the Arbitrary involved in both extreme cases is quite complicated: I generate variable long lists of which the entries do have to fulfill some consistency rules. To achieve this, I use an integer arbitrary (for the list lengt

[2021-07-16 06:10] jlink commented on #206
If you find the time could you check if 1.2.4-SNAPSHOT still has the problem.? Just to rule out the obvious.

[2021-07-16 09:27] tmohme commented on #206
- Release 1.5.3: ~1'40"
- Commit 7cbc7feec, main: 1'15"..1'45"
- Commit dc758c7d, issue-206-performance-degradation: ~1'45"

I wouldn't overemphasize the variance or further degression, because I didn't invest much time in getting the numbers, just 2..3 runs.

[2021-07-16 09:30] jlink commented on #206
This rules out my initial assumption. I'll have to dig deeper.

[2021-07-16 09:45] tmohme commented on #206
I had a look at GC with JFR: nothing suspicious there.

[2021-07-16 10:05] tmohme commented on #206
I guess I've found a "smoking gun": I executed just one of the affected tests (to keep things simple) and found that `net.jqwik.engine.execution.lifecycle.StoreRepository#get` got called 2.054.622 times, effectively doing a linear search over up to 603 elements in the "stores" set.

[2021-07-16 10:24] tmohme commented on #206
Additionally (and without understanding the context), 2M calls to this method look suspicious when the property gets executed "only" 1.000 times.

[2021-07-16 10:29] tmohme commented on #206
By simple local optimizations of the stream processing, I was able to reduce the test execution time down to 1'00"..1'20", which is not at all ground-breaking, but reinforces my suspicion that this method is part of the problem.

[2021-07-16 11:19] jlink commented on #206
Thanks for diving deeper. I hope I can find some time during the weekend.

[2021-07-16 11:26] tmohme commented on #206
Don't worry. We can get along quite good with 1.5.2 for now.

[2021-07-16 11:43] tmohme commented on #206
Is `ScopedStore.identifier` stable, i.e. can it be used as a key in a HashMap?

[2021-07-16 12:19] jlink commented on #206
At leasst it should be stable.

[2021-07-17 08:12] jlink commented on #206
I think I found the guilty commit: https://github.com/jlink/jqwik/commit/f6a80f43dae83eb201662b0a3a1d8e2bb1cdfb94

But that can only be true if the properties in which you're observing the phenomenon uses String generation in some way.

[2021-07-17 08:47] jlink commented on #206
I deployed my assumed fix to "1.5.4-SNAPSHOT". You may want to try if it fixes your problem.

[2021-07-19 07:14] tmohme commented on #206
I tried my pathological test class with your latest 1.5.4-SNAPSHOT (commit 999869703) and came out with the following run-times:
* 1'19"
* 1'22"
* 1'06"
* 0'54"
* 1'40"

So, we probably have _some_ improvement but  also a high variance.
I'll try to come up with a slimmed-down version of the arbitrary that probably is essential to reproduce the prolonged run-times (it produces lots of Strings an nu

[2021-07-19 07:19] jlink commented on #206
Without the additional improvement from your PR I'd expect some slow down b/c string generation will inject duplicate chars on purpose. The number of calls to StoreRepository#get should have gone down by an order of magnitude though.

[2021-07-19 09:35] tmohme commented on #206
This is a small Kotlin reproducer for the effect: [Issue206Reproducer.zip](https://github.com/jlink/jqwik/files/6839597/Issue206Reproducer.zip)

Measured run-times are
* 1.5.2: 1.5s ~ 2.1s
* 1.5.3: 15s ~ 22s

The generation logic is essentially the same as in my "real" Arbitrary. I just left out business constraints, types, etc.
Maybe I'm simply doing stupid things when trying to generate the data

[2021-07-20 07:41] jlink commented on #206
@tmohme I used your reproducer to decide that generated strings will no longer explicitly duplicate characters by default.

There's still s.t. a ~30% performance hit that I currently cannot pin down. Will further investigate.

[2021-07-20 08:58] jlink commented on #206
I can trace the 30% performance hit to a change in `ContainerGenerator` that I'd like to keep. Can you live with the performance as it is in 1.3.4-SNAPSHOT?

`ContainerGenerator` has most probably room for performance optimization but it's not on the top of my list, unless someone pushes it there.

[2021-07-20 15:56] tmohme commented on #206
I tested commit 1.5.4-SNAPSHOT (1a8d05e26) with good results.
My most impacted test class is back down to 6s (from 1'40" with 1.5.3).
The run-time of whole test suite also is in the same ball-park as before, with 1.5.2.
For me the this is OK 👍

Btw.: The number of calls to `StoreRepository#get` is still pretty high. I measured values from 800k to 1.5m for the test that ended up with 2.0m mentioned

[2021-07-20 16:35] jlink commented on #206
is it higher with 1.5.4-S than with 1.5.2? If so, that will be one more riddle to solve before closing this issue

[2021-07-21 07:19] tmohme commented on #206
A comparison for one test with constant fixed seed:
| version                           | calls          | store entries |
|:----------------------:|-----------:|-------------:|
| 1.5.2                               |    827.038  | 2                    |
| 1.5.3                               | 2.602.194 | 589               |
| 1.5.4-SN (1a8d05e26) |    866.459 | 2                   |

In my interp

[2021-07-21 07:43] jlink commented on #206
Still wondering where the 40+ thousand calls come from. But that's peanuts ;-/

I guess it doesn't matter for two entries anyway. And the number of entries can grow rapidly as soon as stuff like `Arbitrary.injectDuplicates()` is being used and combined with flat mapping or builders. So I tend to leave it as is, ie with your suggestion integrated.

[2021-07-22 06:32] jlink commented on #206
Closing as fixed. Reopen if new performance issues show up.

[2021-07-22 06:32] #206 closed

[2021-07-22 16:08] Jaswar opened #209 "Getting the output of JQWik programmatically"
## Testing Problem

I am helping in improving software used in course focused on software testing. In the software the students are given two files, one being the source code that needs to be tested, the second being the one where they write their tests. Our software then needs to compile both files, run their tests and run our own tests on which the grading is based.

In some questions we ask to

[2021-07-22 18:43] jlink commented on #209
Short answer from the top of my head: You can switch on standard JUnit platform reporting (`TestExecutionListener.reportingEntryPublished(…)`) by using configuration parameter `jqwik.reporting.usejunitplatform = true`. See https://jqwik.net/docs/current/user-guide.html#jqwik-configuration.
The reason this is switched off by default is that Gradle still doesn’t support it properly after all theses

[2021-07-23 14:30] Jaswar commented on #209
Thank you for your response.
In general the problem we are facing now is that JQWik returns the error message directly to the console with System.out. I assume the message is built from some objects, we would like to be able to access the objects directly, not via the message. In this way we could select what is or what is not displayed. Could you direct me to the classes/methods that create and d

[2021-07-24 10:56] jlink commented on #209
Since you're starting the test run programmatically, the junit-platform configuration file is not evaluated.
Instead, you have to set parameters programmatically. Something along the lines of

[code]
but I haven't tried it. I also don't think that `SummaryGeneratingListener` remembers the report entries.
You will probably have to build your own listener implementation.

Alternatively, you could go

[2021-07-24 17:26] Jaswar commented on #209
Indeed the `.configurationParameter("jqwik.reporting.usejunitplatform", "true")` works. In the end we decided to go with the full message, but we still needed this to have the message displayed in the correct place. Thank you for your help!

[2021-07-24 17:30] #209 closed

[2021-07-26 09:57] zinki97 commented on #175
A few weeks ago you said that the tests in Calender could look like this: Calender behaves likes LocalDateTime.
Can you please give an example how such a test case could look like? @jlink

[2021-07-26 10:19] jlink commented on #175
Looking over Calendar I guess I was wrong. Calendar instances have a timezone. Moreover, calendar instances can be created from different calendar types. So it might make sens to generate instances of the concrete subclasses Gregorian, Buddhist and JapaneseImperial. Maybe Buddhist and japanese imperial are out of scope.

[2021-07-28 17:34] osi opened #210 "ConcurrentModificationException after test failure"
I received the following exception after a failing test. It is intermittent.

jqwik 1.5.3, jqwik-spring 0.8.0

[code]

[2021-07-29 06:20] jlink commented on #210
Do you have a way to reproduce it?
I could put in some safe-guards but they might effect performance so I'm still hesitating w/o being able to prove they are useful.

[2021-07-29 15:46] osi commented on #210
I'm unable to consistently reproduce it. It happened twice yesterday when running tests. I'll keep an eye on it as it occurs to see if I can find patterns. My initial goal in raising the issue here is in case others also observe this and have additional data.

[2021-07-29 23:43] osi commented on #210
I was able to reproduce this in my test suite when I had a test that failed, and _also_ when shrinking failed,
[code]

... Disabling shrinking appears to have alleviated the issue.

[2021-08-03 14:34] jlink commented on #210
I deployed a preliminary fix to 1.5.4-SNAPSHOT. Maybe you'll find the time to try it...

[2021-08-03 22:16] osi commented on #210
Is the snapshot published anywhere?

[2021-08-04 05:55] jlink commented on #210
@osi Should be on https://oss.sonatype.org/content/repositories/snapshots/. Unless I screwed up.

[2021-08-04 23:09] osi commented on #210
ah, gotcha. i had to add that to my Gradle configuration.

that fix make the exception go away in the scenario i had.

[2021-08-05 06:02] jlink commented on #210
I’m not really happy with the solution so I’ll leave the issue open for a while.

[2021-08-08 09:53] jlink commented on #171
@galderz The feature you triggered is now part of jqwik (release 1.5.4-SNAPSHOT).

Here's the documentation: https://jqwik.net/docs/snapshot/user-guide.html#special-decimal-values

Would love to hear your feedback!

[2021-08-10 14:36] jlink commented on #172
I've prioritized the feature for the next release (1.5.5).
What do you think about a property to restrict reporting to failure only.

e.g.

[code]

Or might it be necessary to have onfailure reports and standard reports in a single property?

[2021-08-10 16:46] robinp-tw commented on #172
I only used failure-reporting actively when wanted to debug an error, so I expect it to be turned on only temporarily. Sounds good for the use-case, thank you.

[2021-08-11 10:44] zinki97 commented on #175
Next step is `OffsetDateTimeArbitrary` - but do we also need `ClockArbitrary`? ( https://docs.oracle.com/javase/8/docs/api/java/time/Clock.html )

[2021-08-11 11:17] jlink commented on #175
I currently can't think of a good use case for generating clocks. Let's wait till something concrete comes up.

[2021-08-11 17:44] zinki97 commented on #175
same

[2021-08-14 14:11] jlink commented on #172
My current idea is to offer a `publishValueOnFailure` method:

[code]

My question: Where would you expect those values to show up? One possibility I see is as part of the test report, e.g.

[code]

The problem is: For which test runs should the key/value pairs reported:
- For the original failing try?
- For the shrunk try?
- For both?
- If both, where to display the values so that they can easily

[2021-08-17 09:23] tmohme opened #214 "Performance Degradation with 1.5.4"
## Testing Problem

I'm experiencing a significant performance degradation with 1.5.4 (compared to 1.5.3, 1.5.2).
While the overall runtime of the complete test suite increased by roughly 25% compared to 1.5.3 and 100% compared to 1.5.2 (760 tests, 1.5.2: 8:22 => 1.5.3: 13:58 => 1.5.4: 17:27), some tests are hit exceptionally hard.

The current situation is probably a mix of not having completely

[2021-08-17 10:21] jlink commented on #214
@tmohme If you find a way to extract the specific test class that would be very helpful. Most probably the secret is in the arbitraries, so just posting the provider methods might already be a first step towards identifying the root cause.

When you collect additional evidence, switching off edge cases can also provide additional data points.

[2021-08-17 12:13] tmohme commented on #214
Without edge case generation, the time for the complete test suite goes down from 17:27 to 7:56 - even fasten than 1.5.2

[2021-08-17 14:09] tmohme commented on #214
While in #206 the most affected test used our most complicated arbitrary, this time it is our third largest arbitrary . . . it will take some time to extract all the required pieces into a reproducer project.

[2021-08-17 16:31] jlink commented on #214
Since it is obviously edge case related just a screenshot of the provider methods (or arbitrary provider classes if there are any) could already help me to form a theory and try a few things.

[2021-08-17 16:40] jlink commented on #214
@tmohme Do you use Combinators a lot in the affected properties?

[2021-08-17 16:52] jlink commented on #172
Here's the current state of implementation (which can be tested using 1.5.5-SNAPSHOT):

[code]

Footnotes will be reported for the shrunk sample and the original sample:

[code]

Feedback about better API and better reporting welcome!

Instead of `EnableFootnotes` the hook could be made global, but then it would take a performance hit on each invocation of any property method.

[2021-08-18 06:37] jlink commented on #172
An alternative is to offer a static method `Footnotes.addFootnote(..)`.

[2021-08-18 07:31] tmohme commented on #214
Yes, combinators are used heavily.
I finally managed to extract the test for a reproducer, but all in all, there are still too many classes involved.
I'll give it another try, synthesizing a test until it shows the problematic behavior.

[2021-08-18 09:05] tmohme commented on #214
After all back to the strip-down approach: [jqwik-214-demo.zip](https://github.com/jlink/jqwik/files/7005950/jqwik-214-demo.zip)

[2021-08-18 13:39] jlink commented on #214
That was very helpful. The bug (well, there may be more than one) is an oversight by me which can be easily fixed. I'll keep you posted.

[2021-08-18 14:10] jlink commented on #214
Initial fix available in 1.5.5-SNAPSHOT

[2021-08-18 15:29] tmohme commented on #214
The fix looks good!
Our whole test suite now took 9:20 which is only a moderate increase compared to 1.5.2 with 8:22.
While faster tests are always welcome, this improvement should be enough for us.

[2021-08-18 17:00] #214 closed

[2021-08-19 09:52] galderz commented on #171
Nice!!! Thanks a lot for that :)

[2021-08-20 06:22] jlink commented on #172
Available in 1.5.5-SNAPSHOT.

[2021-08-20 06:22] #172 closed

[2021-08-24 06:41] jlink commented on #210
No new ideas :-( So I’ll close it.

[2021-08-24 06:41] #210 closed

[2021-08-25 04:53] apoorva-sriv opened #217 "Print jqwik properties info even when tries=1"
This would help esp. for logging the seed for reproducibility.

[2021-08-25 06:09] jlink commented on #217
Since the seed only plays a role if there are `@ForAll` parameters, would it fill your need if reporting only happens if there is at least one forall param?

[2021-08-25 06:12] apoorva-sriv commented on #217
@jlink, yes, that would be better actually!

[2021-08-25 07:18] jlink commented on #217
Fixed and released in 1.5.5-SNAPSHOT

[2021-08-25 07:18] #217 closed

[2021-08-25 14:42] apoorva-sriv opened #218 "Bug: `tries = 0` runs 1000 tries instead of 0"

[2021-08-25 16:19] jlink commented on #218
What would you expect that 0 tries does? For disabling a property there’s the `@Disabled` annotation.

Currently 0 is the default value of `Property.tries() `and will thus use the global tries default which is 1000. It works as designed; you can convince me, however, that a better design exists.

[2021-08-25 16:31] apoorva-sriv commented on #218
I expected it to not run any tries (work like `@Disabled` essentially).

[2021-08-26 03:10] apoorva-sriv opened #219 "`jqwik-1.5.4-sources.jar` doesn't contain any sources"
https://search.maven.org/remotecontent?filepath=net/jqwik/jqwik/1.5.4/jqwik-1.5.4-sources.jar

[2021-08-26 04:55] #219 closed, assigned to nobody

[2021-08-26 08:30] #218 closed, assigned to nobody

[2021-08-27 11:58] apoorva-sriv opened #220 "Is it possible to resume from shrunken sample on failure instead of original in IDEs?"

[2021-08-27 12:14] #220 closed, assigned to nobody

[2021-08-27 14:58] apoorva-sriv opened #221 "Throw exception if `minLength < 0` or `maxLength < minLength`"
`StringArbitrary`'s `ofMinLength` and `ofMaxLength` seem to work even with negative lengths or when `maxLength < minLength`. Throwing an exception in such cases would be helpful to detect errors earlier and be in line with https://commons.apache.org/proper/commons-text/apidocs/org/apache/commons/text/RandomStringGenerator.html#generate-int-int-.

[2021-08-28 08:15] jlink commented on #221
This makes sense. Is on the list for one of the next versions.

[2021-08-29 21:00] apoorva-sriv opened #222 "Change the min defaults of all numeric types from 0 to MIN_VALUE"
~~`@ForAll` is misleading for numeric types since it does not include the entire range of the number. (It starts from only `0` by default, excluding negative numbers.)~~

Apart from backward compatibility, the only place where this may be an issue is `Double.MIN_VALUE` and `Float.MIN_VALUE` since the default `Scale` of `2` is too small to represent them.

[2021-09-03 05:14] jlink commented on #222
Are you saying that a plain `@ForAll int anInt` only generates positive integers? This should not be the case and would be a bug. Can you add a test case so that I can verify?

[2021-09-03 17:52] apoorva-sriv commented on #222
My bad. I saw that the [`min() default` of `@IntRange`](https://github.com/jlink/jqwik/blob/main/api/src/main/java/net/jqwik/api/constraints/IntRange.java#L27) was `0` and thought that `@ForAll` would generate only non-negative numbers, but it turns out it does generate negative numbers too.

[2021-09-03 17:57] apoorva-sriv commented on #222
However, it would be nice to change the `min() default 0` of `@IntRange`, `@FloatRange`, etc. to `Integer.MIN_VALUE`, `Float.MIN_VALUE`, etc.

[2021-09-08 06:11] jlink commented on #222
When designing the annotations API for numbers the use cases I looked at mostly used positive numbers. That’s why `@IntRange(min=0, max = 10)` looked like unnecessary overhead to me. That’s definitely a judgement call and I might decide differently today. Changing it now, however, would break a lot of code; I don’t think that’s justifiable.

[2021-09-10 12:53] apoorva-sriv commented on #222
Is there a way to configure it globally then?

[2021-09-12 09:04] jlink commented on #222
No, that would be a new feature.

As a feature it wouldn't make sense to just allow setting of `IntRange.min`. Instead setting of many/most/all defaults might be worthwhile. If you favour s.t. like this, I suggest you create a new issue so that others can vote and join the discussion.

[2021-09-12 09:05] jlink commented on #222
Closing and awaiting your new issue about configuring default values.

[2021-09-12 09:05] #222 closed

[2021-09-15 14:29] jlink commented on #221
Fixed in https://github.com/jlink/jqwik/commit/7e7eacdbb586f7299f96c4e03337e1e0fd61d8bf.
Released to 1.5.6-SNAPSHOT.

[2021-09-15 14:29] #221 closed

[2021-09-16 08:58] jlink opened #228 "Time Module: Generation of java.util.GregorianCalendar"
## Testing Problem

Calendar instances can currently not be automatically generated in jqwik.

Provide default generators and DSL for generating GregorianCalendar instances:
- `DateTimes.calendars()` -> `GregorianCalendarArbitrary`
- Default generation for `@ForAll Calendar`
- All relevant contraint annotations should work (e.g. `DateTimeRange`, `HourRange`).

## Suggested Solution

Use `OffsetDat

[2021-09-16 09:00] jlink opened #229 "Time Module: Generation of java.util.Date"
## Testing Problem

Date instances can currently not be automatically generated in jqwik.

Provide default generators and DSL for generating Date instances:
- `DateTimes.dates()` -> `DateArbitrary`
- Default generation for `@ForAll Date`
- All relevant contraint annotations should work (e.g. `DateTimeRange`, `HourRange`).

## Suggested Solution

Use `LocalDateTime` generation under the hood and ma

[2021-09-16 09:02] jlink commented on #175
Not implemented yet:
- [Generation of `Calendar` instances](https://github.com/jlink/jqwik/issues/228)
- [Generation of `Date` instances](https://github.com/jlink/jqwik/issues/229)

[2021-10-04 15:21] mhyeon-lee opened #236 "Remain Memoize cache value when sampling without @ForAll"
## Testing Problem

### 1. jqwik engine + @ForAll (norma case)

[code]

![스크린샷 2021-10-04 오후 11 23 23](https://user-images.githubusercontent.com/5206572/135873605-a2358b9e-bec1-47ae-95b0-a60f6f647941.png)

At the end of each `@Property/@Example`, jqwik engine execute the FinishScope for PropertyMethodDescriptor scope.
Memoize has only PropertyMethodDescriptor value and will be removed from

[2021-10-05 06:32] jlink commented on #236
Case 2 is definitely a bug.
Case 3 works as intended but it's not really what one would like to have.

I'll try to think of a useful fix.

[2021-10-05 09:30] jlink commented on #236
Fixed memory leak of case 2.

Fix available in 1.6.0-SNAPSHOT

[2021-10-05 09:42] jlink commented on #236
As for case 3: Stores will now be cleaned up if (and only if) the stream returned by `Arbitrary.sampleStream()` is closed explicity, e.g. through using `try(..) { }`. Here's an example:

[code]

Closing the stream for every usage of it is IMO not possible in a consistent way. See https://stackoverflow.com/questions/34753078/register-a-stream-completion-hook for a discussion of the options.

The dr

[2021-10-05 10:03] mhyeon-lee commented on #236
@jlink Thank you for your support.
Samplestream processing will help me. `try(..) { }`

If this life cycle hook is supported, it can be more helpful.

I will implement createSession and close in the JUnit TestExecutionListener.

[2021-10-05 10:07] jlink commented on #236
You probably wouldn't want to do that for each and every JUnit test, but just for those using jqwik arbitraries.

[2021-10-05 10:19] jlink opened #237 "Create Session API for using jqwik Features outside jqwik Lifecycle"
## Testing Problem

Using jqwik features outside of jqwik (e.g. `Arbitrary.sample()`) is basically creating a big memory hole since cached generators and other stores will never be released.

## Suggested Solution

Offer some kind of Session API to allow the control of jqwik lifecycle outside the engine, e.g.

JqwikSession.newSession()
JqwikSession.newThreadBoundSession()
session.run(() -> ...)
se

[2021-10-05 10:20] jlink commented on #236
Following up with issue about jqwik sessions: https://github.com/jlink/jqwik/issues/237

[2021-10-05 10:20] #236 closed

[2021-10-12 08:30] sormuras opened #243 "Introduce Java module descriptors"
## Automatic Modules

Here's a listing of modules used by project that runs on Java 17 and uses jqwik via JUnit Platform's Launcher module.
[code]

## Suggested Solution

Define and compile a `module-info.java` for each jqwik module. Package the generated `module-info.class` files to eliminate the `automatic` tag and ...

## Discussion

... commit to jqwik's modular API: namely, its exported packa

[2021-10-12 08:51] sormuras commented on #243
Sure. This is all about adding a `module-info.class` into each existing JAR file published by jqwik.

Would you mind requiring JDK 17 at build time? With `--release 8` for jqwik's production code, with `--release 9` for module descriptors and (with implicite `--release 17`) for test code?

_If you want to stay on 8 ... there are ways to compile modules here, too. (For example, let Gradle toolchain

[2021-10-12 09:30] jlink commented on #237
Tackled and released in 1.6.0-SNAPSHOT

See https://jqwik.net/docs/snapshot/user-guide.html#using-arbitraries-outside-jqwik-lifecycle

Feedback welcome.

[2021-11-07 07:28] sormuras commented on #243
Running some smoke-test commands in a workspace of <https://github.com/sormuras/jqwik-samples/tree/main/jqwik-starter-bach> yields:

`@sormuras ➜ /workspaces/jqwik-samples/jqwik-starter-bach $ java --module-path .bach/external-modules --list-modules`

[code]

`@sormuras ➜ /workspaces/jqwik-samples/jqwik-starter-bach $ java --module-path .bach/external-modules --describe-module net.jqwik.api`

[cod

[2021-11-12 13:39] jlink opened #250 "More Kotlin Support"
## Testing Problem

With version 1.6.0 jqwik offers an optional kotlin module.
Not everything from the initial issue https://github.com/jlink/jqwik/issues/151 has been implemented yet.

## Suggested Solution

Add the following Kotlin-related features:
- Support nullability detection in nested types like `@ForAll list: List<String?>`.
  This will require that jqwik uses Kotlin reflection for creati

[2021-11-12 13:40] jlink commented on #151
Available in 1.6.0-SNAPSHOT

[2021-11-12 13:40] jlink commented on #151
Follow-up issue for later releases: https://github.com/jlink/jqwik/issues/250

[2021-11-12 13:40] #151 closed

[2021-11-12 13:43] jlink commented on #151
In addition to the [section in the user guide](https://jqwik.net/docs/snapshot/user-guide.html#kotlin-module)
I also wrote an article on [Property-based Testing in Kotlin](https://johanneslink.net/property-based-testing-in-kotlin/).

[2021-11-13 11:36] jlink commented on #236
Feature has been released in 1.6.0

[2021-11-13 11:37] jlink commented on #243
Feature has been released in 1.6.0

[2021-11-13 11:38] jlink commented on #237
Feature has been released in 1.6.0

[2021-11-13 11:44] jlink opened #251 "Groovy Support"
## Testing Problem

jqwik has been built primarily for Java. Recently a kotlin module was added.

jqwik works in Groovy programms but their are a few places where using the Java API feels awkward and involved.
Moreover, there are no built-in generators for types added by Groovy's SDK.

## Suggested Solution

Add an optional groovy module to jqwik.

### Features of Groovy Module

_to be done_

[2021-11-13 11:44] jlink commented on #251
Please add suggestions about scope of Groovy module in comments.

[2021-11-13 13:18] DirkToewe opened #252 "Container class should inherit @PropertyDefaults"
## Testing Problem

Consider the following example:

[code]

`MyGroup::test` is called the default number of 1000 tries despite the `@PropertyDefaults` annotation to the `Template`.

## Suggested Solution

If test groups were to inherit `@PropertyDefaults` from extended/implemented classes, that would be quite useful.

## Discussion

If in the above example `DefaultsTest` was annotated with `@Prop

[2021-11-13 13:32] jlink commented on #252
Thanks for catching that. I hadn’t considered that so far.

One of the problems I see: As soon as inheritance is considered for PropertyDefaults the diamond problem of multiple inheritance comes into play. What do you think is the best way to handle it?

What should happen if `DefaultTests` had an annotation `@PropertyDefaults(tries=10)`?

[2021-11-13 14:17] DirkToewe commented on #252
So what currently what would happen is that `MyGroup::test` is only executed 10 times. Personally, I would try to maintain that behavior (somebody else might rely on it). So defaults of the outer class `DefaultsTest` should override the defaults inherited/extended from `Template`.

A few alternatives that come to mind:
  * throw an error to force the user to add an `PropertyDefaults` to `MyGroup`

[2021-11-13 17:20] jlink commented on #252
I think that’s reasonable.

Remains the case where two supertypes eg a class and an interface both have conflicting defaults set. That could produce an error log or even an exception.
I might go with what’s easier implementation-wise.

[2021-11-13 18:49] DirkToewe commented on #252
My knowledge of Annotations is very limited, but I believe You can simply add `@Inherited` to the `@PropertyDefaults` annotation and it should automatically inherited.

[2021-11-13 21:09] jlink commented on #252
That only solves the problem of presence of an annotation, but not the overloading of certain attributes of an annotation.
This will require to crawl the full inheritance graph in one way or the other, I assume.

[2021-11-14 21:36] mmerdes commented on #157
Maybe an extension point would be helpful for this problem:
Instead of `@Domain` something like `@RegisterArbitraryFactory(Function<Object, Arbitrary>)`.
This function could act as a strategy to map arguments of `@Property`-methods to their respective `Arbitrary` in a generic way.
For the problem at hand such a strategy could create a suitable `Arbitrary` for every supported bean-validation annota

[2021-11-15 06:31] jlink commented on #157
The suggested annotation does not work, because annotation attributes cannot be functions, all you can have is a class that implements a function. In that sense @Domain is as good as you can get, because it accepts ˋDomainContextˋ as argument which is a collection of arbitrary providers (and configurators). You can use it to register an arbitrary provider that accepts any object and computes the r

[2021-11-15 07:53] jlink commented on #157
Here's a simple example:

[code]

Could be a bit simple if a domain context implementation that also implements ArbitraryProvider would register itself.
Then it would look like:

[code]

[2021-11-15 13:48] mmerdes commented on #157
Yes, I know that plain Java can not have a function/lambda in the annotation ;)
what I meant was a class implementing the functional interface `Function<Object, Arbitrary>`.
Sorry for the sloppy syntax.

[2021-11-15 13:50] mmerdes commented on #157
@jlink
Thank you for your explicit examples.
Maybe the existing API is powerful enough, after all.
Will have a closer look.

[2021-11-16 09:24] jlink commented on #252
Hopefully fixed in https://github.com/jlink/jqwik/commit/7fcc1abd5f44a85062bab831e4d4abaa554a078a

[2021-11-16 09:48] jlink commented on #252
Available in 1.6.1-SNAPSHOT.
@DirkToewe Please test when you find the time.

[2021-11-16 09:48] #252 closed

[2021-11-17 11:17] jlink commented on #157
With the current snapshot, the solution in `GenericDomainContext2` is now possible.

[2021-11-17 11:24] jlink commented on #157
Short introduction to bean validation: https://www.baeldung.com/javax-validation

[2021-11-17 13:05] mmerdes commented on #157
Will try to do some experiments.

[2021-11-18 13:26] jlink commented on #157
@mmerdes Now that I think of it, your best option (and the way it's done with other annotation based arbitraries) is to globally register an arbitrary provider that looks approximately like this:

[code]

[2021-11-19 08:44] jlink commented on #191
Working on it.

First cut will probably be simpler and just offer `TypeArbitrary.allowRecursion()`.

[2021-11-19 14:10] mmerdes commented on #157
A general background question:
say I wanted to provide arbitraries for a number of Objects, e.g. instances of classes `A`, `B`, or `C` annotated with certain annotations.  Now let A have fields of type B which in turn has fields of type C.
Does it suffice to just create arbitrary-providers for A, B, C separately, or would I have to traverse the containment tree myself?

[2021-11-19 14:20] jlink commented on #157
The best way to do that depends on a few things:
- Are B and C generic (specified through type variable) or concrete?
- have instances of B and C additional constraints?
- How do B and C instances get into their containing objects?
I think that’s best discussed on concrete examples.

One general thing, though: Fields are never filled automatically by jqwik. Constructor parameters or factory method

[2021-11-22 10:26] jlink commented on #191
Parameters annotated with `@UseType` now resolve recursively by default.

[2021-11-22 10:28] jlink commented on #191
Functionality available in 1.6.1-SNAPSHOT.

See: https://jqwik.net/docs/snapshot/user-guide.html#generation-from-a-types-interface

[2021-11-22 10:28] #191 closed

[2021-11-23 15:17] jlink commented on #157
@mmerdes I generalized `Arbitraries.forType(..)` into `Arbitraries.traverse(..)` which might be exactly what you need:

`Arbitraries.traverse(Class<T> targetType, Function<TypeUsage, Optional<Arbitrary<Object>> parameterResolver): TraverseArbitrary<T>`

It's not deployed to snapshot yet. I will probably do it tomorrow.

[code]

[2021-11-24 11:42] jlink commented on #157
The shape of TraverseArbitrary has changed:

[code]

[2021-11-24 11:49] jlink commented on #157
Usage is supposed to be:

[code]

[2021-11-24 11:58] mhyeon-lee commented on #157
@mmerdes
You can use Fixture Monkey that supports JSR 303/380 validation annotation.
It use jqwik for arbitrary creation.
https://github.com/naver/fixture-monkey#example

[code]

[2021-11-24 12:10] jlink commented on #157
@mhyeon-lee i didn’t know about fixture monkey. Thanks for pointing it out.

[2021-11-24 12:20] mhyeon-lee commented on #157
@jlink
A team(Naver) I'm working on uses jqwik to write and open source code to help create complex objects.
Fixture Monkey depends on jqwik.
Thank you.

https://naver.github.io/fixture-monkey/docs/v0.3.x/getting-started/#prerequisites

[2021-11-24 15:05] jlink commented on #157
[`Arbitraries.traverse(..)`](https://jqwik.net/docs/snapshot/javadoc/net/jqwik/api/Arbitraries.html#traverse(java.lang.Class,net.jqwik.api.arbitraries.TraverseArbitrary.Traverser)
is now available in 1.6.1-SNAPSHOT.

@mmerdes It probably requires some more explanation to be used for your purpose.

[2021-11-24 16:24] Jiehong opened #261 "Unable to use with Mockito"
## Testing Problem

I'm trying to use jqwik with Mockito, but my system under test is null.

Here is an example:

[code]

If you run those tests, `testWithExample` will pass, but `testWithRandomData` will not run: you'll get a NullPointerException, because `this.sut` is null, so `this.sut.doSomething` fails.

So it seems that the mockito instance is not created for the property, but it's correctly

[2021-11-24 16:59] jlink commented on #261
Short answer: `@ExtendWith(MockitoExtension.class)` is a Jupiter engine mechanism. jqwik is a different test engine. Two engines do not combine their life cycles.

Solution 1: Use Mockito without extension, which is quite straightforward.
Solution 2: Write your own Mockito extension for jqwik.

Long answer will follow one of these days...

[2021-11-25 07:37] jlink commented on #261
## Solution 1

[code]

[2021-11-25 07:48] jlink commented on #261
## Solution 2: Write your own MockitoHook

[code]

The `MockitoHook` implementation could be more sophisticated; e.g. you may want to specify if mock objects are being reset per property or per try.

[2021-11-25 07:50] jlink commented on #261
One more thing: I personally never mix Jupiter tests and jqwik properties in the same method. It's possible in theory but one is bound to mix up their different lifecycles and get confused about which parts and annotations are valid for which test methods.

[2021-11-25 07:55] jlink commented on #261
Closing as answered. Feel free to re-open the issue if anything is unclear.

[2021-11-25 07:55] #261 closed

[2021-11-25 10:56] Jiehong commented on #261
@jlink : thank you for the fast and detailed answer.

Perhaps this information could appear in the documentation? (https://jqwik.net/docs/current/user-guide.html)

[2021-11-25 11:28] jlink commented on #261
Currently there's nothing about Mockito or other external libraries in the user guide. So this would be a first.

Where would you look in the user guide for such information? What would be your search terms? Imagine that Mockito is just one of many helper libraries that people may want to use with jqwik.

[2021-11-25 11:41] Jiehong commented on #261
Perhaps in the "Advanced Topics", under a new section named "integration with other Jupiter Engines"?

I found an old bug about JMocktit (https://github.com/jlink/jqwik/issues/25) that seems similar.

What do you think?

[2021-11-25 13:35] mmerdes commented on #157
Thanks @mhyeon-lee for the hint - will check it out.
And thanks @jlink for your continuous support!

[2021-11-25 13:58] jlink opened #262 "Documentation: User Guide Chapter about Integration with other Testing Libraries"
## Problem

Some questions about using/integrating with other libs show up again and again, e.g.:
- Why does MockitoExtension not work with jqwik?
- How can I test Spring boot apps with jqwik?
- How to use Testcontainers with jqwik?

Those questions and answers currently don't have a place in jqwik's documentation / user guide. But they should.

[2021-11-25 13:58] jlink commented on #261
It's more "Pitfalls of integration" I'm afraid. I openend a new issue to tackle that: https://github.com/jlink/jqwik/issues/262

Feel free to add new points to the list there.

[2021-11-26 08:09] jlink commented on #157
Here's a Kotlin example that shows the current functionality of `@UseType`:

[code]

The same would work for Java classes with explicit constructors.
Mind that annotations that are handled by arbitrary providers or configurators are considered and applied.

So one option is to "just" register providers and configurators for the relevant JSR 303/380 annotations and let jqwik's `@UseType` annotation

[2021-11-26 10:12] DirkToewe commented on #252
Sorry for the delayed response: Inheritance of `@PropertyDefaults` works now. What's a little curious to me is that `@PropertyDefaults` from interfaces seem to take precedence over the ones from a class. In the following example:

[code]

The tests are executed 1337 times as specified by the interface. It is a little unexpected, but not really an issue.

[2021-11-26 10:25] jlink commented on #252
I would have preferred to have a different precedence: Property -> PropertyDefaults in class -> PropertyDefaults in parent class -> PropertyDefaults in interfaces. That would have required, though, to implement an annotation and meta-annotation search through the whole graph of dependencies myself. As it is now I could use stuff from JUnit Platform support. Maybe I was too pragmatic.

[2021-11-26 10:32] DirkToewe commented on #252
Pragmatism FTW! I can't really think of a practical example where it would be an issue.

[2021-12-04 21:35] moon-golfer opened #266 "OutsideJqwikException on simple test case after 1.5.0+ upgrade"
## Testing Problem

I wrote the following sample code and run it on intelliJ and kept getting the same exception on v1.5.0+.
The same code works fine on 1.4.0 and lower...

This is the sample code I reduced my actual test code down to:
[code]

Stacktrace:
[code]

- Removing the ` .use(Arbitraries.of("123")).in(StringBuilder::append)` will make the test pass, so the exception is coming from the gen

[2021-12-05 09:25] jlink commented on #266
Using generators in the way you do is no longer supported. Instead, you have to use: `Arbitrary.sample()` or `Arbitrary.sampleStream()`:

[code]

The reason is that efficiently generating values requires quite some statefule machinery under the hood.
You should read https://jqwik.net/docs/current/user-guide.html#using-arbitraries-directly and especially https://jqwik.net/docs/current/user-guide.ht

[2021-12-05 09:25] #266 closed

[2021-12-05 09:52] moon-golfer commented on #266
Thanks for the reply. A side question, how can we supply a seed now with the new sample workflow like before?
My seed is calculated based on the function input parameter like so:

For example:
[code]

[2021-12-05 10:13] jlink commented on #266
There's currently no official way to provide a seed for sampling. If there was one, it should be part of `JqwikSession`.

What are you using the seed for? If you need to control the seed why not use `@Property` or `@Example` in the first place?

If you can convince me that sampling with explicit seed is needed, a new issue for this feature is welcome.

[2021-12-05 10:24] moon-golfer commented on #266
I have multiple test that will call with the arbitrary to generate some custom object dynamically given a settings object. Then, it will take some fields from the settings object to calculate a seed to make sure the same setting or different settings object with those same fields (string and numbers) will generate the same outcome.

Now with samples, based on your comment this is not supported. Ho

[2021-12-05 10:37] jlink commented on #266
Your previous approach with using the generator directly still works __within a property method or when using `JqwikSession`__. For example the following code should run alright (in 1.6.x):

[code]

I just doubt that this is the best approach. But I haven't properly understood your use case.

[2021-12-06 15:48] dvmarcilio opened #270 "`IllegalArgumentException` when generating parameters: arrays with `@WithNull`"
## Problem

I'm expecting that jqwik (1.6.1) generates booleans or nulls with the code below, but it throws an `IllegalArgumentException`.
It also happens with other types of arrays.

[code]

## Work as expected

[code]

## Workaround

@jlink kindly provided a workaround:

[code]

[2021-12-06 17:11] Bluesoul02 commented on #108
Would it be ok to generate the pdf using pandoc just like in the pull request?

[2021-12-06 19:54] jlink commented on #108
@Bluesoul02 I’ll have a look at it. Tomorrow.

[2021-12-06 20:00] jlink commented on #270
First research suggests that it only happens with primitive arrays.

I assume that the error occurs when trying to fill null values into a primitive array. Which brings me to a API design question: Should constraint annotations like WithNull apply to the array, the array base type or both? Currently it’s both which then leads to the attempt of filling a primitive array with nulls.

[2021-12-06 20:40] dvmarcilio commented on #270
It seems that `@WithNull` only applies to elements in the case of arrays, right?
Correct me if I'm wrong, considering a  `List<Integer>`:
- to have null elements: `@ForAll List<@WithNull Integer> list`;
- to have null elements _and_ a null reference (same as `@WithNull` for arrays?) : `@ForAll @WithNull List<@WithNull Integer> list`.

[2021-12-06 21:06] jlink commented on #270
Annotations only apply to arrays because there is no syntactic way to differentiate between the array and the array's base type in Java.

The `@UniqueElements` story is more complicated: Once upon a time there was a `@Unique` annotation that would go with the embedded type of a collection, e.g. `List<@Unique>`. When I finally learned that uniqueness _must_ be a property of the collection itself, I

[2021-12-07 08:05] jlink commented on #270
I fixed the generic issue and documented it here: https://jqwik.net/docs/snapshot/user-guide.html#constraining-array-types

This fix is available in 1.6.2-SNAPSHOT and your example should no longer crash.

[2021-12-07 08:10] jlink commented on #270
I wonder if now an annotation like `@ConfigureComponentType(Class<? extend ArbitraryConfigurator>)` would be useful, e.g.

[code]

`@ConfigureComponentType(WithNullComponent.class)` could now be transformed into a meta annotation `NullElements` as was suggested above.

Counter argument: It's a lot of hassle for a niche use case that can be solved by a provider method as well.

[2021-12-07 08:10] #270 closed

[2021-12-07 08:32] jlink commented on #108
@Bluesoul02 Many thanks for tackling the issue! Let's work it out in the PR.

[2021-12-07 10:32] dvmarcilio commented on #270
Thanks for the fix.

I think there is a missing _**to**_ in there: _if an annotation should be applied **to** the array type, ..._

[2021-12-07 10:42] jlink commented on #270
@dvmarcilio typo fixed

[2021-12-18 10:20] jlink opened #274 "Annotation for initializing members per try"
## Testing Problem

Unlike example-based tests properties often require to freshly initialize a member variable per try - instead of per property.
For example:

[code]

I found myself a few times with initializing the member variable in the declaration:
[code]

And then wondering why the property did not work as expected.

## Suggested Solution

I suggest a new annotation `@InitializeBeforeTry` fo

[2021-12-30 09:31] tmohme opened #281 "Gradle Kotlin DSL build script"
## Testing Problem

It does not solve any particular testing problem ;)

## Suggested Solution

If you are interested in having type-safe Kotlin DSL build scripts, I would try to convert the existing ones (plus changing the structure to avoid cross-project configuration) in a PR.

## Discussion

Structurally, the result would look similar to what is described at https://docs.gradle.org/current/sam

[2021-12-30 09:38] jlink commented on #281
@tmohme Thanks for the suggestion. I prefer the Groovy syntax of Gradle, but that's just a personal preference given my Groovy history. I have the feeling that it gives me a bit more leeway and is less verbose in some cases.

But what do you mean by "plus changing the structure to avoid cross-project configuration"? That sounds interesting.

[2021-12-30 11:28] tmohme commented on #281
In the "early days" of Gradle, using "subprojects {}" and "allprojects {}" were the only means to share build logic between Subprojects.
Since a few major releases there is another, now recommended approach: Using convention plugins.
See https://docs.gradle.org/current/userguide/sharing_build_logic_between_subprojects.html#sec:convention_plugins_vs_cross_configuration
From my experience, I can con

[2021-12-30 14:11] jlink commented on #281
This make sense - even if the Gradle documentation requires quite some hopping to understand how it works.

@tmohme If you’re willing to start with convention plugins and keep the Groovy DSL (at least in the beginning) I’d be more than happy.

[2022-01-03 04:48] ScottG489 opened #283 "NPE when test throws an Exception with null stacktrace"
## Testing Problem

The problem is that if an exception is thrown that doesn't have a stacktrace, [ErrorEquivalenceChecker.firstRelevantStackTraceElement](https://github.com/jlink/jqwik/blob/cc952102e3209a20c63e9b1cb6a7c3007a028b91/engine/src/main/java/net/jqwik/engine/properties/shrinking/ErrorEquivalenceChecker.java#L37) ends up throwing an NPE.

It's a pretty fair assumption that an Exception w

[2022-01-03 07:41] jlink commented on #283
I’d argue that one should never mock an exception, but on the other hand a test framework should never blow up either. In your example you could, it seems, as easily create a real MyException instance. Let me think about it for a while…

[2022-01-03 14:57] jlink commented on #283
@ScottG489 My current feeling is that handling `Throwable.getStackTrace()` being null would give way to handling a lot of other potential null returns that shouldn't occur in the first place. Is there a good argument that this is a special case?

One more thought: Maybe it's the general handling/presentation of internal exceptions that's the problem and that could be improved. What was the error m

[2022-01-03 19:15] ScottG489 commented on #283
Yeah I'm definitely on the same page. Over-handling use cases can get patchy and lend to a lot of spaghetti code.

My particular case was parsing an error message for some data to take an action using that data (i.e.  `mockException.getCause().getCause().getMessage()`). The lib I was using has some gaps and I needed to use this hacky solution. So naturally my test was a bit hacky as well. I was mo

[2022-01-04 08:50] jlink commented on #283
I fully agree. The crucial thing is what _blow up_ means. I could argue that jqwik does not blow up, since it reports the one property as failing. Everything else continues to work.

As for printing out the mockException that produces the RTE, that's not possible without introducing code at the point of accessing the potential null attribute. And that would lead back to handling every potential nu

[2022-01-04 09:25] jlink commented on #283
Fixed and deployed to 1.6.3-SNAPSHOT (https://jqwik.net/docs/current/user-guide.html#snapshot-releases)

[2022-01-04 09:25] #283 closed

[2022-01-05 09:22] jlink commented on #91
I tend to turn the dependencies around:

[code]

[2022-01-06 15:10] vlsi commented on #281
I recently migrated https://github.com/allure-framework/allure-gradle to the [idiomatic structure](https://github.com/jjohannes/idiomatic-gradle), and I incline to like that structure (it is literally the same as the one used by Gradle itself)

The only bit I would like to do slightly different is to name `build-logic` as `allure-gradle-build-logic` since currently Gradle does not support composit

[2022-01-06 16:36] vlsi opened #288 "Consider @Operation to declare Actions to avoid boilerplate classes for actions"
## Testing Problem

~ https://jqwik.net/docs/current/user-guide.html#stateful-testing

The issue with the current `Action`-based approach is that it requires declaring a lot of `Action` implementations (one class per each method)

It would be nice to have out-of-the-box test properties for interfaces like `InputStream`, `OutputStream`, `Map`, `List`.
Guava has `ByteSourceTester` with a limited set

[2022-01-06 17:11] jlink commented on #288
I think this is related to https://github.com/jlink/jqwik/issues/80 which suggests a syntactically different approach to compare stateful object under tests and model.

[2022-01-06 17:17] jlink commented on #288
@vlsi To get a better grasp of what you’re imagining, could you add an example that shows both stateful object, oracle (what I’d call a model) and the property. Feel free to make the object‘s interface a single method. I just fail to bring all parts together in my head and on my own.

[2022-01-07 09:22] jlink opened #289 "Support Standard Invariants"
## Testing Problem

Some invariants show up again and again. A few examples:
- Idempotency
- Commutativity
- Associativity
- Equals/Hashcode dependency

Coding properties for them by hand requires very similar code again and again.

## Suggested Solution

Provide a mechanism to apply standard invariants onto functions, types etc.

Different APIs are thinkable:
- Abstract template classes for an In

[2022-01-07 16:01] vlsi commented on #288
#80 might be relevant indeed.

I implemented `InputStream` tests via `jqwik`: https://github.com/pgjdbc/pgjdbc/pull/2389
The current implementation of `BlobInputStream` is buggy, so `jqwik` detects true issues.

My findings so far are:
1. `InputStream` does not have clear semantics (e.g. `read(,.., len=0)` can return `0` and `-1`), so "compare with golden implementation" is not possible
2. Some me

[2022-01-07 16:45] vlsi opened #290 "Store#onClose seems to leak memory"
## Testing Problem

See https://jqwik.net/docs/current/user-guide.html#temporaryfilehook

The issue is that `tempFileStore.onClose(file -> file.delete());` would be executed multiple times, so it would effectively add the same callback again and again.

[code]

## Suggested Solution

`onClose` callback registration should be moved to store creation.

For instance:

[code]

[2022-01-07 17:24] vlsi commented on #290
Draft implementation:

[code]

Sample usage:

[code]

Unfortunately, the current `Store.create*` API does not allow to make usages as follows:

[code]

[2022-01-07 18:58] vlsi commented on #288
closing in favour of #80

[2022-01-07 18:58] #288 closed

[2022-01-07 20:07] vlsi commented on #274
I wonder if that is a relevant or different question.
I use jqwik to test database, and it looks like it might help to batch "data population" in the database.

In other words:
1. Generate a random "record length". For instance, 42 bytes.
2. Insert the record in the db.
3. Generate a sequence of queries (e.g. 100 queries) and verify if their result is sane. For instance `substring(row, begin, end)

[2022-01-08 10:32] jlink commented on #290
@vlsi Thanks for bringing up this discussion!

In the case you describe the deleting the file will only be attempted once.
You can see that by adding a logging command in the callback:

[code]

The reason is that onClose-callbacks are stored in a HashSet. Combined with the way how the JVM creates instances of lambda expressions, only the first callback will actually be added to the set of callback

[2022-01-08 10:54] jlink commented on #290
One more thing...

I think your intended API can be implemented like that:

[code]

Example usage:

[code]

I wonder if it looks as nice in plain Java, though.

[2022-01-08 11:01] jlink commented on #274
@vlsi I currently cannot see the connection of the problem you describe to `@InitializeBeforeTry`. But I think I haven't really understood your use case.

Some clarifying questions:
- What is a single try in your scenario? One iteration from 1. to 4. or a single query of the 100 queries mentioned in 3.?
- In what way would you like to generate an inner arbitrary depending on an outer one?

Sorry f

[2022-01-08 12:00] vlsi commented on #290
I believe the spec says lambdas have no identity, so it is wrong to assume they can be added to a hashset :-/

Gradle relied on a similar properties for lambdas, and AFAIK, they drift away from that, and they try to avoid relying on the lambda identity.

It does not feel right that the callbacks are added on each store.get

[2022-01-08 15:35] jlink commented on #290
I share your feeling. You convinced me. Will change the API.

[2022-01-08 15:41] vlsi commented on #290
It looks like builder pattern for configuring the Store-to-be-created feels right here.

For instance:

[code]

[2022-01-08 16:09] vlsi commented on #290
Frankly speaking, it is a tough challenge for me.
I find Kotlin is relatively easy to introduce, especially for testing purposes.

Recently @dalexandrov added Kotlin convenience methods to Helidon, and the key principle was "whenever you see Builder in Java, it could be refined with a lambda-with-receiver in Kotlin".
See https://medium.com/helidon/kotlin-helidon-9af5c35c830a

So it looks like "bui

[2022-01-08 16:23] vlsi commented on #274
For instance:
1) Add a row of 42 bytes <-- this is "the first-level arbitrary
2) Then make several attempts to falsify the property. For instance, call `read(byte[], int offset, int length)`. Note that the length of the buffer should probably be related to the record size. In other words, it makes no sense to use 100MiB buffers to read the record of 42 bytes, and it is unlikely to trigger bugs. I

[2022-01-08 16:25] vlsi commented on #274
No rush.

I just realized that what I need to test for pgjdbc is not just an `InputStream`, but it is more like a [`SeekableByteChannel`](https://docs.oracle.com/javase/8/docs/api/java/nio/channels/SeekableByteChannel.html). In other words, the implementation should be able to handle both reads, writes, seeks, truncates in random order 🙀

[2022-01-09 10:18] vlsi commented on #84
While I do not have immediate plans to implement coverage-guided generation yet, however, the following looks useful and relevant: https://tiemoko.com/blog/diff-fuzz/

[2022-01-09 10:53] jlink commented on #290
Having a good API for both Java and Kotlin is tricky. I tend to make the Java API good first and if necessary add convenience method(s) for Kotlin. Before I saw your suggestion with a builder, I was thinking of something like that:

[code]

The Kotlin convenience function would then look like

[code]

The advantage I see: It's just overloading the existing API and it requires fewer internal cogs.

[2022-01-09 10:58] jlink commented on #290
Or, keeping the builder but skipping the config:

[code]

Would a builder suggest a default `Lifespan`?

[2022-01-09 11:14] jlink commented on #274
Are you thinking of something like that:

[code]

I'd consider that a new kind of class-based property. The nesting may not even be necessary.

[2022-01-09 11:22] vlsi commented on #274
It looks great!

Maybe. Frankly speaking, this is the first time I apply jqwik to pgjdbc, so "nesting" was be my immediate reaction to segregate "database population" from "property falsification attempts".
I might have better suggestions once I get more familiar with jqwik

[2022-01-09 11:43] jlink commented on #274
My best guess about how you could solve the problem with jqwik's current capabilities is to generate a pair of bufferSize and whatever depends on it:

[code]

Most of the time when generated values depend on other generated values, the answer is `flatMap` or `flatCombine`.

Then the generated pair (or triple or quadruple or...) can be used to initialize and set up your database.
What's not possibl

[2022-01-09 11:58] vlsi commented on #274
For now, I ended up with

[code]

---

By the way, what do you think of the following API?

[code]

In other words, jqwik could infer that `queryRuns` property depends on `bufferSize` and `query`.
`query` depends on `bufferSize`, so it could infer that `query` has to be flatMapped from `bufferSize`.

The edge case would be when user requires multiple "instances" of the buffer size.
For instance

[

[2022-01-10 08:25] jlink opened #294 "Allow Sharing of Generated Values Across Arbitraries"
## Testing Problem

Sometimes a value generated by an arbitrary should be the same one for all usages of this arbitrary in the same try.
Currently, this can only be accomplished by flat mapping over this value and handing the value down to all other arbitraries.

It would simplify some properties and arbitrary definitions if there was a simpler way to accomplish the same effect

## Suggested Solut

[2022-01-10 08:31] jlink commented on #274
Part of what you sketch here, already works. One can use `ForAll` parameters in provider methods:

[code]

The other part is sharing values across arbitraries. That's a feature that's been a while in jqwik's (somewhat hidden) backlog. I opened an issue for it: https://github.com/jlink/jqwik/issues/294

[2022-01-10 12:16] jlink commented on #91
Available in "1.6.3-SNAPSHOT".

[2022-01-10 12:19] jlink commented on #91
User guide documentation: https://jqwik.net/docs/snapshot/user-guide.html#arbitrary-suppliers

[2022-01-10 12:19] #91 closed

[2022-01-10 16:13] vlsi commented on #294
Frankly speaking, I would love to hide `combine` and `flatMap` into jqwik implementation.
Of course, there will always be cases when `flatMap` would be useful, however, I would like to write code like

[code]

[2022-01-10 16:25] jlink commented on #294
Have you tried it? Should already work.

[2022-01-11 10:39] jlink commented on #290
The Java part is done. I went with:

[code]

As for the Kotlin "convenience" function I see a few variations:
- Have all of `getLifecycleStore`, `createLifecycleStore`, `getOrCreateLifecycleStore` or a single
  `provideLifecycleStore` (better name suggestion welcome).
- Should the initialization context have an InitialValue method:
[code]
  which would allow reusing `Store.Initializer` or should t

[2022-01-11 12:38] vlsi commented on #290
By the way, if you use `fun interface` in Kotlin, then Java would be able to use it like `Consumer`, and Kotlin would be able to use receiver.

Sample:

[code]

Java

[code]

[code]

[2022-01-11 14:37] jlink commented on #294
Would that feature be useful if shared values couldn't be shrunk?

[2022-01-11 15:47] vlsi commented on #294
What is the "easy" implementation you have in mind?
I thought the implementation would be to arrange the needed `combine` behind the scenes, then it should support shrinking, shouldn't it?

[2022-01-11 15:58] vlsi commented on #290
@jlink , is there a real need for `Store.getOrCreate`?

For instance, what if different code branches happen to create a store with the same ID?
jqwik would happily overwrite the data.

What if the API was as follows?

[code]

[2022-01-11 15:59] vlsi commented on #290
I know Gradle tasks have only "get" and "create" APIs, and it works for 99.99% of the cases.
There are rare requests for "get or create", however, it looks like the users should not need `Store.getOrCreate`.

[2022-01-11 16:04] jlink commented on #294
The easy implementation is to just store the generated unshrinkable value on first access.

Going for a full flatmap and flat combine behind the scenes would IMO require a data flow analysis across all generated values. I don’t even know if that’s possible. There may be a more hacky solution making use of stores and try lifecycle, but I could go with a first unshrinkable solution, if it provides v

[2022-01-11 17:20] vlsi commented on #294
I see.

[code]

it does indeed need dataflow analysis.

However, is dataflow needed if all the "sharing" is done via method parameters and return values?

[2022-01-11 18:18] vlsi commented on #294
In other words, the definition like

[code]

means `fullNames` is a combination of `firstNames` and `lastNames`. There's no need to analyze the code, and there's no need to execute the code.

[2022-01-11 19:15] jlink commented on #294
That code doesn’t compile though. Jqwik needs a clear criterion to decide if it has to flatMap/combine over parameters or if plain map/combine suffices. A return type `String` would also work but then you could never map/combine to an `Arbitrary` object, since this would signal a flatMap/combine.

A new annotation would do the trick, but there are already too many for my taste.

[2022-01-11 19:21] vlsi commented on #294
I suggest it just uses combine

[2022-01-11 19:25] vlsi commented on #294
By the way, it might make sense to organize a call to explore options. Wdyt?

[2022-01-12 08:17] jlink commented on #290
`getOrCreate()` is a convenience and it's the one I mostly use. The reason for that is that many hook methods can be called several times during the same try. And only the first time the store should actually be generated.

In order to prevent overwriting a store with the same ID by coincidence, the ID is usually a composed one using the hook/extension class plus a name describing what the store c

[2022-01-12 08:35] vlsi commented on #290
What do you think of the following?
1. "before try start hook" -> `create store`
2. "parameter resolve hook" -> `get`

[2022-01-12 08:57] jlink commented on #290
That can sometimes work, sometimes not. There are, for example, global hooks that need a store if (and only if) their functionality is needed, e.g. statistics. Creating the store only if needed saves resources.

[2022-01-12 09:00] jlink commented on #290
BTW, I just changed the Java API so that `Store.create` and `Store.getOrCreate` take an option 4th parameter `Consumer<T> onClose`. After having looked at the `Initializer` and `Builder` approaches for a few days my impression was that they don't fit in.

That said, the jury is still out on the best Kotlin API for creating/providing stores.

[2022-01-12 09:01] jlink commented on #294
Sure, when would it suit you?

[2022-01-12 09:35] vlsi commented on #290
Ok, then:

1)  "before try start hook"  -> register store
2) "parameter resolve hook" -> get

The crucial part is that `get(...)` should not contain "lifecycle" parameter.

[2022-01-12 10:01] vlsi commented on #294
E.g. https://doodle.com/mm/vladimirsitnikov/30min-meeting

[2022-01-12 10:21] jlink commented on #294
Did some experimentation in https://github.com/jlink/jqwik/blob/main/engine/src/test/java/experiments/SharedArbitraryExperiments.java

[2022-01-12 10:34] jlink commented on #290
What's the difference between "create store" and "register store" in your opinion? The value in the store will only be initialized on first access anyway.

The most prominent example where the first access to the store is somewhat unknown is jqwik's Spring extension: https://github.com/jlink/jqwik-spring/blob/main/src/main/java/net/jqwik/spring/JqwikSpringExtension.java.

[2022-01-12 10:59] jlink commented on #294
One more idea. What if `@ForAll` could also resolve Arbitrary types. Like

[code]

This would not hide map/flatMap/combine but it could be used directly in provider methods.

[2022-01-12 11:05] vlsi commented on #294
That would be useful as well.

[2022-01-12 11:43] jlink commented on #294
That was so easy to implement that I just did it. Now this works:

[code]

Released and available in "1.6.3-SNAPSHOT"

[2022-01-13 07:52] jlink commented on #290
It just occurred to me that the onClose parameter could be completely eliminated by going the Jupiter round and cleaning up stored objects if they implement `AutoCloseable`.

[2022-01-13 08:01] vlsi commented on #290
It might be a bit surprising if the user puts something like `Connection`, and it gets closed unexpectedly because the engine "does automatic close for `AutoCloseable`".

The workaround would probably be wrapping the value into `Optional<T>` (or another box-like class): `Store<Optional<Connection>>` and then use `.get().get()`.

A similar discussion was here: https://github.com/junit-team/junit5/i

[2022-01-13 11:33] jlink commented on #290
Introduced interface `Store.CloseOnReset`:

[code]

Removed all methods in `Store` with `onClose` parameter.

Convenience method for Kotlin seems no longer necessary.

Available in 1.6.3-SNAPSHOT.

[2022-01-13 11:35] jlink commented on #290
I think it's ready for upcoming release 1.6.3.

Please reopen if not ready for the coming release.
Please create a new issue for enhancements.

[2022-01-13 11:35] #290 closed

[2022-01-13 14:46] jlink commented on #294
@vlsi Would `@InjectArbitrary` be more understandable than `@ForAll` in this case?

[2022-01-13 14:53] jlink commented on #294
`@Inject` seemed to generic, but I'm unsure.

[2022-01-13 15:10] vlsi commented on #294
`@Inject` might make sense if there is more than one type of injectable item. I don't know if that is the case.

[2022-01-13 15:36] jlink commented on #294
Currently, I don't see any other types.

[2022-01-14 05:08] acktsap opened #295 "Builders.withBuilder breaks backward compatibility"
## Testing Problem

I found breaking change when replacing `Combinators.withBuilder` with `Builders.withBuilder`. New one works differently on always nullable Arbitrary. It seems `use(..).in(..)` block is never called in the new one.

Combinators.withBuilder

[code]

Builders.withBuilder

[code]

Is that an intended behavior or just a bug?

[2022-01-14 08:46] jlink commented on #295
@acktsap Thanks for the catch. At first glance I think that's a bug, null values should also be usable in builders.

I'll hopefully be able to fix it soon, so that it will go into the upcoming release 1.6.3.

[2022-01-14 09:47] jlink commented on #295
Fixed in https://github.com/jlink/jqwik/commit/25e6d9c69757ed046baa3d4ec0c2e108198b5557

[2022-01-14 09:47] #295 closed

[2022-01-18 07:46] jlink commented on #294
What about `@ForArbitrary`?

[2022-01-26 09:36] tvelka opened #296 "Behavior or Arbitraries::create is misleading"
## Problem

The behavior of `Arbitraries::create` is misleading, if not just wrong. In the example blow the property is tried only once and not 10 times as requested.

[code]

Output for the test above:
[code]

## Suggested Solution

Improve the documentation. It states, that

That is correct but also misleading, since to achieve that it reduces the number of tries as demonstrated above. I suspect

[2022-01-26 09:51] jlink commented on #296
@tvelka Thanks for bringing that up.

Obviously, the documentation did not guide you correctly here. I'll have to thing about it.

What I do not understand, though, is what you are trying to do.
`Arbitraries.create(..)` is for building an arbitrary, not for generating values. The use case you sketch is much simpler to code:

[code]

So, I probably, don't get your point at all.

Could you give more

[2022-01-26 10:12] jlink commented on #296
BTW, the effect you are seeing here is described in the javadoc of this method:

jqwik thinks that your arbitrary will generate just a single value, because that's how create() is typically used.
By default, jqwik will do exhaustive generation if the estimated number of all value combinations (here 1) is <= the number of tries. You will see your intended behaviour with:

[code]

But, as mentioned

[2022-01-26 10:14] tvelka commented on #296
That is just an example I created to demonstrate the behavior of `Arbitraries::create`. The actual sample generation is a lot more complicated and involves randomly chosen parameters whose values depend on each other.

I probably would have chosen a different approach, but the sample provider and test was created by someone who used JQWik first time and that was basically the solution he came up w

[2022-01-26 10:48] jlink commented on #296
When generated values depend on each other, the only viable approach is using `Arbitrary.flatMap(..)` or `Combinators.combine(..).flatAs(..)`. All other approaches, like using `sample()` to use generated values in other arbitraries, are not scalable and not shrinkable. The concept of "flat..." may not be easy to grasp but it's necessary for advanced data generation.

[2022-01-26 10:50] jlink commented on #296
This is a documentation/learning/teaching problem. `Arbitraries.create(..)` is definitely not built for that purpose.

[2022-01-30 09:10] vlsi opened #297 "Add meaningful toString implementations to Lifecycle context implementations"
## Testing Problem

[code]

It prints something like

[code]

## Suggested Solution

Implement `DefaultContainerLifecycleContext#toString()` with something like `"LifecycleContext for " + classDescriptor.toString()`

It would look like

[code]

`classDescriptor.toString()` is quite verbose (it includes package names for all the classes, including inner groups), and `classDescriptor.getDisplayName(

[2022-01-31 07:23] jlink commented on #297
Since the current `toString` representation of test descriptors is based on their `UniqueID` and `UniqueID` is considered to be internal to engines, I'd rather not fuzz with it.

It makes sense though to reveal the required information in the instance of `ContainerLifecycleContext`. So, what information besides the representing class, which is already available through `ContainerLifecycContext.opt

[2022-01-31 07:28] vlsi commented on #297
I guess everything is available via test descriptors (they seem to have parents, etc).
The missing bit is `DefaultContainerLifecycleContext#toString` so the object looks understandable to humans in logs and in the debugger.

[2022-01-31 07:32] jlink commented on #297
Your understandable might be my shibbleshabble. What should be part of the string in your opinion?

[2022-01-31 07:40] vlsi commented on #297
E.g. hierarchical path of the context like in `[engine:jqwik]/[class:com.acme.test.fuzz.MappingApplyProperties]/[NetstedGroupProperties]`, or `engine:jqwik / class:com.acme.test.fuzz.MappingApplyProperties / NetstedGroupProperties`.

[2022-02-01 15:46] jlink commented on #297
I'll offer my suggestions in a few days. Stay tuned.

[2022-02-02 11:43] vlsi commented on #134
I see the same `index % list.size()` approach is suggested in https://johanneslink.net/model-based-testing/#action-create-a-post

---

I'm facing a  related testing case: my test model is nested like `configuration_file -> table_definition -> column_definition`, so there might be 0..n `configuration_file` instances which contain 0..m `table_definition` instances, which contain 1..k `column_definit

[2022-02-03 07:52] jlink commented on #134
BTW, this has been possible now for a while: `Arbitrary.withoutEdgeCases()`

[2022-02-04 04:29] mhyeon-lee opened #299 "CalendarArbitrary is not support Time"
## Discussion

CalendarArbitrary is all about date information. (using LocalDateArbitrary)

Any plans to handle time information?

[2022-02-04 07:47] jlink commented on #299
There's already an open issue for that: https://github.com/jlink/jqwik/issues/228

However, it's not on my current timeline because:
1. Many/most people nowadays use the types in `java.time`
2. There's an easy workaround: Generate `Instant`, `LocalDateTime` or whatever and map it to `Calendar`, e.g.

[code]

Hope that helps.

[2022-02-04 07:47] #299 closed

[2022-02-04 14:15] vlsi opened #300 "Add ActionSequenceArbitrary#sequences(Arbitrary<? extends List<? extends Action<M>>>) for dependent actions"
## Testing Problem

See https://github.com/jlink/jqwik/issues/134#issuecomment-1027856656
The case is that input data is hierarchical, and certain states are known to be invalid.
For instance, I know "table without columns" can't be created in the database, so I would like to avoid generating that state during testing.
At the same time, having action classes for `add table` , `add column`, `remove

[2022-02-04 19:27] vlsi commented on #134
The plan of abusing `precondition` was good on paper, however, it does not work in practice since `jqwik` re-instantiates values in `net.jqwik.engine.properties.shrinking.CombinedShrinkable#value` (since it calls `createValue(parts)`)

[2022-02-05 09:15] jlink commented on #300
@vlsi Interesting use case.

I'm wondering if

add column verifies that the table with given name exists, and the verification should be performed only after add table is executed.

is really true, because at first glance it looks like the simplest way to satisfy the need.
What if the composite actions precondition is equal to the first precondition, and the subsequent actions' preconditions are j

[2022-02-05 10:34] vlsi commented on #300
That is what I tried in my workaround, however, it did not work because jqwik protects from keeping state in `precondition` method (jqwik creates new object).

For now, I am looking into implementing my own `SequentialActionSequence` / `RandomActionGenerator` so they would either allow keeping state (e.g. they would call `precondition` in `SequentialActionSequence#initialRun`, or they would even a

[2022-02-05 13:06] jlink commented on #297
I added toString() implementations to common lifecycle context objects. Here's an example:

[code]

It's also been deployed to 1.6.4-SNAPSHOT.

@vlsi Does that fit your needs? If not, just reopen the issue.

[2022-02-05 13:06] #297 closed

[2022-02-06 10:57] jlink commented on #300
If I remember correctly, actions will be removed during shrinking if their precondition does not hold, but I may be wrong. If I am wrong, I think this could be fixed.

[2022-02-06 11:02] jlink commented on #300
Here's an implementation of `CompositeAction`. The demo code is [here](https://github.com/jlink/jqwik/blob/main/engine/src/test/java/experiments/CompositeActionExperiments.java):

[code]

It seems to work for me, but I might have overlooked something.

It's also an open point of discussion if the failure of a subsequent precondition should exclude the composite action from being considered or not.

[2022-02-06 11:23] vlsi commented on #300
See https://github.com/jlink/jqwik/blob/cc952102e3209a20c63e9b1cb6a7c3007a028b91/engine/src/main/java/net/jqwik/engine/properties/stateful/SequentialActionSequence.java#L69-L73

It terminates execution as soon as any precondition fails.

[2022-02-07 07:26] jlink commented on #300
Yes, but this code is not executed during shrinking. AFAIR repeated runs are currently only used in tests to verify that a shrunk sequence produces the expected result model. The code you quote makes sure that the _same_ sequence (not a shrunk one) will use the same sequence of actions (or fail) on a second, third etc run.

You can see how actions sequences are shrunk in:
- [ActionSequenceShrinkin

[2022-02-07 12:25] vlsi commented on #250
One more item: declaration-site variance.

Currently, Kotlin treats Java's `Arbitrary<T>` as invariant.
In other words, if I declare `interface ArbitraryAction<T> : Arbitrary<MyActionType<T>>` (e.g. to reduce nesting everywhere), then Kotlin does not allow returning sub-types without casts.

----

The idea of Kotlin generics is that you can specify "usage type" once at type parameter declaration,

[2022-02-07 13:34] jlink commented on #250
Moving `Arbitrary` to the Kotlin side would make all jqwik code dependent on Kotlin, right?

[2022-02-07 13:44] vlsi commented on #250
That depends.
There's an option to skip dependency on `kotlin-stdlib`, so it would look pretty much the same for existing Java clients.
In other words, `kotlin-stdlib` is optional, and it is needed only if the code uses `kotlin stdlib` in the implementation.

You could add something like the following to `gradle.properties`, and the compilation would fail if you accidentally use something from std

[2022-02-07 13:57] vlsi opened #301 "LazyArbitrary does not delegate Arbitrary#edgeCases"
Is there a reason `LazyArbitrary` not delegating `edgeCases`?

I have no particular use case, however, it looks like delegating `edgeCases` should be ok

[2022-02-08 12:02] vlsi commented on #250
@jlink , there's an update: https://youtrack.jetbrains.com/issue/KT-41062#focus=Comments-27-5752006.0-0

They suggest two options:
a) Migrate code to Kotlin
b) Write metadata explicitly. For instance, copy-paste [@Metadata](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-metadata/) annotation from a Kotlin-generated bytecode, or generate the metadata via [kotlinx.metadata](https://github.com/

[2022-02-08 14:40] jlink commented on #250
b) sounds much more realistic to me than a) At least short- or mid-term.

[2022-02-08 15:02] vlsi commented on #250
What's wrong with converting a single (or several) interface to Kotlin?
I guess it would be easier than hand-crafting the metadata and praying for it to work.

[2022-02-08 15:41] vlsi commented on #134
I tried yet another approach: expose `state` into a class field before calling `sequenceArbitrary.run(state)`.
That allows generators to use the current state as they generate values, so they can lookup the available values.

It almost works, and now I am able to generate basic actions.

The findings so far:
1) Stateful generators should be re-instantiated for each try, however, jqwik caches the g

[2022-02-08 20:44] vlsi commented on #250
Just in case, `:api` compilation takes ~1-2 seconds in total.

[2022-02-09 07:31] jlink commented on #301
The problem is recursion. `Arbitraries.lazy()` is explicitly made to support probabilistic recursion as described here: https://jqwik.net/docs/current/user-guide.html#recursive-arbitraries.

Edge cases generation requires a fully expanded generator hierarchy. Expanding a recursive arbitrary will never end, though, and lead to a stack overflow.

Interestingly, exhaustive generation does not suffer

[2022-02-09 07:31] #301 closed

[2022-02-09 14:41] vlsi commented on #250
No, I do not do `Arbitrary<Any>`.

Sometimes specifying variance via `Arbitrary<out ...>` helps.
Sometimes `typealias Arbitrary<T> = net.jqwik.api.Arbitrary<out T>` is good enough.

I ran into variance issues when I tried to introduce an interface for deduplicating signatures: `interface ArbitraryAction<T> : Arbitrary<MyActionType<T>>`
For now, I just ignore the idea and write `Arbitrary<out MyAct

[2022-02-09 14:45] jlink commented on #250
That could be a type alias then.

[2022-02-09 14:48] jlink commented on #134
Would `CompositeAction` from https://github.com/jlink/jqwik/issues/300 help in this case?

[2022-02-09 14:52] vlsi commented on #134
I do not think so.
I do want to have `remove table()` as one of the isolated actions (e.g. `add table A`, `add table B`, `remove table A`).

[2022-02-09 14:58] jlink commented on #134
Does shrinking still work with this approach?

[2022-02-10 14:40] jlink commented on #296
@tvelka Is there anything you'd like to improve in the current description of Arbitraries.create(..):

[code]

[2022-02-10 14:42] jlink commented on #296
@tvelka Feel free to reopen when you have a suggestion for improvement.

[2022-02-10 14:42] #296 closed

[2022-02-10 15:03] vlsi commented on #134
It looks like I figured out my way through generating and applying the nested dependent actions, and I would proceed with actions that do call the database to see how all this works.

I ended up using a more-or-less single class for all the actions, and I use a builder function to generate them:

[code]

So far the generated sequence seems to use actions I supply, and it seems to reuse the names a

[2022-02-10 15:42] tvelka commented on #296
I think this will suffice. Thank you.

[2022-02-10 15:50] tvelka commented on #296
Oh, I forgot to mention, that I took the time and rewrote the generators so that it uses the `.flatAs(...)` instead.

[2022-02-15 13:09] vlsi commented on #134
It looks like shrinking does not work.

[code]

The following looks suspicious:

[code]

Do you think `net.jqwik.engine.properties.shrinking.IgnoreExceptionShrinkable#distance` should ignore the exception rather than throw it from `distance`?

----

I guess the use case is if the shrinker removes "add table" action, then all the other actions that "modify the table" can't really succeed, and they

[2022-02-16 06:25] luvarqpp commented on #100
Hi, is this part of current jqwik? I see that timing is achievable using around property hook (example can be found here: https://jqwik.net/docs/current/user-guide.html#lifecycle-hook-types ). Also I see that there is an [`Timing`](https://github.com/jlink/jqwik/blob/cc952102e3209a20c63e9b1cb6a7c3007a028b91/documentation/src/test/java/net/jqwik/docs/lifecycle/Timing.java) annotation, which seems t

[2022-02-16 07:00] jlink commented on #100
I've not yet come around to implement it properly. `Timing` and `MeasureTime` are examples you can find in the repository but they are not in a state for including them in the library. Feel free to use them (by copy) in your own code if they serve your need.

[2022-02-16 07:09] jlink commented on #134
`Arbitrary.ignoreException` is about ignoring exception during _value_ generation.
My guess is that in this case the exception comes from `arbitraryTable().perform(`update object field`())`, i.e. during _arbitrary_ creation. Maybe you can arrange for this code to never fail but return a fixed arbitrary instead?

In the end, it's all a hack anyway, I'm afraid. Which will hopefully no longer be nece

[2022-02-16 07:42] vlsi commented on #134
`perform` is a `combine`, so the creation itself is just fine. The instantiation of arbitraries does not seem to be an issue here.

The stacktrace clearly says that exception happens when `ShrinkableActionSequence` calls `ShrinkingDistance.forCollection`.

I have my own copy of `stateful` package which is effectively the same code as in jqwik.

Here's what happens:
1) Initially jqwik generates act

[2022-02-16 07:59] jlink commented on #134
Where exactly did you replace it?

[2022-02-16 08:01] vlsi commented on #134
https://github.com/jlink/jqwik/blob/00185e2d52137ab12bff0b7dee180f96542fded4/engine/src/main/java/net/jqwik/engine/properties/stateful/ShrinkableActionSequence.java#L69 and https://github.com/jlink/jqwik/blob/00185e2d52137ab12bff0b7dee180f96542fded4/engine/src/main/java/net/jqwik/engine/properties/stateful/ShrinkableActionSequence.java#L78 (AFAIK both cases are needed)

[2022-02-16 08:14] jlink commented on #134
Well, the code is ~~a mess~~ complicated because stateful.

I wonder if it's better to make `ShrinkingDistance.forCollection` and `ShrinkingDistance.combine` robust against exceptions during embedded `Shrinkabel.distance` calls. Or if that would hide bugs in user code.

[2022-02-16 09:19] vlsi commented on #134
Frankly speaking, that was my first idea, however now I am inclined hiding exceptions won't help.

Here's another stacktrace:

[code]

----

The issue seems to be that it is not valid to call `shrink` on a shrinkable that has no model.
The model itself requires applying the previous actions.
However, before applying the actions, we need to sort them so we try "simplest sequences first".
That creat

[2022-02-16 11:07] jlink commented on #134
Without having dived into that too deeply, flat-mapping is always making shrinking much worse. The upcoming approach will have to do some flat-mapping anyway in some circumstances, but probably with more knowledge about runtime dependencies. Doing ad-hoc modifications to distance metrics and shrinking might improve the situation for one use case but deteriorate it for another. I'd rather invest my

[2022-02-16 11:34] vlsi opened #303 "Ability to re-run a shrunk case"
## Testing Problem

Stateful testing starts with a sequence of 31 actions, and then shrinking takes noticeable time and it fails with an example of 3 or so actions.
It would be nice if there was a way to start with a shrunk example right away.

## Suggested Solution

I'm not sure how jqwik handles shrinking, however, `shrinkSeed` might be a `base64 bit sequence` like: `skip 5 shrink suggestions`,

[2022-02-16 12:06] vlsi opened #304 "Add Action.weight so more impactful actions are reduced first during shrink phase"
## Testing Problem

I test a sequence of actions that creates tables in the database.
Some of the actions are fast as they merely update in-memory state, and another actions call the database.

If the sequence of actions fails, I want jqwik to shrink database-related actions first, so it first discovers the minimal set of DB actions to reproduce the failure, and then it could reduce the rest actio

[2022-02-16 12:12] vlsi commented on #134
I believe `ShrinkableActionSequence.distance` is not really used anywhere.
`ActionSequence` is a top-level shrinkable, so noone really would call its `distance` method.

`jqwik` seems to use shrink suggestions in the exact order returned from `ShrinkableActionSequence#shrink` method.

[2022-02-16 12:18] vlsi opened #305 "JqwikStreamSupport#concat(List<Stream<T>>) seem to be O(N^2)"
## Testing Problem

See https://github.com/jlink/jqwik/blob/00185e2d52137ab12bff0b7dee180f96542fded4/engine/src/main/java/net/jqwik/engine/support/JqwikStreamSupport.java#L58-L68

The code is hard to follow, and it creates multiple temporary `ArrayList` objects (one per element).

## Suggested Solution

Would `.flatMap` work?

For example:

[code]

[2022-02-16 12:35] jlink commented on #303
Rerunning just the shrunk sample is covered by ˋAfterFailureMode.SAMPLE_ONLYˋ. Won’t that suffice?

The problem with exposing the full shrinking information is that it can be quite lengthy; it’s actually a list of shrink results with potentially a lot of entries.

[2022-02-16 12:49] jlink commented on #134
`ShrinkableActionSequence.distance` will be used when a stateful property has more than one for-all parameter.

[2022-02-16 13:13] jlink commented on #305
At first glance

    return streams.stream().flatMap(Function.identity());

should work. However, it breaks in recursive scenarios, probably due to the laziness of Java streams.
See e.g. ArbitrariesRecursiveTests.ShrinkingTests.complexShrinking.

I added a clarifying comment to the code.

Have you noticed any detrimental effects of the current solution?

BTW, the flat-map version will also be O(n^

[2022-02-16 13:15] jlink commented on #305
At the time I had read https://www.techempower.com/blog/2016/10/19/efficient-multiple-stream-concatenation-in-java/ and decided on the current implementation anyway. Probably for the reason mentioned above.

[2022-02-16 13:42] vlsi commented on #305
The most significant effect was I spent noticeable time trying to understand the logic behind `net.jqwik.engine.properties.stateful.ShrinkableActionSequence#shrinkActionsOneAfterTheOther`.

It used `JqwikStreamSupport.concat`, and it was hard to understand what that means.

In my case all the streams are finite,

[2022-02-16 13:45] vlsi commented on #305
Why?
I don't see why would it re-allocate the array again and again.

----

As per the article, `flatMap` has issues, so a smaller chage might be use `subList(int fromIndex, int toIndex)` rather than re-allocate `new ArrayList` and remove the head.

[2022-02-16 13:52] vlsi commented on #303
`SAMPLE_ONLYˋ would be helpful for local runs.

Would it work for reproducing CI failures?

[2022-02-16 13:58] jlink commented on #303
If you keep the jqwik database around across runs, then yes.

It may be useful, though, to have an explicit way of rerunning a shrunk sample. Given the actual shrinking data, your example would more look like:

[code]

with the Strings being theoretically very long, in practice usually below 50 chars.

[2022-02-16 14:24] jlink commented on #305
I don't think it does. `rest.remove(0)` changes the  original list, so there's only a single list created. I'm not sure though if we're talking about the same thing.

[2022-02-16 14:30] #305 closed

[2022-02-16 16:42] vlsi commented on #304
Closing as I need to gather more cases first.
It looks like weighted shirnking does not yield faster shirnking.

So far I have:
input: 33 actions
after shrink: 3 actions

"shrink from bigger weight to lower weight": 36 steps, ~75 seconds
"shrink from lower weight to bigger weight": 26 steps, ~85 seconds
"shrink random actions" (shuffle(new Random(steps.length))): 32 steps, ~45 seconds

[2022-02-16 16:42] #304 closed

[2022-02-16 17:59] jlink commented on #304
Your idea might not have helped in this case. I think, however, that finding a _declarative_ way to influence shrinking behaviour, would generally be useful.

[2022-02-16 18:19] vlsi commented on #303
Just in case, SAMPLE_ONLY fails without providing the reason:

[code]

[2022-02-16 18:27] jlink commented on #303
Is it in the context of your stateful generation?

[2022-02-16 18:47] vlsi commented on #303
It is

[2022-02-16 21:15] jlink commented on #303
To be frank, I’ve never considered that case: sample recreation for action sequences. Now that I do, it seems obvious that it cannot work as is. Since building up the actual sequence requires running the sequence. Maybe I’ll find a work-around for the new approach to cover that.

[2022-02-16 21:37] vlsi commented on #303
I am inclined to implement a special Action#toSourceCode so the test prints a semi-copy-pastable fragment that could be added to a test class.

Of course, it does not replace re-runner, however, it is worth baking the discovered bugs into small non-property tests so they do not change as generators improve.

[2022-02-17 07:08] jlink commented on #303
If that can bridge the shortcomings of the current stateful generation it's probably worthwhile.

[2022-02-17 13:02] vlsi commented on #134
Unfortunately, `Arbitraries.of(valuesFromCurrentState)` does not seem to support shrinking.
It has effectively the same shrinking pitfalls as `index % model.length` mapping: if one of the first actions is removed from the sequence, then subsequent actions that used that value do not know they no longer apply.

The code is easier to read and write, however, shrinking behaviour is still bad.

For in

[2022-02-17 13:22] jlink commented on #134
`Arbitraries.of(..)` tries to shrink towards values on the left. The values themselves cannot be shrunk, though.

IMO you should either try to create your actions without reference to the state (e.g. through s.t. like the modulo approach together with more complex actions) or wait till state-dependent generation becomes available. I don't figure there's a sane way to add state-dependency ontop of

[2022-02-24 08:46] jlink commented on #134
Work on this issue, aka the new stateful support, started on https://github.com/jlink/jqwik/tree/new-stateful

[2022-02-24 08:56] vlsi commented on #134
Do you publish snapshots for it?

[2022-02-24 10:28] jlink commented on #134
As soon as it can reasonably be used, I plan to.

[2022-02-28 13:32] rujames opened #308 "Data-Driven tests cannot provide null values for parameters"
## Testing Problem

Data-driven tests for which tuples contain null values cannot be executed, as the [DataBasedShrinkablesGenerator](https://github.com/jlink/jqwik/blob/main/engine/src/main/java/net/jqwik/engine/properties/DataBasedShrinkablesGenerator.java) is unable to retrieve a class when checking for compatibility.
[code]

[code]

This can be sidestepped with the use of optionals, but this s

[2022-02-28 13:37] jlink commented on #308
Thanks for the catch. Looks like a bug at first glance. Will verify when back at work, probably next week.

[2022-02-28 15:12] dhoepelman opened #309 "Shared random value between providers"
## Testing Problem

I have a domain where a lot of providers depend on some shared value, let's say it's the current timestamp.
Currently it's possible to have a fixed value and share this, but not test random different values.

[code]

In this example there are trivial ways to not need this (such as generating 1 list and partitioning), but this is an example of the base case where you have depend

[2022-02-28 16:08] jlink commented on #309
[This issue](#294) might be related or even the same feature request.

[2022-02-28 16:12] jlink commented on #309
The standard solution for this problem is to provide related values in a single collecting object (self-made or some container like Tuple) and use flat mapping to derive generators from the common dependency. That sometimes requires some boilerplating, though.

[2022-02-28 17:45] dhoepelman commented on #309
You linked this issue, but I see https://github.com/jlink/jqwik/issues/294 now. That's indeed the same feature request, thanks!

[2022-02-28 17:45] #309 closed

[2022-02-28 20:41] jlink commented on #309
It’s 2022 and web editors are still a PITA ;-)

[2022-03-03 16:53] schauder opened #310 "Lazy evaluation of Footnotes"
## Testing Problem

I'm currently doing tests related to date incompabilities with databases.
Basically I'm checking that `f(d) == fx(d)` where fx is some database operation.
In case of a failure just having the result `expected 0 to be 53` is not very helpful.
I'd like to have a table the function results for a range of dates around d.

This can easily done with footnotes, but if database calls a

[2022-03-07 11:28] jlink commented on #308
@rujames BTW, `Tuple.of(1, 1)` does not fit the type of fizzBuzzWorks method.

[2022-03-07 11:34] jlink commented on #308
Fixed in https://github.com/jlink/jqwik/commit/524a1fe178de8136a6ee525854733596b5a24168

[2022-03-07 11:47] jlink commented on #308
Available in 1.6.5-SNAPSHOT.

[2022-03-07 11:47] #308 closed

[2022-03-07 14:10] jlink commented on #310
@schauder Thanks for the suggestion.

In principle, this looks like a useful feature to me. There's one open question, though: When in the lifecycle of a property try should the supplier's `get()` method be called? There are two possibilities:

- As late as possible: To have the intended effect of not executing unnecessary calls (to a database or another costly resource) the call should happen onl

[2022-03-07 14:19] schauder commented on #310
Not sure how others are using Footnotes and extensions, but for my use case it would make most sense when the `get` gets called as early as possible, i.e. right after a failing the test itself.

[2022-03-07 14:21] schauder commented on #310
Maybe a warning could be logged when lazy footnotes are present and failure only manifests through an extension, that those don't get properly evaluated.

[2022-03-08 12:07] jlink commented on #310
Maybe that's doable, maybe it would be too complicated.

Would something like

Footnotes.addAfterFailure( () -> "my footnote" )

suffice for your needs?

[2022-03-10 08:28] schauder commented on #310
Absolutely.

[2022-03-10 16:48] gabarise commented on #121
This seems to be on the backburner because of perceived complexity. Would the JavaBeans spec provide a convenient way to tackle this? Maybe something along the lines of iterating through the class's BeanInfo and working with properties that have a write method? Custom PropertyDescriptor implementations could be implemented to hold the generator metadata.

[2022-03-10 18:31] jlink commented on #121
Actually, I don’t think the implementation would be too complicated. It’s just that I haven’t seen demand for it and I haven’t seen a good DSL/API suggestion for it, yet. Do you have a concrete use case? Do you have an API in mind?

[2022-03-14 21:47] klitoskyriacou opened #316 "@WebDomain generates invalid hostnames"
I expected the following test to pass:

[code]

Instead, it fails with the following message:

[code]

The above generated sample string is an invalid URI because RFC2396 section 3.2.2 says "The rightmost domain label of a fully qualified domain name will never start with a digit".

I'm using jqwik 1.6.5 on JRE 17.0.2+8-Ubuntu-120.04.

[2022-03-15 06:11] jlink commented on #316
@klitoskyriacou Thanks for the catch. I’ll check.

[2022-03-15 06:15] jlink commented on #316
@klitoskyriacou Which jqwik version are you using?

[2022-03-18 08:14] jlink commented on #316
Fixed in https://github.com/jlink/jqwik/commit/ae8e2a3905784012716f847dfb5d93ffb9e6f905

[2022-03-18 08:14] jlink commented on #316
Released in 1.6.6-SNAPSHOT

[2022-03-22 05:40] androidfred opened #317 "can jqwik not tolerate other, non-jqwik parameters?"
## Testing Problem

[code]

is there no way to enable jqwik to tolerate other, non-jqwik parameters?

## Suggested Solution
I don't have a suggested solution, just a question

## Discussion
I don't have a suggested solution, just a question

[2022-03-22 06:17] jlink commented on #317
You’re mixing two things that cannot be mixed: a jqwik property and a Jupiter parameter resolver. Jupiter and jqwik are seperate test engines that come with their own lifecycle, and their own lifecycle hooks. The solution to your problem is to use jqwik‘s [ResolveParameterHook](https://jqwik.net/docs/current/user-guide.html#other-hooks) instead of `ParameterResolver`.

[2022-03-22 06:54] androidfred commented on #317
Right, I did see the hooks but was hoping I was missing something as it's unlikely that will refactoring to turn them into ResolveParameterHook is appropriate for this particular codebase of ours. No worries, understood, thanks for the response to what was probably a dumb question from a newbie :)

[2022-03-22 06:54] #317 closed

[2022-03-22 07:26] jlink commented on #317
You don't have to refactor them, duplicating would suffice. If you don't rely too  much on `ExtensionContext` having a common parent class that does the bulk of the work is often quite simple. I've done that a few times.

[2022-03-25 09:08] jlink opened #318 "Add Time-based Constraints to State-based Properties"
## Testing Problem

Some expected properties of state-based systems are time-related, e.g.:

## Suggested Solution

Add functionality similar to what [Quickstrom](https://quickstrom.io/) does for Web UIs.
It's well described in [this paper](https://arxiv.org/abs/2203.11532)

## Discussion

This probably requires the new state-dependent generation. See https://github.com/jlink/jqwik/issues/134.
Imp

[2022-03-26 12:14] jlink commented on #134
The first attempt at more flexible action generation is released in 1.7.0-SNAPSHOT

The package in which all new types are located is `net.jqwik.api.state`.
The new underlying concept are "chains", which are iterables the elements of which are created on the fly.
There are different kinds of chains the most interesting one related to this issue are `ActionChain`s.
Here's two examples to demonstrat

[2022-04-03 09:04] jlink opened #320 "API Discussion: New State-dependent Functionality - Single Method vs. Fluent API"
From a functionality perspective the revised state-dependent generation has been discussed in https://github.com/jlink/jqwik/issues/134. I'm wondering about the best (i.e. most intuitive API) for providing the functionality.

## Current API

Currently creating an arbitrary for an `ActionChain` looks like this:

[code]

The first parameter is a supplier for the initial state, the following vararg p

[2022-04-03 09:06] jlink commented on #134
I moved the discussion about the best API (not the functionality) to https://github.com/jlink/jqwik/issues/320

[2022-04-03 14:16] kevinb9n commented on #320
I haven't used this library, but I have released a lot of fluent APIs (e.g. in Guice, Guava, Truth, Flogger...). I think the pattern is great, though I like it much more for expressing an intricate _single_ task than I do for lumping many independent tasks together into a single chain (this is, in fact, one of the most apparent differences between Truth and AssertJ).

Since Java 8, classes with *t

[2022-04-04 06:16] jlink commented on #320
The chunking feels really random here.

That's a good argument and the reason why `Action` has these two methods in the first place. Separating the two aspects in a fluent API somehow feels like tearing a useful cohesion apart.

A fluent API can always (?) adapt by inserting a new configuration step into the chain of commands. That's why it feels to me more robust towards any changes. But that may

[2022-04-04 09:10] dhoepelman commented on #320
Both APIs are defensible. In terms of usability, I would go for the fluent API, since that is easier for people who do not know the API (yet) and for simple cases.

For cases where you want to re-use, or where precondition and transformation are strongly connected, I would keep `Action` as a fallback and make it fully standalone, so include weight. Then the fluent API could be seen as a builder fo

[2022-04-04 11:42] jlink commented on #320
Is "modify afterwards" always the preferred order for you or does it depend on something else?

[2022-04-04 12:18] dhoepelman commented on #320
I think it would be good to go from important / required -> least important / optional.

Since `transform` is what this API is about and it doesn't make sense to have an action without it it's a decent starting point for a fluent API. Weight/Precondition can be seen as modifiers to the transformation.

[2022-04-04 12:31] jlink commented on #320
Sounds like a reasonable heuristic. Moreover, this leads to exactly one keyword (`transform`) to start a new action specification.

[2022-04-09 08:45] jlink commented on #320
I just experimented a bit with the approaches. One problem with

[code]
 is implementing it in a typesafe manner.  Each of the methods used above (transform, withWeight, when) must return the final type `Arbitrary<ActionChain>`. This means that there are
- either many different subtypes, each of which representing a state in the underlying state-machine of configuring the resulting arbitrary insta

[2022-04-09 08:53] jlink commented on #320
Some form of reasonable (?) compromise could be:

[code]

[2022-04-19 07:05] jlink commented on #320
One more thing: A valid action chain needs at least one action, i.e., at least one `addAction()` statement is required.

[2022-04-30 13:36] mihxil opened #327 "Stack overflow when migrating from 1.6.4 to 1.6.5"
## Problem

I tried to up the jqwik version from 1.6.4 to 1.6.5. Which results in stack overflows of this kind:
[code]

See: https://github.com/mihxil/math/runs/6240335463?check_suite_focus=true in which it is contained.

This does not occur when running such a test in isolation, which makes me think that something is statically cached.

I suppose someone familiar with the jqwik code may have a hu

[2022-04-30 16:28] jlink commented on #327
I’ll have a look at it. Indeed, there have been changes in code that’s being touched in the stack trace.

[2022-05-01 07:27] vlsi commented on #134
Sorry for the delay. I try to migrate to the new API, and the first question I have is have considered splitting `state.Action` into `state.StatefulAction` and `state.StatelessAction`?
Then the methods in question could be just abstract methods, and the users would know which methods they should implement. The API when you have to override exactly one of the two methods looks a bit awkward :-/

PS

[2022-05-01 07:37] vlsi commented on #134
[code]

Have you considered "description" parameter in `Transformer.mutate` and similar cases to be `Supplier<String>`?
I guess the description is not really visible unless the test fails or in case the user wants to debug the test.
If you require `String description`, then you basically force everyone to render strings that are not really used.

[2022-05-01 08:48] jlink commented on #134
@vlsi Thanks for the hints. Both seem reasonable. Will think about it.

[2022-05-01 08:50] jlink commented on #320
Thanks for all the input. Moving final discussion back to https://github.com/jlink/jqwik/issues/134

[2022-05-01 08:50] #320 closed

[2022-05-01 10:22] jlink commented on #327
Hopefully fixed in https://github.com/jlink/jqwik/commit/cc02b52d480495a6ee2f8b44f8884378691de93b

[2022-05-01 10:23] jlink commented on #327
Fix released in 1.7.0-SNAPSHOT

@mihxil Try with snapshot release. It worked when I did.

[2022-05-01 10:23] #327 closed

[2022-05-01 11:05] vlsi commented on #320
I looks like a typical builder rather than fluent interface, so adding the final `.build()` might be reasonable:

[code]

It might be that adding `ActionBuilder` would ease discoverability:

[code]

[2022-05-01 12:31] vlsi commented on #134
PS. The naming of `Action<S>` looks confusing.

My immediate thought is that `Action<S>` would be similar to `Consumer<S>` or `Function<S, S>`.
However, in practice `state.Action<S>` is more like `TransformerArbitraryFactory<T>` since the key methods are `Arbitrary<Transformer<S>> transformer()` and `Arbitrary<Transformer<S>> transformer(S state)`.
For instance, if there was `TransformerArbitrary<

[2022-05-01 13:39] jlink commented on #134
Action refers to the term that’s often used by people describing stateful property testing. TransformerArbitraryFactory may technically be correct, but it’s bad for marketing and remembering IMO.

[2022-05-02 13:14] jlink commented on #134
`Transformer.transform` and `Transformer.mutate` now take `Supplier<String>` as parameter

[2022-05-02 13:16] jlink commented on #134
I hadn't known about that one. Cool when you want to test the latest gold.

[2022-05-03 12:04] vlsi commented on #134
Would you plese make the same changes for `state.Action`?

PS. It looks like `state.Action#just()` is not aligned with other factory methods. It looks like you typically put factory methods in `...s` class like `Chains` for `Chain`, `Arbitraries` for `Arbitrary`, so it looks like the factory methods should be in `state.Actions` class.

[2022-05-03 14:59] vlsi opened #329 "Add filtering to combine(...) (combineNotNull?)"
## Testing Problem

I combine arbitraries (for state-dependent testing), however, certain values are not acceptable, so I want to filter the outcome of the combination.

For instance, for testing `swap(i, j)` I need two indices. However, I would like to avoid calling `swap` when `i==j`.

[code]

## Suggested Solution

Add `combineNotNull`, `flatMapNotNull`, etc methods similar to `net.jqwik.api.Ar

[2022-05-04 09:56] jlink commented on #329
Sounds useful.

The not-null should be easy to simulate:

[code]

From a readability standpoint I'd rather have something like:

[code]

And similar for Kotlin.

Introducing `CombinatorX.asTuple()` together with Kotlin's deconstruction capabilities would get us _almost_ there I think:

[code]

[2022-05-04 10:04] jlink commented on #134
I think I want to experiment with this approach a bit in the new state package.

So currently I have static factories in `Chain`, `ActionChain`, `Transformer`, `Action` and `TransformerProvider`. Introducing five new classes just for the static methods does not feel right. But as you say, it's not aligned with the existing APIs. Alternatively their could be a single location for all static methods

[2022-05-04 10:08] jlink commented on #134
I explicitly did not do it for `Action.just(..)`. My reasoning: There are no variable parts, when using `just`; thus, the description will be either a constant string or it will be determined by the transformer and there you can use a `Supplier<String>`.

Can you think of an example where `Actions.just(Supplier<String>, ..)` provides added value?

[2022-05-04 12:01] vlsi commented on #329
The issue with `asTuple()` is that it requires mentioning the same variables multiple times which looks odd.

[code]

Currently `Combinator#as` wants a function that returns non-nullable result:

[code]

---

Adding `filter` to the combinators might be viable, however, it would require redeclaration of the variables which looks sad.

[2022-05-04 12:39] vlsi commented on #134
I thought exactly behind those lines, however, then I saw `Chains`, and that was why I thought `Action#just` was unintended.
Frankly speaking, I'm fine if factory methods are located in the interface itself (e.g. `Action`, `Chain`, `Transformer`).

There's a gotcha when multiple classes have the same `just` method, so you can't tell which one is in use if you use static imports.
I know there was a

[2022-05-04 12:44] jlink commented on #134
The method in `Chains` will move to `ActionChain`. I haven't found the time to finish the refactoring yet. :-(

[2022-05-05 11:11] jlink commented on #329
That's true for all filter methods, right?

[2022-05-05 13:03] vlsi commented on #329
`Arbitrary#filter` has only one parameter, so there's no issue with naming, reordering, etc.
`combine` zips multiple values, so re-declaration is more pronounced.

For instance:

[code]

vs

[code]

----

In any case, if there's `combine().filter()`, then everyone can add `combineNotNull` function.

[2022-05-06 06:23] jlink commented on #68
Link about the problem of well-balanced generation: https://www.drmaciver.com/2017/03/fully-automated-luxury-boltzmann-sampling-for-regular-languages/

And a simple implementation: https://github.com/hyperpape/needle/blob/main/needle-compiler/src/test/java/com/justinblank/strings/RegexGenerator.java

[2022-05-06 06:25] jlink commented on #68
Moreover, the `Chain` abstraction  introduced in 1.7.0 could also be helpful for implementing regexs.

Here's an example: https://github.com/jlink/jqwik/blob/main/documentation/src/test/java/net/jqwik/docs/state/RegexChainExample.java

[2022-05-08 08:35] vlsi commented on #134
Have you considered merging `predicate(State)` and `transformer(..)` methods?
For instance, what if `transformer(State)` could return something like `Arbitraries.empty()`?

[2022-05-08 12:09] jlink commented on #134
That was my first approach. I re-introduced preconditions because they enable much better shrinking.

[2022-05-08 12:58] vlsi commented on #134
Could you suggest some pointers?

I understand that trivial actions that have no preconditions and access no state for generating `Arbitrary<Transformer<..>>` might be easier to shrink. However, I do not understand how `precondition(State) + transformer(State)` is different from a single `transformer(State)` method.

The context of the question is that I struggle with supporting nested data types

[2022-05-09 06:23] jlink commented on #134
An action with a precondition but no access to the state for providing a transformer can be handled in shrinking like an action without any state-access at all. If the precondition is no longer valid the shrinking candidate will be discarded on evaluation of precondition.

But you can always return a NOOP transformer if you want to. Maybe introducing something like `Transformer.noop()` could enabl

[2022-05-09 06:47] vlsi commented on #134
I see. However, if the action accesses state for providing a transformer, then a separate precondition method does not seem helpful 🤷‍♂️

[2022-05-09 06:55] jlink commented on #134
Not sure. A precondition is a different concern than the actual provision. Having `Transformer.noop()` could serve both approaches.

[2022-05-09 11:04] jlink commented on #329
Added to TODO/BACKLOG.

[2022-05-09 15:05] vlsi commented on #134
I agree `Transformer.noop` sounds useful, especially if `Arbitrary.just(Transformer.noop())` would be automatically detected as an empty action.

[2022-05-10 05:18] jlink commented on #134
I’m struggling a bit with the concept of empty arbitrary because jqwik is built on the assumption that an arbitrary will produce an endless stream of values. Introducing it for this special usage feels wrong.  It’s more functional but less Java-ish.

[2022-05-10 08:18] vlsi commented on #134
Frankly speaking, I was previously bitten by Arbitraries.of(emptylist) producing an arbitrary that throws at generation time. It was hard to diagnose since it was not clear where did the empty arbitrary come from.

So it might make sense to split the existing Arbitraries.of(array|collection|...) into "of(array|...) arbitrary or throw if empty" and "ofOrEmpty(array|collection..)" that would return

[2022-05-10 09:10] jlink commented on #134
I think it's worthwhile to rethink this design and moving towards a more complete Arbitrary abstraction. It's too big a change to do it in connection with the new stateful API. I'd rather do it within the re-design for jqwik 2.

I'll go with `Transformer.noop()` for now and see if this is sufficiently clean for a first step.
I'd like to do a 1.7.0 release if possible this months to give more peopl

[2022-05-12 06:22] jlink commented on #134
[code]

Or rather top-level types `StateDependentAction` and `StateIndependentAction`?

[2022-05-12 06:32] jlink commented on #134
As for the builder, I tend to NOT have an `ActionChainArbitraryBuilder` but introducing an `Action.Builder` together with `ActionChainArbitrary.addAction(Function<Action.Builder, Action.Builder>)`.

My argument for not having an `ActionChainArbitraryBuilder` is that arbitraries are already some kind of builder. Nesting builders within builders promotes mental overload, especially since it does not

[2022-05-14 20:15] vlsi commented on #84
Here's an article that suggests to split random generators that affect structure of the input from the ones that affect data.

https://twitter.com/cestlemieux/status/1524806183466541056

[2022-05-16 05:49] vlsi commented on #134
After trying various approaches, I was able to launch some tests with the new API.

I have the following failure.
It looks like `SequentialActionChain.transformations` attempts to re-instantiate all the shrinkables after running the action sequence. However, the state has already been modified by that time, thus `generateShrinkable` fails.

Do you think ``SequentialActionChain.transformations` cou

[2022-05-16 06:15] jlink commented on #134
I guess it would be possible to eagerly collect all transformations when they are executed, but then the lazy evaluation of description strings will no longer make sense. That’s just guesswork though without looking at the code.

[2022-05-16 10:07] vlsi commented on #134
Yeah, I did not envision that when suggested lazy displayName computation :-/
I wonder if it would be possible to collect `Supplier<String>` or even the full list of transformers for the purposes of `List<String> ActionChain#transformations()`.

[2022-05-16 13:23] vlsi opened #330 "Add debugging mode so arbitraries are easier to understand in the Java debugger"
## Testing Problem

Understanding the nature of Arbitrary, Combinator, etc in the runtime debugger is hard since the classes provide virtually no information that users can relate to the source code.

It is hard to debug exceptions coming from Arbitratries, and it is hard to understand the contents of Java debugger.

## Suggested Solution

Add a mode where `ArbitraryImpl`, `Combinator`, etc would

[2022-05-16 13:30] vlsi opened #331 "Consider calling state.Action#precondition, state.Action#transformer without reflection"
## Testing Problem

I'm trying the new API from #134, and I see jqwik calls `state.Action` methods via reflection.
It makes it harder to understand the stacktrace.

## Suggested Solution

Call interface methods without reflection.

## Discussion

Is reflection needed there?
I do understand the reflection might help the engine to verify if the class has a non-trivial method implementation, however,

[2022-05-16 13:31] vlsi commented on #331
PS. I'm not sure this is an issue, and it looks like [GitHub Discussions](https://docs.github.com/en/discussions) might be better for these types of "issues".

[2022-05-16 15:56] vlsi opened #332 "Use Collections/Arrays#binarySearch in ChooseRandomlyByFrequency"
## Problem

The current [ChooseRandomlyByFrequency](https://github.com/jlink/jqwik/blob/main/engine/src/main/java/net/jqwik/engine/support/ChooseRandomlyByFrequency.java) uses a brute force approach when selecting the corresponding element.

## Suggested Solution

Use `List<Tuple.Tuple2<Integer, T>>` or `int[] weights + Object[] values` instead of `Map<T, Integer> upperBorders`.

## Discussion

Th

[2022-05-16 19:37] vlsi commented on #330
A relavant issue: `net.jqwik.engine.properties.arbitraries.randomized.IgnoreExceptionGenerator@4e4395c missed more than 10000 times.`

[2022-05-17 16:38] vlsi opened #333 "ContainerGenerator#nextUntilAccepted should avoid sequential collection scan for trivial cases like HashSet"
## Testing Problem

`Int.any(1..100).withoutEdgeCases().map { "COLUMN$it" }.set().ofMinSize(1).ofMaxSize(1000)`

Here's a stacktrace when jqwik uses `stream...toset...contains` which looks like a pure overhead.

[code]

## Suggested Solution

a) `ContainerGenerator#checkSpecifiedUniqueness` should skip `extractor.isUniqueIn(value, elements)` when `extractor==FeatureExtractor.identity()`. It seems

[2022-05-18 07:45] vlsi commented on #330
My current workaround for "missed more than 10000 times" is to add maxMisses parameter with a random (hard-coded) value, so when I see `Filtering [net.jqwik.api.RandomGenerator$$Lambda$497/0x000000080042a440@6391b276] missed more than 934 times` I can check for 934 in my code.

[2022-05-18 07:55] vlsi opened #334 "API: prefer lambdas as the last parameters"
## Testing Problem

APIs, when non-lambda arguments follow lambda, are awkward to use, especially when lambda spans across multiple lines.

For instance:

[code]

Usage:

[code]

## Suggested Solution

Prefer placing lambdas at the tail of the argument list since lambdas might become multiline.
Lambdas at the end help both Java and Kotlin:
* 934 at the beginning is way easier to notice and relate

[2022-05-19 12:23] vlsi opened #335 "Support "empty" arbitrary"
## Testing Problem

See https://github.com/jlink/jqwik/issues/134#issuecomment-1120375178

Similar case:

`frequency(empty array)` fails with

[code]

## Discussion

It might be helpful to explicitly support "empty arbitrary", so:
1) combine(emptyArbitrary(), other arbitraries) yields emptyArbitrary()
2) emptyArbitrary().map, emptyArbitrary().flatMap yields emptyArbitrary()

Pros:
* Making the res

[2022-05-19 12:36] vlsi commented on #335
Here's another case. If I split `single` and `multiple` transformers, I might want to put it as follows:

[code]

However, `add multiple table` is not always possible, so I would prefer that `add multiple table` could return `emptyArbitrary` which would be ignored by `frequencyOf`.

Of course, I could work around that by something like

[code]

[2022-05-19 13:46] vlsi opened #336 "Add ability to limit tests by test duration rather than the number of test iterations"
## Testing Problem

I'm testing database-related integration cases like "create table", "drop table", and the sequence of operations is generated on the fly (see #134), so `@Property(tries=42)` is not suitable for me as I have no idea how much time a single iteration would take.

## Suggested Solution

Support something like `@Timeout` from JUnit5: https://junit.org/junit5/docs/5.5.1/api/org/junit

[2022-05-19 13:57] vlsi commented on #336
That makes sense, and I have pretty much the same intention: allow stop the test as soon as the first limit is exhausted.

As I started adding my own `@Timeout`, and I immediately realized I want to be able to pass the timeout from the command line (e.g to allow different CI jobs to have different fuzz durations).

I'm not sure what to do about it, and it might be that a generic "pass values from

[2022-05-19 14:14] vlsi opened #337 "Add a generic way to override property parameters (and defaults) from the system properties"
## Testing Problem

"set property duration from a command line" (see https://github.com/jlink/jqwik/issues/336)
"override a specific seed with RANDOM when running in CI" (see https://github.com/jlink/jqwik/pull/149)

## Suggested Solution

Support properties like
* `jqwik.property.$className.$methodName.$propertyName=$value` (a special value would likely be needed for reverting the value to DEFAUL

[2022-05-19 14:16] vlsi commented on #336
I moved the discussion to #337

In any case, I think it would be fine to put timeout to `@Property(...)` (and `@PropertyDefaults`).

[2022-05-19 14:20] vlsi commented on #336
Well, it is awesome there's `net.jqwik.api.lifecycle.TryExecutionResult#satisfied(shouldPropertyFinishEarly=true)` which would do exactly what I need for the timeout feature :)

[2022-05-19 17:49] vlsi opened #338 "Shrinking stateful chain yields OutOfMemoryError"
## Testing Problem

Shrinking stateful chain causes the following.
I'll attach details from the heap dump soon

[code]

[2022-05-19 19:22] jlink commented on #338
Need a reproducible example for that.

[2022-05-19 21:23] vlsi commented on #338
It looks like one of the streams within `ShrinkableChainShrinker` has been buffered (e.g. like in https://stackoverflow.com/questions/29229373/why-filter-after-flatmap-is-not-completely-lazy-in-java-streams).

There were 721601 instances of `ShrinkableChain` in the heap.

Unfortunately, jqwik did not print the seed to reproduce before failing  🤷‍♂️

<img width="849" alt="heap dump dominators" src=

[2022-05-20 05:52] vlsi commented on #338
Just for reference, there's `jdk.internal.lambda.dumpProxyClasses=/path/to/dir` (see https://stackoverflow.com/a/30944839/1261287 ) to dump lambda classes. Hope it would narrow down the reason for the failure.

[2022-05-20 05:53] vlsi commented on #338
<img width="1308" alt="stream pipeline that buffered results" src="https://user-images.githubusercontent.com/213894/169459923-575dc846-ecd3-4e83-aca4-5d60ec497bfa.png">

[2022-05-22 16:14] vlsi opened #339 "equals and hashCode methods for Arbitraries vs Memoize.memoizedGenerator"
`Memoize.memoizedGenerator(Arbitrary<U> arbitrary, ...` seems to expect well-defined `equals` and `hashCode`.

However, many jqwik arbitraries use default hashCode and equals since they are fined via anonymous classes (e.g. `Arbitrarires.just`, combine, flatMap, etc).

Does it make sense to move the implementation to top-level classes and override `equals`, `hashCode` accordingly?

Note: it looks

[2022-05-22 16:35] vlsi opened #340 "DefaultSetArbitrary#flatMapEach should use LinkedHashMap instead of HashMap for reproducible results"
## Testing Problem

`HashSet` might cause non-reproducible results even if the same `seed` is provided.
For instance, `HashMap` might use `identityHashCode` as a tie-breaker

`Collectors.toSet()` seems to be impacted as well.

## Suggested Solution

Use `LinkedHashSet` for `DefaultSetArbitrary#flatMapEach`

[2022-05-23 05:53] hellosagar opened #341 "How does Arbitaries.list() actually works?"
## Problem Statement

`Arbitaries.oneOf()` will pick any one of the values and then will try for all the Actions one by one

How does this exactly generate `ListArbitrary<T> Arbitrary.list()` I mean for example if `jqwik` generates the below which is a ListArbitrary how actually tries calculates
[code]

In the above example Arbitaries contains two values `something1` and `something2` and then conv

[2022-05-23 05:59] hellosagar commented on #341
and How to print all the generated inputs by jqwik

[2022-05-23 06:29] jlink commented on #341
https://jqwik.net/docs/current/user-guide.html#additional-reporting-options

[2022-05-23 06:34] jlink commented on #341
Basic combinatorics: List of size 3 with two options per element = 2 to the power of 3 combinations. Or maybe I don’t understand your question.

In general, however, it’s about randomised generation. Exhaustive generation only works in simple cases.

[2022-05-23 08:35] hellosagar commented on #341
Thanks for the quick response. Yes, you do understand it right.
The cases generated for the 2 element with size of list is 2 are:
[code]
4 cases/tries in total

So, for the first cases `jqwik` run the system under test with the `true` and then run it with `true` again according to the first test case/try. right?

[2022-05-23 08:51] jlink commented on #341
Don’t know what you mean. Can you show the actual property so that I understand what you mean by „run the system under test“.

[2022-05-23 10:35] hellosagar commented on #341
Well, I mean here we are creating the Arbitary with three states
[code]

and here for that test
[code]

Here the tries are going to be 4,
T T
T F
F T
F F

So, when we got the first try i.e `T T` the state class is initiated only once, and then for the second try, it's only going to construct the object of the `state` class again right?

previously, with the system under test(SUT)  I mean like `Lif

[2022-05-23 10:36] hellosagar commented on #341
which platform is preferable for asking and discussing things like this? As I feel GitHub issues is not the right place for that

[2022-05-23 11:57] vlsi opened #342 "Avoid recursion in CombinedIterator"
## Testing Problem

I need to create database tables, and I want to test extreme cases like "1000 columns in a single table".

My code looks as follows:

[code]

The current implementation causes extremely long stacktraces, and it is slow for cases like 1000 elements (~3 seconds for fetching 1000 elements out of CombinedIterator).
One of the pitfalls is that each of `net.jqwik.engine.support.combi

[2022-05-23 15:02] jlink commented on #341
I’d say stack overflow is the most suitable one: https://stackoverflow.com/questions/tagged/jqwik

[2022-05-23 15:04] hellosagar commented on #341
Closing this for now, because I got my answer :)

[2022-05-23 15:04] #341 closed

[2022-05-24 06:19] hellosagar commented on #341
@jlink for discussing conceptual things regarding PBT, should I also post on StackOverflow? or isn't it better to use the [Github Discussion feature](https://github.com/robolectric/robolectric/discussions) like this one.

Just throwing my thoughts loud